# Galaxy Message Queue
# Galaxy uses AMQ protocol to receive messages from external sources like 
# bar code scanners. Galaxy has been tested against RabbitMQ AMQP implementation.
# For Galaxy to receive messages from a message queue the RabbitMQ server has 
# to be set up with a user account and other parameters listed below. The 'host'
# and 'port' fields should point to where the RabbitMQ server is running. 

#[galaxy:amqp]
#host = 127.0.0.1
#port = 5672
#userid = galaxy
#password = galaxy
#virtual_host = galaxy_messaging_engine
#queue = galaxy_queue
#exchange = galaxy_exchange
#routing_key = bar_code_scanner
#api_key = 

# The following section(s) 'scanner#' is for specifying the state of the 
# sample this scanner represents. This state name should be one of the 
# possible states created for this request type in Galaxy
# If there multiple scanners attached to this host the add as many "scanner#"
# sections below each with the name & prefix of the bar code scanner and 
# the state it represents
#[scanner1]
#name = 
#state = 
#prefix = 

#[scanner2]
#name = 
#state = 
#prefix = 