{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": ["transform-vue-template", "@babel/plugin-syntax-dynamic-import"],
    "ignore": ["i18n.js", "utils/localization.js", "nls/*"]
}
