# This file lists acceptable images to allow runing.
#
# This allows you, the admin, to create multiple flavours
# for your users to run. E.g. maybe you need a specific branded flavour,
# you can create the image based on our default image and add the
# appropriate files.
---
-
    image: quay.io/bgruening/hicbrowser
    description: |
        A simple web browser to visualize Hi-C and other genomic tracks
