<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE visualization SYSTEM "visualization.dtd">
<visualization name="test">
    <data_sources>
        <data_source>
            <model_class>HistoryDatasetAssociation</model_class>
            <test type="isinstance" test_attr="datatype" result_type="datatype">data.Data</test>
            <to_param param_attr="id">dataset_id</to_param>
            <to_param assign="bler">string</to_param>
            <to_param assign="False">boolean</to_param>
            <to_param assign="-5">integer</to_param>
            <to_param assign="3.14">float</to_param>
            <to_param assign="{}">json</to_param>
        </data_source>
    </data_sources>
    <params>
        <param>default</param>
        <param type="str">string</param>
        <param type="bool">boolean</param>
        <param type="int">integer</param>
        <param type="float">float</param>
        <param type="json">json</param>
        <param type="str" required="true">string</param>
        <param type="visualization" var_name_in_template="visualization">visualization_id</param>
        <param type="dataset" var_name_in_template="dataset">dataset_id</param>
        <param type="hda_or_ldda">dataset_instance</param>
        <param_modifier type="str" modifies="dataset_instance">hda_ldda</param_modifier>
    </params>
    <template>v_fwork_test.mako</template>
</visualization>
