# This file lists acceptable images to allow runing.
#
# This allows you, the admin, to create multiple flavours
# for your users to run. E.g. maybe you need a geosciences flavour,
# you can create the image based on our default image and add the
# appropriate `apt-get/pip install` statements.
---
-
    image: bgruening/docker-jupyter-notebook:16.01.1
    description: |
        The Jupyter notebook is the next iteration of IPython, allowing
        analysis in many different languages. This image features the Python,
        R, Julia, Haskell, Bash kernels and many scientific analysis stacks for
        each.
