[flake8]
# These are exceptions allowed by Galaxy style guidelines:
# B008 Do not perform function calls in argument defaults (for FastAPI Depends and Body)
# E203 is whitespace before ':'; we follow black's formatting here. See https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated
# E402 module level import not at top of file # TODO, we would like to improve this.
# E501 is line length (delegated to black)
# W503 is line breaks before binary operators, which has been reversed in PEP 8.
# D1** are docstring linting: Missing docstring in 
# D200 One-line docstring should fit on one line with quotes
# D205 1 blank line required between summary line and description
ignore = B008,E203,E402,E501,W503,D1,D200,D205,D400,D401,D402,D403,D412,D413
