.hg*
# Downloaded and locally built eggs
eggs
scripts/scramble/build
scripts/scramble/lib
scripts/scramble/archives

# Python virtualenv
.venv
.venv3

# Database stuff
database/beaker_sessions
database/citations
database/community_files
database/compiled_templates
database/files
database/jobs_directory
database/job_working_directory
database/pbs
database/test_errors
database/tmp
database/*.sqlite
database/openid_consumer_cache
database/dependencies

# Python bytecode
*.pyc

# Galaxy Runtime Files
*.lock
*.log
*.pid

# Tool Shed Runtime Files
tool_shed_webapp.lock
tool_shed_webapp.log
tool_shed_webapp.pid
hgweb.config*
lib/tool_shed/scripts/bootstrap_tool_shed/user_info.xml

# Reports Runtime Files
reports_webapp.lock
reports_webapp.log
reports_webapp.pid

# Jupyter Runtime Files
.ipynb_checkpoints

# Config files
universe_wsgi.ini
reports_wsgi.ini
reports.ini
tool_shed_wsgi.ini

# Config files.
datatypes_conf.xml
tool_conf.xml
external_service_types_conf.xml
migrated_tools_conf.xml
shed_tool_conf.xml
tool_data_table_conf.xml
tool_sheds_conf.xml
integrated_tool_panel.xml
openid_conf.xml
shed_tool_data_table_conf.xml
job_conf.xml
data_manager_conf.xml
shed_data_manager_conf.xml
object_store_conf.xml
job_metrics_conf.xml
workflow_schedulers_conf.xml
config/*
config/plugins/interactive_environments/**/*.ini
!config/plugins
static/welcome.html.*
static/welcome.html
static/client_build_hash.txt

# Tool data.
tool-data/annotation_profiler_options.xml
tool-data/annotation_profiler_valid_builds.txt
tool-data/gatk_annotations.txt
tool-data/gd.restriction_enzymes.txt
tool-data/gd.species.txt
tool-data/shared/igv/igv_build_sites.txt
tool-data/shared/rviewer/rviewer_build_sites.txt
tool-data/shared/ncbi/builds.txt
tool-data/shared/ucsc/builds.txt
tool-data/shared/ucsc/manual_builds.txt
tool-data/shared/ensembl/builds.txt
tool-data/shared/ucsc/publicbuilds.txt
tool-data/shared/ucsc/ucsc_build_sites.txt
tool-data/*.loc
tool-data/genome/*
tool-data/*.sample
tool-data/testtoolshed.g2.bx.psu.edu/
tool-data/toolshed.g2.bx.psu.edu/
tool-data/**/*.fa

# Test output
.pytest_cache/
assets/
test-data-cache
run_framework_tests.html
run_functional_tests.html
run_integration_tests.html
run_selenium_tests.html
run_toolshed_tests.html
run_api_tests.html
test/tool_shed/tmp/*
.coverage
htmlcov
run_unit_tests.html
test/unit/**.log
.tox

# Project files
*.kpf
.idea
.vscode
client/**/jsconfig.json


# Chrom len files
*.len

# Jars
tool-data/shared/jars/

# JS, Local node_modules, and bower_components directories
static/maps
static/plugins
static/scripts
node_modules
bower_components
client/galaxy/scripts/libs/*
client/galaxy/style/less/*

# Documentation build files.
doc/build
doc/schema.md
doc/source/admin/config_logging_default_yaml.rst
doc/source/api/api.rst
doc/source/api/ts_api.rst
doc/source/dev/schema.md
doc/source/dev/schema.rst

# webpack stats
client/webpack-stats.json

# Misc
*.orig
.DS_Store
*.rej
*~
