# git log --pretty="%aN <%aE>" | sort -u | less
# 631 as of 2023-09-18
Ahmed Hamid Awan <aawan@mindgrub.com> # GH user: ahmedhamidawan
Ahmed Hamid Awan <aawan@mindgrub.com> Ahmed Awan <newadmin@galaxyc.local>
Ahmed Hamid Awan <aawan@mindgrub.com> Ahmed Awan <newadmin@galaxyc.win.ad.jhu.edu>
Ahmed Hamid Awan <aawan@mindgrub.com> Ahmed Awan <qe66653@umbc.edu>
Ahmed Hamid Awan <aawan@mindgrub.com> <78516064+ahmedhamidawan@users.noreply.github.com>
Ahmed Hamid Awan <aawan@mindgrub.com> <qe66653@umbc.edu>
Abdulrahman Azab <eng.azab@gmail.com> # GH user: abdulrahmanazab, one-line contribution, rewritten by John Chilton
Adam Brenner <aebrenne@uci.edu> # GH user: abrenner, only commits to tools moved to tool shed (no longer in galaxy)
Daniel Bouchard <danieljosephbouchard@gmail.com> <daniel.bouchard@phac-aspc.gc.ca> # GH user: Airistotal 
Daniel Bouchard <danieljosephbouchard@gmail.com> <danieltos.bouchard@gmail.com>
A. Soroka <ajs6f@apache.org> # GH user: ajs6f
Alan Amossé <alan.amosse@gmail.com> # GH user: Alanamosse
Alan Amossé <alan.amosse@gmail.com> <alanamosse@60-E3-27-12-8C-3F.home>
Alexander Lenail <lenail@mit.edu> <alexander.lenail@tufts.edu> # GH user: alexlenail
Alex Ostrovsky <a.ostrovsky@mac.com> # GH user: astrovsky01
Alex Ostrovsky <a.ostrovsky@mac.com> Alexander OSTROVSKY <alexanderostrovsky@Alexanders-MacBook-Pro.local>
Alex Ostrovsky <a.ostrovsky@mac.com> Alexander OSTROVSKY <alexanderostrovsky@Caroline.local>
Alex Ostrovsky <a.ostrovsky@mac.com> Alexander OSTROVSKY <alexanderostrovsky@Chell.local>
Alex Ostrovsky <a.ostrovsky@mac.com> Alexander OSTROVSKY <alexanderostrovsky@infra04-wg396.visitor.eduroam.wireless.umn.edu>
Alex Ostrovsky <a.ostrovsky@mac.com> Alexander OSTROVSKY <alexanderostrovsky@p-body.win.ad.jhu.edu>
Alex Ostrovsky <a.ostrovsky@mac.com> <40246333+astrovsky01@users.noreply.github.com>
Alexandru Mahmoud <mahmoudalexandru@gmail.com> # GH user: almahmoud
Alexandru Mahmoud <mahmoudalexandru@gmail.com> <amahmou4@jhu.edu> 
Alexandru Mahmoud <mahmoudalexandru@gmail.com> <almahmoud@jhu.edu>
Alireza Heidari <itisalirh@gmail.com> # GH user: itisAliRH
Ott Oopkaup <ott.oopkaup@gmail.com> # GH user: ooobik
Anastasia Tyryshkina <atyryshkina@gmail.com> # GH user: atyryshkina
Evgeny Anatskiy <evgeny.anatskiy@gmail.com> # GH user: anatskiy
Andrea Bagnacani <andrea.bagnacani@uni-rostock.de> # GH user: bagnacan
Andrea Sbardellati <andrea.sbardellati@crs4.it>
Andreas Skorczyk <me@andreas-sk.de> # GH user: AndreasSko
Andrew Robinson <Andrew.Robinson@latrobe.edu.au> Andrew Robinson <none@none> # GH user: andrewjrobinson
Andrew Warren <anwarren@vbi.vt.edu> # GH user: aswarren
Andrey Tovchigrechko <tovchigrechkoa@medimmune.com> # GH user: andreyto
Anil Thanki <thanki.anil@gmail.com> # GH user: anilthanki
Anne Fouilloux <annefou@geo.uio.no> <annefou@uio.no> # GH user: annefou
Ann Loraine <aloraine@uncc.edu>  # GH user: aloraine 
Anthony Bretaudeau <anthony.bretaudeau@inria.fr> # GH user: abretaud
Anthony Bretaudeau <anthony.bretaudeau@inria.fr> <abretaud@irisa.fr>
Anthony Bretaudeau <anthony.bretaudeau@inria.fr> <anthony.bretaudeau@rennes.inra.fr>
<anthony.bretaudeau@inria.fr> <anthony.bretaudeau@irisa.fr>
Anton Nekrutenko <anton@nekrut.org>  # GH user: nekrut
Anton Nekrutenko <anton@nekrut.org> <anekrut@gmail.com>
<anton@nekrut.org> <anton@bx.psu.edu>
<anton@nekrut.org> <anton@Antons-MacBook-Air.local>
Anup Kumar <anup.rulez@gmail.com>  # GH user: anuprulez
Anup Kumar <anup.rulez@gmail.com> <kumara@informatik.uni-freiburg.de>

Steven Shum <weiyanshum@gmail.com>  # GH user: shenweiyan
Steven Shum <weiyanshum@gmail.com> <ishenweiyan@foxmail.com>
Steven Shum <weiyanshum@gmail.com> <ishenweiyan@qq.com>

Yvan Le Bras <yvan.le-bras@mnhn.fr>  # GH user: yvanlebras
<yvan.le-bras@mnhn.fr> <yvan.le_bras@irisa.fr>
zhuzi <110071444+undergone2345@users.noreply.github.com>  # GH user: undergone2345
Zipho Mashologu <zipho.m@gmail.com>  # GH user: zipho
<zipho.m@gmail.com> <zipho@trustpay.biz>
