sudo: false
language: python
python: 2.7
os:
  - linux
env:
  - TOX_ENV=py34-lint
  - TOX_ENV=py27-lint
  - TOX_ENV=py27-unit
  - TOX_ENV=qunit
  - TOX_ENV=first_startup
  - TOX_ENV=py27-lint-docstring-include-list
  - TOX_ENV=check-python-dependencies

matrix:
  include:
    - env: TOX_ENV=validate-test-tools
      addons:
        apt:
          packages:
            - libxml2-utils
    - env: TOX_ENV=check_py3_compatibility
      addons:
        apt:
          packages:
            - ack-grep
  allow_failures:
  - env: TOX_ENV=check-python-dependencies

before_install:
  # Workaround for https://github.com/travis-ci/travis-ci/issues/7940
  - sudo rm -f /etc/boto.cfg

install:
  - pip install tox
  - if [ "$TOX_ENV" == "first_startup" ]; then bash -c "bash scripts/common_startup.sh && wget -q https://github.com/jmchilton/galaxy-downloads/raw/master/db_gx_rev_0127.sqlite && mv db_gx_rev_0127.sqlite database/universe.sqlite && bash manage_db.sh -c ./config/galaxy.yml.sample upgrade"; fi

script: tox -e $TOX_ENV

notifications:
  email: false
