<?xml version="1.0"?>
<datatypes>
  <registration converters_path="lib/galaxy/datatypes/converters">
    <datatype extension="ab1" type="galaxy.datatypes.images:Ab1" mimetype="application/octet-stream" display_in_upload="true"/>
    <datatype extension="axt" type="galaxy.datatypes.sequence:Axt" display_in_upload="true"/>
    <datatype extension="bed" type="galaxy.datatypes.interval:Bed" display_in_upload="true">
      <converter file="bed_to_gff_converter.xml" target_datatype="gff"/>
      <converter file="interval_to_coverage.xml" target_datatype="coverage"/>
    </datatype>
    <datatype extension="binseq.zip" type="galaxy.datatypes.images:Binseq" mimetype="application/zip" display_in_upload="true"/>
    <datatype extension="coverage" type="galaxy.datatypes.coverage:LastzCoverage" display_in_upload="true">
      <indexer file="coverage.xml" />
    </datatype>
    <datatype extension="customtrack" type="galaxy.datatypes.interval:CustomTrack"/>
    <datatype extension="csfasta" type="galaxy.datatypes.sequence:csFasta" display_in_upload="true"/>
    <datatype extension="data" type="galaxy.datatypes.data:Data" mimetype="application/octet-stream"/>
    <datatype extension="fasta" type="galaxy.datatypes.sequence:Fasta" display_in_upload="true">
      <converter file="fasta_to_tabular_converter.xml" target_datatype="tabular"/>
    </datatype>
    <datatype extension="fastqsolexa" type="galaxy.datatypes.sequence:FastqSolexa" display_in_upload="true">
      <converter file="fastqsolexa_to_fasta_converter.xml" target_datatype="fasta"/>
      <converter file="fastqsolexa_to_qual_converter.xml" target_datatype="qualsolexa"/>
    </datatype>
    <datatype extension="genetrack" type="galaxy.datatypes.tracks:GeneTrack"/>
    <datatype extension="gff" type="galaxy.datatypes.interval:Gff" display_in_upload="true">
      <converter file="gff_to_bed_converter.xml" target_datatype="bed"/>
    </datatype>
    <datatype extension="gff3" type="galaxy.datatypes.interval:Gff3" display_in_upload="true"/>
    <datatype extension="gif" type="galaxy.datatypes.images:Image" mimetype="image/gif"/>
    <datatype extension="gmaj.zip" type="galaxy.datatypes.images:Gmaj" mimetype="application/zip"/>
    <datatype extension="html" type="galaxy.datatypes.images:Html" mimetype="text/html"/>
    <datatype extension="interval" type="galaxy.datatypes.interval:Interval" display_in_upload="true">
      <converter file="interval_to_bed_converter.xml" target_datatype="bed"/>
      <indexer file="interval.xml" />
    </datatype>
    <datatype extension="jpg" type="galaxy.datatypes.images:Image" mimetype="image/jpeg"/>
    <datatype extension="laj" type="galaxy.datatypes.images:Laj"/>
    <datatype extension="lav" type="galaxy.datatypes.sequence:Lav" display_in_upload="true"/>
    <datatype extension="maf" type="galaxy.datatypes.sequence:Maf" display_in_upload="true">
      <converter file="maf_to_fasta_converter.xml" target_datatype="fasta"/>
      <converter file="maf_to_interval_converter.xml" target_datatype="interval"/>
    </datatype>
    <datatype extension="pdf" type="galaxy.datatypes.images:Image" mimetype="application/pdf"/>
    <datatype extension="png" type="galaxy.datatypes.images:Image" mimetype="image/png"/>
    <datatype extension="qualsolexa" type="galaxy.datatypes.qualityscore:QualityScoreSolexa" display_in_upload="true"/>
    <datatype extension="qualsolid" type="galaxy.datatypes.qualityscore:QualityScoreSOLiD" display_in_upload="true"/>
    <datatype extension="qual454" type="galaxy.datatypes.qualityscore:QualityScore454" display_in_upload="true"/>
    <datatype extension="scf" type="galaxy.datatypes.images:Scf" mimetype="application/octet-stream" display_in_upload="true"/>
    <datatype extension="taxonomy" type="galaxy.datatypes.tabular:Taxonomy" display_in_upload="true"/>
    <datatype extension="tabular" type="galaxy.datatypes.tabular:Tabular" display_in_upload="true"/>
    <datatype extension="txt" type="galaxy.datatypes.data:Text" display_in_upload="true"/>
    <datatype extension="blastxml" type="galaxy.datatypes.xml:BlastXml" display_in_upload="true"/>
    <datatype extension="txtseq.zip" type="galaxy.datatypes.images:Txtseq" mimetype="application/zip" display_in_upload="true"/>
    <datatype extension="wig" type="galaxy.datatypes.interval:Wiggle" display_in_upload="true">
      <indexer file="wiggle.xml" />
    </datatype>
    <!-- EMBOSS TOOLS -->
    <datatype extension="acedb" type="galaxy.datatypes.data:Text"/>
    <datatype extension="asn1" type="galaxy.datatypes.data:Text"/>
    <datatype extension="btwisted" type="galaxy.datatypes.data:Text"/>
    <datatype extension="cai" type="galaxy.datatypes.data:Text"/>
    <datatype extension="charge" type="galaxy.datatypes.data:Text"/>
    <datatype extension="checktrans" type="galaxy.datatypes.data:Text"/>
    <datatype extension="chips" type="galaxy.datatypes.data:Text"/>
    <datatype extension="clustal" type="galaxy.datatypes.data:Text"/>
    <datatype extension="codata" type="galaxy.datatypes.data:Text"/>
    <datatype extension="codcmp" type="galaxy.datatypes.data:Text"/>
    <datatype extension="coderet" type="galaxy.datatypes.data:Text"/>
    <datatype extension="compseq" type="galaxy.datatypes.data:Text"/>
    <datatype extension="cpgplot" type="galaxy.datatypes.data:Text"/>
    <datatype extension="cpgreport" type="galaxy.datatypes.data:Text"/>
    <datatype extension="cusp" type="galaxy.datatypes.data:Text"/>
    <datatype extension="cut" type="galaxy.datatypes.data:Text"/>
    <datatype extension="dan" type="galaxy.datatypes.data:Text"/>
    <datatype extension="dbmotif" type="galaxy.datatypes.data:Text"/>
    <datatype extension="diffseq" type="galaxy.datatypes.data:Text"/>
    <datatype extension="digest" type="galaxy.datatypes.data:Text"/>
    <datatype extension="dreg" type="galaxy.datatypes.data:Text"/>
    <datatype extension="einverted" type="galaxy.datatypes.data:Text"/>
    <datatype extension="embl" type="galaxy.datatypes.data:Text"/>
    <datatype extension="epestfind" type="galaxy.datatypes.data:Text"/>
    <datatype extension="equicktandem" type="galaxy.datatypes.data:Text"/>
    <datatype extension="est2genome" type="galaxy.datatypes.data:Text"/>
    <datatype extension="etandem" type="galaxy.datatypes.data:Text"/>
    <datatype extension="excel" type="galaxy.datatypes.data:Text"/>
    <datatype extension="feattable" type="galaxy.datatypes.data:Text"/>
    <datatype extension="fitch" type="galaxy.datatypes.data:Text"/>
    <datatype extension="freak" type="galaxy.datatypes.data:Text"/>
    <datatype extension="fuzznuc" type="galaxy.datatypes.data:Text"/>
    <datatype extension="fuzzpro" type="galaxy.datatypes.data:Text"/>
    <datatype extension="fuzztran" type="galaxy.datatypes.data:Text"/>
    <datatype extension="garnier" type="galaxy.datatypes.data:Text"/>
    <datatype extension="gcg" type="galaxy.datatypes.data:Text"/>
    <datatype extension="geecee" type="galaxy.datatypes.data:Text"/>
    <datatype extension="genbank" type="galaxy.datatypes.data:Text"/>
    <datatype extension="helixturnhelix" type="galaxy.datatypes.data:Text"/>
    <datatype extension="hennig86" type="galaxy.datatypes.data:Text"/>
    <datatype extension="hmoment" type="galaxy.datatypes.data:Text"/>
    <datatype extension="ig" type="galaxy.datatypes.data:Text"/>
    <datatype extension="isochore" type="galaxy.datatypes.data:Text"/>
    <datatype extension="jackknifer" type="galaxy.datatypes.data:Text"/>
    <datatype extension="jackknifernon" type="galaxy.datatypes.data:Text"/>
    <datatype extension="markx10" type="galaxy.datatypes.data:Text"/>
    <datatype extension="markx1" type="galaxy.datatypes.data:Text"/>
    <datatype extension="markx0" type="galaxy.datatypes.data:Text"/>
    <datatype extension="markx3" type="galaxy.datatypes.data:Text"/>
    <datatype extension="markx2" type="galaxy.datatypes.data:Text"/>
    <datatype extension="match" type="galaxy.datatypes.data:Text"/>
    <datatype extension="mega" type="galaxy.datatypes.data:Text"/>
    <datatype extension="meganon" type="galaxy.datatypes.data:Text"/>
    <datatype extension="motif" type="galaxy.datatypes.data:Text"/>
    <datatype extension="msf" type="galaxy.datatypes.data:Text"/>
    <datatype extension="nametable" type="galaxy.datatypes.data:Text"/>
    <datatype extension="ncbi" type="galaxy.datatypes.data:Text"/>
    <datatype extension="needle" type="galaxy.datatypes.data:Text"/>
    <datatype extension="newcpgreport" type="galaxy.datatypes.data:Text"/>
    <datatype extension="newcpgseek" type="galaxy.datatypes.data:Text"/>
    <datatype extension="nexus" type="galaxy.datatypes.data:Text"/>
    <datatype extension="nexusnon" type="galaxy.datatypes.data:Text"/>
    <datatype extension="noreturn" type="galaxy.datatypes.data:Text"/>
    <datatype extension="pair" type="galaxy.datatypes.data:Text"/>
    <datatype extension="palindrome" type="galaxy.datatypes.data:Text"/>
    <datatype extension="pepcoil" type="galaxy.datatypes.data:Text"/>
    <datatype extension="pepinfo" type="galaxy.datatypes.data:Text"/>
    <datatype extension="pepstats" type="galaxy.datatypes.data:Text"/>
    <datatype extension="phylip" type="galaxy.datatypes.data:Text"/>
    <datatype extension="phylipnon" type="galaxy.datatypes.data:Text"/>
    <datatype extension="pir" type="galaxy.datatypes.data:Text"/>
    <datatype extension="polydot" type="galaxy.datatypes.data:Text"/>
    <datatype extension="preg" type="galaxy.datatypes.data:Text"/>
    <datatype extension="prettyseq" type="galaxy.datatypes.data:Text"/>
    <datatype extension="primersearch" type="galaxy.datatypes.data:Text"/>
    <datatype extension="regions" type="galaxy.datatypes.data:Text"/>
    <datatype extension="score" type="galaxy.datatypes.data:Text"/>
    <datatype extension="selex" type="galaxy.datatypes.data:Text"/>
    <datatype extension="seqtable" type="galaxy.datatypes.data:Text"/>
    <datatype extension="showfeat" type="galaxy.datatypes.data:Text"/>
    <datatype extension="showorf" type="galaxy.datatypes.data:Text"/>
    <datatype extension="simple" type="galaxy.datatypes.data:Text"/>
    <datatype extension="sixpack" type="galaxy.datatypes.data:Text"/>
    <datatype extension="srs" type="galaxy.datatypes.data:Text"/>
    <datatype extension="srspair" type="galaxy.datatypes.data:Text"/>
    <datatype extension="staden" type="galaxy.datatypes.data:Text"/>
    <datatype extension="strider" type="galaxy.datatypes.data:Text"/>
    <datatype extension="supermatcher" type="galaxy.datatypes.data:Text"/>
    <datatype extension="swiss" type="galaxy.datatypes.data:Text"/>
    <datatype extension="syco" type="galaxy.datatypes.data:Text"/>
    <datatype extension="table" type="galaxy.datatypes.data:Text"/>
    <datatype extension="textsearch" type="galaxy.datatypes.data:Text"/>
    <datatype extension="vectorstrip" type="galaxy.datatypes.data:Text"/>
    <datatype extension="wobble" type="galaxy.datatypes.data:Text"/>
    <datatype extension="wordcount" type="galaxy.datatypes.data:Text"/>
    <datatype extension="tagseq" type="galaxy.datatypes.data:Text"/>
  <!-- Start RGenetics Datatypes -->
    <!-- genome graphs ucsc file - first col is always marker then numeric values to plot -->
    <datatype extension="gg" type="galaxy.datatypes.genetics:GenomeGraphs"/>
    <datatype extension="rgenetics" type="galaxy.datatypes.genetics:Rgenetics"/>
    <!-- linkage format pedigree (separate .map file) -->
    <datatype extension="lped" type="galaxy.datatypes.genetics:Lped"/>
    <!-- plink compressed file - has bed extension unfortunately -->
    <datatype extension="pbed" type="galaxy.datatypes.genetics:Pbed"/>
    <!-- eigenstrat pedigree input file -->
    <datatype extension="eigenstratgeno" type="galaxy.datatypes.genetics:Eigenstratgeno"/>
    <!-- eigenstrat pca output file for adjusted eigenQTL eg -->
    <datatype extension="eigenstratpca" type="galaxy.datatypes.genetics:Eigenstratpca"/>
    <!-- fbat/pbat format pedigree (header row of marker names) -->
    <datatype extension="fped" type="galaxy.datatypes.genetics:Fped"/>
    <!-- part of linkage format pedigree -->
    <datatype extension="lmap" type="galaxy.datatypes.genetics:Lmap"/>
    <!-- phenotype file - fbat format -->
    <datatype extension="fphe" type="galaxy.datatypes.genetics:Fphe"/>
    <!-- phenotype file - plink format -->
    <datatype extension="pphe" type="galaxy.datatypes.genetics:Pphe"/>
    <datatype extension="snptest" type="galaxy.datatypes.genetics:Snptest"/>
    <datatype extension="snpmatrix" type="galaxy.datatypes.genetics:SNPMatrix"/>
    <datatype extension="xls" type="galaxy.datatypes.tabular:Tabular"/>
  <!-- End RGenetics Datatypes -->
  </registration>
  <sniffers>
    <!--
      The order in which Galaxy attempts to determine data types is 
      important because some formats are much more loosely defined 
      than others.  The following list should be the most rigidly 
      defined format first, followed by next-most rigidly defined, 
      and so on.
    -->
    <sniffer type="galaxy.datatypes.xml:BlastXml"/>
    <sniffer type="galaxy.datatypes.sequence:Maf"/>
    <sniffer type="galaxy.datatypes.sequence:Lav"/>
    <sniffer type="galaxy.datatypes.sequence:csFasta"/>
    <sniffer type="galaxy.datatypes.qualityscore:QualityScoreSolexa"/>
    <sniffer type="galaxy.datatypes.qualityscore:QualityScoreSOLiD"/>
    <sniffer type="galaxy.datatypes.qualityscore:QualityScore454"/>
    <sniffer type="galaxy.datatypes.sequence:Fasta"/>
    <sniffer type="galaxy.datatypes.sequence:FastqSolexa"/>
    <sniffer type="galaxy.datatypes.interval:Wiggle"/>
    <sniffer type="galaxy.datatypes.images:Html"/>
    <sniffer type="galaxy.datatypes.sequence:Axt"/>
    <sniffer type="galaxy.datatypes.interval:Bed"/>
    <sniffer type="galaxy.datatypes.interval:CustomTrack"/>
    <sniffer type="galaxy.datatypes.interval:Gff"/>
    <sniffer type="galaxy.datatypes.interval:Gff3"/>
    <sniffer type="galaxy.datatypes.interval:Interval"/>
  </sniffers>
</datatypes>
