<?xml version="1.0"?>
<converters>
  <converter file="bed_to_gff_converter.xml" source_datatype="bed" target_datatype="gff"/>
  <converter file="fasta_to_tabular_converter.xml" source_datatype="fasta" target_datatype="tabular"/>
  <converter file="fastq_to_fasta_converter.xml" source_datatype="fastqsolexa" target_datatype="fasta"/>
  <converter file="fastq_to_qual_converter.xml" source_datatype="fastqsolexa" target_datatype="qual"/>
  <converter file="gff_to_bed_converter.xml" source_datatype="gff" target_datatype="bed"/>
  <converter file="interval_to_bed_converter.xml" source_datatype="interval" target_datatype="bed"/>
  <converter file="maf_to_fasta_converter.xml" source_datatype="maf" target_datatype="fasta"/>
  <converter file="maf_to_interval_converter.xml" source_datatype="maf" target_datatype="interval"/>
</converters>
