exclude test
include MANIFEST.in
include LICENSE.txt
include setup.py
include run.sh
include universe.py
include universe.conf
include tool_conf.xml
include *.sample
recursive-include tools *.py *.xml *.pl
recursive-include static *.html *.png *.gif *.rst *.css *.js
recursive-include templates *.tmpl
recursive-include modules *.py
recursive-include test *.py *.txt
recursive-include arch *.pyd *.so  *.lib *.dll
include database/info.txt
include database/files/info.txt
include database/import/info.txt


