include *.rst LICENSE
include galaxy/util/docutils_template.txt
include galaxy/exceptions/error_codes.json
include galaxy/tools/deps/mulled/invfile.lua
include galaxy/tools/deps/resolvers/default_conda_mapping.yml
