[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
a2wsgi = "==1.10.0"
adal = "==1.2.7"
aiobotocore = "==2.9.0"
aiodataloader = "==0.4.0"
aiofiles = "==23.2.1"
aiohttp = "==3.9.1"
aioitertools = "==0.11.0"
aiosignal = "==1.3.1"
alembic = "==1.13.1"
amqp = "==5.2.0"
aniso8601 = "==9.0.1"
anyio = "==4.2.0"
apispec = "==6.3.1"
appdirs = "==1.4.4"
arcp = "==0.2.1"
argcomplete = "==3.2.1"
async-timeout = "==4.0.3"
attmap = "==0.13.2"
attrs = "==23.2.0"
babel = "==2.14.0"
backports-zoneinfo = {extras = ["tzdata"], version = "==0.2.1"}
bagit-profile = "==1.3.1"
bagit = "==1.8.1"
bcrypt = "==4.1.2"
bdbag = "==1.7.1"
beaker = "==1.12.1"
billiard = "==4.2.0"
bioblend = "==1.2.0"
bleach = "==6.1.0"
boltons = "==23.1.1"
boto = "==2.49.0"
botocore = "==1.33.13"
bx-python = "==0.10.0"
cachecontrol = {extras = ["filecache"], version = "==0.13.1"}
celery = "==5.3.6"
certifi = "==2023.11.17"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
cheetah3 = "==3.2.6.post1"
circus = "==0.18.0"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
click = "==8.1.7"
cloudauthz = "==0.6.0"
cloudbridge = "==3.2.0"
colorama = "==0.4.6"
coloredlogs = "==15.0.1"
conda-package-streaming = "==0.9.0"
cryptography = "==41.0.7"
cwl-upgrader = "==1.2.11"
cwl-utils = "==0.32"
cwltool = "==3.1.20231207110929"
decorator = "==5.1.1"
defusedxml = "==0.7.1"
deprecation = "==2.1.0"
dictobj = "==0.4"
dnspython = "==2.4.2"
docopt = "==0.6.2"
docutils = "==0.18.1"
dparse = "==0.6.3"
ecdsa = "==0.18.0"
edam-ontology = "==1.25.2"
email-validator = "==2.1.0.post1"
exceptiongroup = "==1.2.0"
fastapi = "==0.98.0"
filelock = "==3.13.1"
frozenlist = "==1.4.1"
fs = "==2.4.16"
fsspec = "==2023.12.2"
future = "==0.18.3"
galaxy-sequence-utils = "==1.1.5"
galaxy2cwl = "==0.1.4"
graphene-sqlalchemy = "==3.0.0rc1"
graphene = "==3.3"
graphql-core = "==3.2.3"
graphql-relay = "==3.2.0"
gravity = "==1.0.4"
greenlet = "==3.0.1"
gunicorn = "==21.2.0"
gxformat2 = "==0.18.0"
h11 = "==0.14.0"
h5grove = "==1.3.0"
h5py = "==3.10.0"
humanfriendly = "==10.0"
idna = "==3.6"
importlib-metadata = "==7.0.1"
importlib-resources = "==6.1.1"
isa-rwval = "==0.10.10"
isodate = "==0.6.1"
jinja2 = "==3.1.2"
jmespath = "==1.0.1"
jsonref = "==1.1.0"
jsonschema-specifications = "==2023.12.1"
jsonschema = "==4.20.0"
kombu = "==5.3.4"
lagom = "==2.6.0"
lxml = "==4.9.4"
mako = "==1.3.0"
markdown-it-py = "==3.0.0"
markdown = "==3.5.1"
markupsafe = "==2.1.3"
mdurl = "==0.1.2"
mercurial = "==6.6.1"
mistune = "==2.0.5"
mrcfile = "==1.4.3"
msal = "==1.26.0"
msgpack = "==1.0.7"
multidict = "==6.0.4"
mypy-extensions = "==1.0.0"
networkx = "==2.5"
nodeenv = "==1.8.0"
numpy = "==1.26.3"
oauthlib = "==3.2.2"
orjson = "==3.9.10"
oyaml = "==1.0"
packaging = "==23.2"
paramiko = "==3.4.0"
parsley = "==1.3"
paste = "==3.7.1"
pastedeploy = "==3.1.0"
pebble = "==5.0.6"
pkgutil-resolve-name = "==1.3.10"
promise = "==2.3"
prompt-toolkit = "==3.0.43"
prov = "==1.5.1"
psutil = "==5.9.7"
pulsar-galaxy-lib = "==0.15.5"
pyasn1 = "==0.5.1"
pycparser = "==2.21"
pycryptodome = "==3.19.1"
pydantic-tes = "==0.1.5"
pydantic = {extras = ["email"], version = "==1.10.13"}
pydot = "==2.0.0"
pyeventsystem = "==0.1.0"
pyfaidx = "==0.7.2.2"
pygments = "==2.17.2"
pyjwt = {extras = ["crypto"], version = "==2.8.0"}
pykwalify = "==1.8.0"
pylibmagic = "==0.5.0"
pynacl = "==1.5.0"
pyparsing = "==3.1.1"
pyreadline3 = "==3.4.1"
pysam = "==0.22.0"
python-dateutil = "==2.8.2"
python-jose = "==3.3.0"
python-magic = "==0.4.27"
python-multipart = "==0.0.6"
python3-openid = "==3.2.0"
pytz = "==2023.3.post1"
pyyaml = "==6.0.1"
pyzmq = "==25.1.2"
rdflib = "==6.3.2"
referencing = "==0.32.1"
refgenconf = "==0.12.2"
regex = "==2023.12.25"
repoze-lru = "==0.7"
requests-oauthlib = "==1.3.1"
requests-toolbelt = "==1.0.0"
requests-unixsocket = "==0.3.0"
requests = "==2.31.0"
rich = "==13.7.0"
rocrate = "==0.9.0"
routes = "==2.5.1"
rpds-py = "==0.16.2"
rsa = "==4.9"
ruamel-yaml-clib = "==0.2.8"
ruamel-yaml = "==0.18.5"
s3fs = "==2023.12.2"
schema-salad = "==8.5.20240102191335"
setuptools-scm = "==5.0.2"
shellescape = "==3.8.1"
six = "==1.16.0"
sniffio = "==1.3.0"
social-auth-core = {extras = ["openidconnect"], version = "==4.0.3"}
sortedcontainers = "==2.4.0"
spython = "==0.3.13"
sqlalchemy = "==1.4.51"
sqlitedict = "==2.1.0"
sqlparse = "==0.4.4"
starlette-context = "==0.3.6"
starlette-graphene3 = "==0.6.0"
starlette = "==0.27.0"
supervisor = "==4.2.5"
svgwrite = "==1.4.3"
tenacity = "==8.2.3"
tifffile = "==2023.7.10"
tinydb = "==4.8.0"
tomli = "==2.0.1"
tornado = "==6.4"
tqdm = "==4.66.1"
tuspy = "==1.0.3"
tuswsgi = "==0.5.5"
typing-extensions = "==4.9.0"
tzdata = "==2023.4"
tzlocal = "==5.2"
ubiquerg = "==0.6.3"
urllib3 = "==1.26.18"
uvicorn = "==0.25.0"
uvloop = "==0.19.0"
vine = "==5.1.0"
wcwidth = "==0.2.13"
webencodings = "==0.5.1"
webob = "==1.8.7"
whoosh = "==2.7.4"
wrapt = "==1.16.0"
yacman = "==0.9.2"
yarl = "==1.9.4"
zipp = "==3.17.0"
zipstream-new = "==1.1.8"
zstandard = "==0.22.0"

[dev-packages]

[requires]
python_version = "3.9"
