# ---- HTTP Server ----------------------------------------------------------

[server:main]

use = egg:Paste#http
port = 9001
host = 127.0.0.1
use_threadpool = true
threadpool_workers = 10

# ---- Galaxy Webapps Report Interface -------------------------------------------------

[app:main]

# Specifies the factory for the universe WSGI application
paste.app_factory = galaxy.webapps.reports.buildapp:app_factory
log_level = DEBUG

# Database connection
# Galaxy reports are intended for production Galaxy instances, so sqlite is not supported.
# You may use a SQLAlchemy connection string to specify an external database.
# database_connection = postgres:///galaxy_test?user=postgres&password=postgres 

# Where dataset files are saved
file_path = database/files
# Temporary storage for additional datasets, this should be shared through the cluster
new_file_path = database/tmp

# Session support (beaker)
use_beaker_session = True
session_type = memory
session_data_dir = %(here)s/database/beaker_sessions
session_key = galaxysessions
session_secret = changethisinproduction

# Configuration for debugging middleware
# debug = true
use_lint = false

# NEVER enable this on a public site (even test or QA)
# use_interactive = true

# path to sendmail
sendmail_path = /usr/sbin/sendmail

# Address to join mailing list
mailing_join_addr = galaxy-user-join@bx.psu.edu

# Write thread status periodically to 'heartbeat.log' (careful, uses disk space rapidly!)
## use_heartbeat = True

# Profiling middleware (cProfile based)
## use_profile = True

# Mail
# smtp_server = yourserver@yourfacility.edu
# error_email_to = your_bugs@bx.psu.edu

# Use the new iframe / javascript based layout
use_new_layout = true

# Serving static files (needed if running standalone)
static_enabled = True
static_cache_time = 360
static_dir = %(here)s/static/
static_images_dir = %(here)s/static/images
static_favicon_dir = %(here)s/static/favicon.ico
static_scripts_dir = %(here)s/static/scripts/
static_style_dir = %(here)s/static/june_2007_style/blue
