# packages with C extensions
Cheetah=2.4.4
bx-python==0.7.3
MarkupSafe==0.23
PyYAML==3.11
SQLAlchemy==1.0.6
mercurial==3.4.2
numpy==1.9.2
pycrypto==2.6.1

# pure Python packages

# TODO
Paste
PasteDeploy
docutils
wchartype
pexpect
amqp
repoze.lru
Routes
WebOb
WebHelpers
anyjson
kombu
pysam
Mako
pytz
Babel
decorator
Tempita
sqlalchemy-migrate
Beaker
Whoosh<2.5
paramiko
ssh
Fabric
boto
simplejson
bioblend
Parsley
WebError
http://svgfig.googlecode.com/files/svgfig-1.1.6.tgz
nose
