<?xml version="1.0"?>
<toolshed name="toolshed.g2.bx.psu.edu">
    <!-- The following repository includes no tools, so nothing will be loaded into the tool panel. -->
    <repository name="emboss_datatypes" description="Datatypes for Emboss tools" changeset_revision="a89163f31369" />
    <section name="EMBOSS" id="EMBOSSLite">
        <repository name="emboss_5" description="Galaxy wrappers for EMBOSS version 5.0.0 tools" changeset_revision="b94ca591877b">
            <tool id="EMBOSS: antigenic1" version="5.0.0" />
            <tool id="EMBOSS: backtranseq2" version="5.0.0" />
            <tool id="EMBOSS: banana3" version="5.0.0" />
            <tool id="EMBOSS: biosed4" version="5.0.0" />
            <tool id="EMBOSS: btwisted5" version="5.0.0" />
            <tool id="EMBOSS: cai_custom6" version="5.0.0" />
            <tool id="EMBOSS: cai6" version="5.0.0" />
            <tool id="EMBOSS: chaos7" version="5.0.0" />
            <tool id="EMBOSS: charge8" version="5.0.0" />
            <tool id="EMBOSS: checktrans9" version="5.0.0" />
            <tool id="EMBOSS: chips10" version="5.0.0" />
            <tool id="EMBOSS: cirdna11" version="5.0.0" />
            <tool id="EMBOSS: codcmp12" version="5.0.0" />
            <tool id="EMBOSS: coderet13" version="5.0.0" />
            <tool id="EMBOSS: compseq14" version="5.0.0" />
            <tool id="EMBOSS: cpgplot15" version="5.0.0" />
            <tool id="EMBOSS: cpgreport16" version="5.0.0" />
            <tool id="EMBOSS: cusp17" version="5.0.0" />
            <tool id="EMBOSS: cutseq18" version="5.0.0" />
            <tool id="EMBOSS: dan19" version="5.0.0" />
            <tool id="EMBOSS: degapseq20" version="5.0.0" />
            <tool id="EMBOSS: descseq21" version="5.0.0" />
            <tool id="EMBOSS: diffseq22" version="5.0.0" />
            <tool id="EMBOSS: digest23" version="5.0.0" />
            <tool id="EMBOSS: dotmatcher24" version="5.0.0" />
            <tool id="EMBOSS: dotpath25" version="5.0.0" />
            <tool id="EMBOSS: dottup26" version="5.0.0" />
            <tool id="EMBOSS: dreg27" version="5.0.0" />
            <tool id="EMBOSS: einverted28" version="5.0.0" />
            <tool id="EMBOSS: epestfind29" version="5.0.0" />
            <tool id="EMBOSS: equicktandem31" version="5.0.0" />
            <tool id="EMBOSS: est2genome32" version="5.0.0" />
            <tool id="EMBOSS: etandem33" version="5.0.0" />
            <tool id="EMBOSS: extractfeat34" version="5.0.0" />
            <tool id="EMBOSS: extractseq35" version="5.0.0" />
            <tool id="EMBOSS: freak36" version="5.0.0" />
            <tool id="EMBOSS: fuzznuc37" version="5.0.0" />
            <tool id="EMBOSS: fuzzpro38" version="5.0.0" />
            <tool id="EMBOSS: fuzztran39" version="5.0.0" />
            <tool id="EMBOSS: garnier40" version="5.0.0" />
            <tool id="EMBOSS: geecee41" version="5.0.0" />
            <tool id="EMBOSS: getorf42" version="5.0.0" />
            <tool id="EMBOSS: helixturnhelix43" version="5.0.0" />
            <tool id="EMBOSS: hmoment44" version="5.0.0" />
            <tool id="EMBOSS: iep45" version="5.0.0" />
            <tool id="EMBOSS: infoseq46" version="5.0.0" />
            <tool id="EMBOSS: isochore47" version="5.0.0" />
            <tool id="EMBOSS: lindna48" version="5.0.0" />
            <tool id="EMBOSS: marscan49" version="5.0.0" />
            <tool id="EMBOSS: maskfeat50" version="5.0.0" />
            <tool id="EMBOSS: maskseq51" version="5.0.0" />
            <tool id="EMBOSS: matcher52" version="5.0.0" />
            <tool id="EMBOSS: megamerger53" version="5.0.0" />
            <tool id="EMBOSS: merger54" version="5.0.0" />
            <tool id="EMBOSS: msbar55" version="5.0.0" />
            <tool id="EMBOSS: needle56" version="5.0.0" />
            <tool id="EMBOSS: newcpgreport57" version="5.0.0" />
            <tool id="EMBOSS: newcpgseek58" version="5.0.0" />
            <tool id="EMBOSS: newseq59" version="5.0.0" />
            <tool id="EMBOSS: noreturn60" version="5.0.0" />
            <tool id="EMBOSS: notseq61" version="5.0.0" />
            <tool id="EMBOSS: nthseq62" version="5.0.0" />
            <tool id="EMBOSS: octanol63" version="5.0.0" />
            <tool id="EMBOSS: oddcomp64" version="5.0.0" />
            <tool id="EMBOSS: palindrome65" version="5.0.0" />
            <tool id="EMBOSS: pasteseq66" version="5.0.0" />
            <tool id="EMBOSS: patmatdb67" version="5.0.0" />
            <tool id="EMBOSS: pepcoil68" version="5.0.0" />
            <tool id="EMBOSS: pepinfo69" version="5.0.0" />
            <tool id="EMBOSS: pepnet70" version="5.0.0" />
            <tool id="EMBOSS: pepstats71" version="5.0.0" />
            <tool id="EMBOSS: pepwheel72" version="5.0.0" />
            <tool id="EMBOSS: pepwindow73" version="5.0.0" />
            <tool id="EMBOSS: pepwindowall74" version="5.0.0" />
            <tool id="EMBOSS: plotcon75" version="5.0.0" />
            <tool id="EMBOSS: plotorf76" version="5.0.0" />
            <tool id="EMBOSS: polydot77" version="5.0.0" />
            <tool id="EMBOSS: preg78" version="5.0.0" />
            <tool id="EMBOSS: prettyplot79" version="5.0.0" />
            <tool id="EMBOSS: prettyseq80" version="5.0.0" />
            <tool id="EMBOSS: primersearch81" version="5.0.0" />
            <tool id="EMBOSS: revseq82" version="5.0.0" />
            <tool id="EMBOSS: seqmatchall83" version="5.0.0" />
            <tool id="EMBOSS: seqret84" version="5.0.0" />
            <tool id="EMBOSS: showfeat85" version="5.0.0" />
            <tool id="EMBOSS: shuffleseq87" version="5.0.0" />
            <tool id="EMBOSS: sigcleave88" version="5.0.0" />
            <tool id="EMBOSS: sirna89" version="5.0.0" />
            <tool id="EMBOSS: sixpack90" version="5.0.0" />
            <tool id="EMBOSS: skipseq91" version="5.0.0" />
            <tool id="EMBOSS: splitter92" version="5.0.0" />
            <tool id="EMBOSS: supermatcher95" version="5.0.0" />
            <tool id="EMBOSS: syco96" version="5.0.0" />
            <tool id="EMBOSS: tcode97" version="5.0.0" />
            <tool id="EMBOSS: textsearch98" version="5.0.0" />
            <tool id="EMBOSS: tmap99" version="5.0.0" />
            <tool id="EMBOSS: tranalign100" version="5.0.0" />
            <tool id="EMBOSS: transeq101" version="5.0.0" />
            <tool id="EMBOSS: trimest102" version="5.0.0" />
            <tool id="EMBOSS: trimseq103" version="5.0.0" />
            <tool id="EMBOSS: twofeat104" version="5.0.0" />
            <tool id="EMBOSS: union105" version="5.0.0" />
            <tool id="EMBOSS: vectorstrip106" version="5.0.0" />
            <tool id="EMBOSS: water107" version="5.0.0" />
            <tool id="EMBOSS: wobble108" version="5.0.0" />
            <tool id="EMBOSS: wordcount109" version="5.0.0" />
            <tool id="EMBOSS: wordmatch110" version="5.0.0" />
        </repository>
    </section>
</toolshed>
