<?xml version="1.0"?>
<toolbox>
  <section name="Get Data" id="getext">
    <tool file="data_source/upload.xml"/>
    <tool file="data_source/ucsc_tablebrowser.xml" />
    <tool file="data_source/ucsc_tablebrowser_test.xml" /> 
    <tool file="data_source/ucsc_tablebrowser_archaea.xml" />
    <tool file="data_source/bx_browser.xml" />
    <tool file="data_source/microbial_import.xml" />
    <tool file="data_source/biomart.xml" />
    <tool file="data_source/biomart_test.xml" />
    <tool file="data_source/gramene_mart.xml" />
    <tool file="data_source/flymine.xml" />
    <tool file="data_source/flymine_test.xml" />
    <tool file="data_source/modmine.xml" />
    <tool file="data_source/ratmine.xml" />
    <tool file="data_source/wormbase.xml" />
    <tool file="data_source/wormbase_test.xml" />
    <tool file="data_source/eupathdb.xml" />
    <tool file="data_source/encode_db.xml" />
    <tool file="data_source/epigraph_import.xml" />
    <tool file="data_source/epigraph_import_test.xml" />
    <tool file="data_source/hbvar.xml" /> 
    <tool file="validation/fix_errors.xml" />
  </section>
  <section name="SNP/WGA: Data; Filters" id="rgdat">
  <label text="Data: Import and upload" id="rgimport" />
    <tool file="data_source/upload.xml"/>
    <tool file="data_source/access_libraries.xml" />
    <tool file="data_source/hapmapmart.xml" />
  <label text="Data: Filter and Clean" id="rgfilter" />
    <tool file="rgenetics/rgClean.xml"/>
    <tool file="rgenetics/rgPedSub.xml"/>
    <tool file="rgenetics/rgLDIndep.xml"/>
  <label text="Simulate" id="rgsim" />
    <tool file="rgenetics/rgfakePhe.xml"/>
    <tool file="rgenetics/rgfakePed.xml"/>
  </section>
  <section name="SNP/WGA: QC; LD; Plots" id="rgqcplot">
  <label text="QC; Eigenstrat" id="rgvisual" />
    <tool file="rgenetics/rgQC.xml"/>
    <tool file="rgenetics/rgEigPCA.xml"/>
  <label text="LD; Manhattan/QQ; GRR" id="rgld" />
    <tool file="rgenetics/rgHaploView.xml"/>
    <tool file="rgenetics/rgManQQ.xml"/>
    <tool file="rgenetics/rgGRR.xml"/>
  </section>
  <section name="SNP/WGA: Statistical Models" id="rgmodel">
    <tool file="rgenetics/rgCaCo.xml"/>
    <tool file="rgenetics/rgTDT.xml"/>
    <tool file="rgenetics/rgGLM.xml"/>
    <tool file="rgenetics/rgManQQ.xml"/>
  </section>
<!--
  TODO: uncomment the following EMBOSS section whenever 
  moving to test, but comment it in .sample to eliminate 
  it from buildbot functional tests since these tools 
  rarely change.
-->
<!-- 
  <section name="EMBOSS" id="EMBOSSLite">
    <tool file="emboss_5/emboss_antigenic.xml" />
    <tool file="emboss_5/emboss_backtranseq.xml" />
    <tool file="emboss_5/emboss_banana.xml" />
    <tool file="emboss_5/emboss_biosed.xml" />
    <tool file="emboss_5/emboss_btwisted.xml" />
    <tool file="emboss_5/emboss_cai_custom.xml" />
    <tool file="emboss_5/emboss_cai.xml" />
    <tool file="emboss_5/emboss_chaos.xml" />
    <tool file="emboss_5/emboss_charge.xml" />
    <tool file="emboss_5/emboss_checktrans.xml" />
    <tool file="emboss_5/emboss_chips.xml" />
    <tool file="emboss_5/emboss_cirdna.xml" />
    <tool file="emboss_5/emboss_codcmp.xml" />
    <tool file="emboss_5/emboss_coderet.xml" /> 
    <tool file="emboss_5/emboss_compseq.xml" />
    <tool file="emboss_5/emboss_cpgplot.xml" /> 
    <tool file="emboss_5/emboss_cpgreport.xml" />
    <tool file="emboss_5/emboss_cusp.xml" />
    <tool file="emboss_5/emboss_cutseq.xml" />
    <tool file="emboss_5/emboss_dan.xml" /> 
    <tool file="emboss_5/emboss_degapseq.xml" />
    <tool file="emboss_5/emboss_descseq.xml" />
    <tool file="emboss_5/emboss_diffseq.xml" />
    <tool file="emboss_5/emboss_digest.xml" />
    <tool file="emboss_5/emboss_dotmatcher.xml" />
    <tool file="emboss_5/emboss_dotpath.xml" />
    <tool file="emboss_5/emboss_dottup.xml" />
    <tool file="emboss_5/emboss_dreg.xml" />
    <tool file="emboss_5/emboss_einverted.xml" />
    <tool file="emboss_5/emboss_epestfind.xml" />
    <tool file="emboss_5/emboss_equicktandem.xml" />
    <tool file="emboss_5/emboss_est2genome.xml" />
    <tool file="emboss_5/emboss_etandem.xml" />
    <tool file="emboss_5/emboss_extractfeat.xml" />
    <tool file="emboss_5/emboss_extractseq.xml" />
    <tool file="emboss_5/emboss_freak.xml" /> 
    <tool file="emboss_5/emboss_fuzznuc.xml" />
    <tool file="emboss_5/emboss_fuzzpro.xml" />
    <tool file="emboss_5/emboss_fuzztran.xml" />
    <tool file="emboss_5/emboss_garnier.xml" />
    <tool file="emboss_5/emboss_geecee.xml" />
    <tool file="emboss_5/emboss_getorf.xml" />
    <tool file="emboss_5/emboss_helixturnhelix.xml" />
    <tool file="emboss_5/emboss_hmoment.xml" />
    <tool file="emboss_5/emboss_iep.xml" />
    <tool file="emboss_5/emboss_infoseq.xml" />
    <tool file="emboss_5/emboss_isochore.xml" />
    <tool file="emboss_5/emboss_lindna.xml" />
    <tool file="emboss_5/emboss_marscan.xml" />
    <tool file="emboss_5/emboss_maskfeat.xml" />
    <tool file="emboss_5/emboss_maskseq.xml" />
    <tool file="emboss_5/emboss_matcher.xml" />
    <tool file="emboss_5/emboss_megamerger.xml" />
    <tool file="emboss_5/emboss_merger.xml" />
    <tool file="emboss_5/emboss_msbar.xml" />
    <tool file="emboss_5/emboss_needle.xml" />
    <tool file="emboss_5/emboss_newcpgreport.xml" /> 
    <tool file="emboss_5/emboss_newcpgseek.xml" />
    <tool file="emboss_5/emboss_newseq.xml" />
    <tool file="emboss_5/emboss_noreturn.xml" />
    <tool file="emboss_5/emboss_notseq.xml" />
    <tool file="emboss_5/emboss_nthseq.xml" />
    <tool file="emboss_5/emboss_octanol.xml" />
    <tool file="emboss_5/emboss_oddcomp.xml" />
    <tool file="emboss_5/emboss_palindrome.xml" />
    <tool file="emboss_5/emboss_pasteseq.xml" />
    <tool file="emboss_5/emboss_patmatdb.xml" />
    <tool file="emboss_5/emboss_pepcoil.xml" />
    <tool file="emboss_5/emboss_pepinfo.xml" />
    <tool file="emboss_5/emboss_pepnet.xml" />
    <tool file="emboss_5/emboss_pepstats.xml" />
    <tool file="emboss_5/emboss_pepwheel.xml" />
    <tool file="emboss_5/emboss_pepwindow.xml" />
    <tool file="emboss_5/emboss_pepwindowall.xml" />
    <tool file="emboss_5/emboss_plotcon.xml" />
    <tool file="emboss_5/emboss_plotorf.xml" />
    <tool file="emboss_5/emboss_polydot.xml" />
    <tool file="emboss_5/emboss_preg.xml" />
    <tool file="emboss_5/emboss_prettyplot.xml" />
    <tool file="emboss_5/emboss_prettyseq.xml" />
    <tool file="emboss_5/emboss_primersearch.xml" />
    <tool file="emboss_5/emboss_revseq.xml" />
    <tool file="emboss_5/emboss_seqmatchall.xml" />
    <tool file="emboss_5/emboss_seqret.xml" />
    <tool file="emboss_5/emboss_showfeat.xml" /> 
    <tool file="emboss_5/emboss_shuffleseq.xml" />
    <tool file="emboss_5/emboss_sigcleave.xml" />
    <tool file="emboss_5/emboss_sirna.xml" />
    <tool file="emboss_5/emboss_sixpack.xml" />
    <tool file="emboss_5/emboss_skipseq.xml" />
    <tool file="emboss_5/emboss_splitter.xml" />
    <tool file="emboss_5/emboss_supermatcher.xml" />
    <tool file="emboss_5/emboss_syco.xml" />
    <tool file="emboss_5/emboss_tcode.xml" />
    <tool file="emboss_5/emboss_textsearch.xml" />
    <tool file="emboss_5/emboss_tmap.xml" />
    <tool file="emboss_5/emboss_tranalign.xml" />
    <tool file="emboss_5/emboss_transeq.xml" />
    <tool file="emboss_5/emboss_trimest.xml" />
    <tool file="emboss_5/emboss_trimseq.xml" />
    <tool file="emboss_5/emboss_twofeat.xml" />
    <tool file="emboss_5/emboss_union.xml" />
    <tool file="emboss_5/emboss_vectorstrip.xml" />
    <tool file="emboss_5/emboss_water.xml" />
    <tool file="emboss_5/emboss_wobble.xml" />
    <tool file="emboss_5/emboss_wordcount.xml" />
    <tool file="emboss_5/emboss_wordmatch.xml" /> 
  </section> 
-->
</toolbox>
