# ---- HTTP Server ----------------------------------------------------------

[server:main]

use = egg:Paste#http
port = 8080
host = 127.0.0.1
use_threadpool = true
threadpool_workers = 10

# ---- Galaxy Web Interface -------------------------------------------------

[app:main]

# Specifies the factory for the universe WSGI application
paste.app_factory = galaxy.web.buildapp:app_factory
log_level = DEBUG

# Log memory usage
log_memory_usage = False

# Log events
log_events = True

# Should jobs be tracked through the database, rather than in memory
## track_jobs_in_database = true

# Number of concurrent jobs to run (local runner)
job_queue_workers = 5

# Job scheduling policy to be used. 
# module/package name and classname should be in "module:classname" format.
# Comment / uncomment the following policies depending upon which is to be used.
#job_scheduler_policy = FIFO
job_scheduler_policy = galaxy.jobs.schedulingpolicy.roundrobin:UserRoundRobin

# Job queue cleanup interval in minutes. Currently only used by RoundRobin
job_queue_cleanup_interval = 30

# Database connection
database_file = database/universe.sqlite
# You may use a SQLAlchemy connection string to specify an external database instead
## database_connection = postgres:///galaxy
## database_engine_option_echo = true
## database_engine_option_echo_pool = true
## database_engine_option_pool_size = 10
## database_engine_option_max_overflow = 20

# Where dataset files are saved
file_path = database/files
# Temporary storage for additional datasets, this should be shared through the cluster
new_file_path = database/tmp

# Tools
tool_config_file = tool_conf.xml
tool_path = tools
tool_data_path = tool-data

# Datatype converters
datatype_converters_config_file = datatype_converters_conf.xml
datatype_converters_path = %(here)s/lib/galaxy/datatypes/converters

# Session support (beaker)
use_beaker_session = True
session_type = file
session_data_dir = %(here)s/database/beaker_sessions
session_key = galaxysessions
session_secret = changethisinproduction

# Galaxy session security
id_secret = changethisinproductiontoo

# Use user provided in an upstream server's $REMOTE_USER variable
## use_remote_user = False
# If use_remote_user is enabled and your external authentication
# method just returns bare usernames, set a default mail domain
## remote_user_maildomain = example.org

# Configuration for debugging middleware
debug = true
use_lint = false

# NEVER enable this on a public site (even test or QA)
use_interactive = true

# Admin Password
admin_pass = galaxy

# path to sendmail
sendmail_path = /usr/sbin/sendmail

# Address to join mailing list
mailing_join_addr = galaxy-user-join@bx.psu.edu

# Write thread status periodically to 'heartbeat.log' (careful, uses disk space rapidly!)
## use_heartbeat = True

# Enable the memory debugging interface (careful, negatively impacts server performance)
## use_memdump = True

# Profiling middleware (cProfile based)
## use_profile = True

# For use by 'report this error' link on error-state datasets
#smtp_server = smtp.example.org
#error_email_to = galaxy-bugs@example.org

# Use the new iframe / javascript based layout
use_new_layout = true

# Comma separated list of UCSC / gbrowse browsers to use for viewing
ucsc_display_sites = main,test,archaea
gbrowse_display_sites = elegans,flybase

# Serving static files (needed if running standalone)
static_enabled = True
static_cache_time = 360
static_dir = %(here)s/static/
static_images_dir = %(here)s/static/images
static_favicon_dir = %(here)s/static/favicon.ico
static_scripts_dir = %(here)s/static/scripts/
static_style_dir = %(here)s/static/june_2007_style/blue

## Leave these commented out for the defaults at the main galaxy site
## Uncomment and adjust these to change locally configurable items in the masthead
## for a local mirror where you are doing private software development
##
## Brand: appends "/[brand]" to the "Galaxy" text in the masthead
## wiki_url: replaces the default galaxy main wiki
## bugs_email: replaces the default galaxy bugs email list
#brand = Private local mirror
#wiki_url = /path/to/my/local/wiki
#bugs_email = mailto:galaxy-bugs@example.org

# ---- Job Runners ----------------------------------------------------------

# Clustering Galaxy is not a straightforward process and requires a lot of
# pre-configuration.  See the ClusteringGalaxy Wiki before attempting to set
# any of these options:
#
# http://g2.trac.bx.psu.edu/wiki/ClusteringGalaxy
#
# If running normally (without a cluster), do not change anything in this
# section.

# start_job_runners: Comma-separated list of job runners to start.  local is
# always started.  If left commented, no jobs will be run on the cluster, even
# if a cluster URL is explicitly defined in the [galaxy:tool_runners] section
# below.  The runners currently available are 'pbs' and 'sge'.
#start_job_runners = pbs

# default_cluster_job_runner: The URL for the default runner to use when a tool
# doesn't explicity define a runner below.  For help on the cluster URL format,
# see the ClusteringGalaxy Wiki.  Leave commented if not using a cluster job
# runner.
#default_cluster_job_runner = pbs:///

# The PBS options are described in detail in the Galaxy Configuration section of
# the ClusteringGalaxy Wiki, and are only necessary when using file staging.
#pbs_application_server = 
#pbs_stage_path = 
#pbs_dataset_server = 

# Individual per-tool job runner overrides.  If not listed here, a tool will
# run with the runner defined with default_cluster_job_runner.
[galaxy:tool_runners]

biomart = local:///
encode_db1 = local:///
encode_import_all_latest_datasets1 = local:///
encode_import_chromatin_and_chromosomes1 = local:///
encode_import_gencode1 = local:///
encode_import_genes_and_transcripts1 = local:///
encode_import_multi-species_sequence_analysis1 = local:///
encode_import_transcription_regulation1 = local:///
hbvar = local:///
microbial_import1 = local:///
ucsc_table_direct1 = local:///
ucsc_table_direct_archaea1 = local:///
ucsc_table_direct_test1 = local:///
upload1 = local:///
