# ---- HTTP Server ----------------------------------------------------------

[server:main]

use = egg:Paste#http
port = 8080
host = 127.0.0.1
use_threadpool = true
threadpool_workers = 10

# ---- Galaxy Web Interface -------------------------------------------------

[app:main]

# Specifies the factory for the universe WSGI application
paste.app_factory = galaxy.web.buildapp:app_factory
log_level = DEBUG

# Should jobs be tracked through the database, rather than in memory
## track_jobs_in_database = true

# Number of concurrent jobs to run (local runner)
job_queue_workers = 5

# Job scheduling policy to be used. 
# module/package name and classname should be in "module:classname" format.
# Comment / uncomment the following policies depending upon which is to be used.
#job_scheduler_policy = FIFO
job_scheduler_policy = galaxy.jobs.schedulingpolicy.roundrobin:UserRoundRobin

# Job queue cleanup interval in minutes. Currently only used by RoundRobin
job_queue_cleanup_interval = 30

# Database connection
database_file = database/universe.sqlite
# You may use a SQLAlchemy connection string to specify an external database instead
## database_connection = postgres:///galaxy_test

# Where dataset files are saved
file_path = database/files
# Temporary storage for additional datasets, this should be shared through the cluster
new_file_path = database/tmp

# Tools
tool_config_file = tool_conf.xml
tool_path = tools

# Datatype converters
datatype_converters_config_file = datatype_converters_conf.xml
datatype_converters_path = %(here)s/lib/galaxy/datatypes/converters

# Session support (beaker)
use_beaker_session = True
session_type = file
session_data_dir = %(here)s/database/beaker_sessions
session_key = galaxysessions
session_secret = changethisinproduction

# Configuration for debugging middleware
debug = true
use_lint = false

# NEVER enable this on a public site (even test or QA)
use_interactive = true

# Admin Password
admin_pass = "galaxy"

# path to sendmail
sendmail_path = /usr/sbin/sendmail

# Address to join mailing list
mailing_join_addr = galaxy-user-join@bx.psu.edu

# Write thread status periodically to 'heartbeat.log' (careful, uses disk space rapidly!)
## use_heartbeat = True

# Profiling middleware (cProfile based)
## use_profile = True

# Mail
smtp_server = coltrane.bx.psu.edu
error_email_to = james@bx.psu.edu

# Use the new iframe / javascript based layout
use_new_layout = true

# Comma separated list of UCSC / gbrowse browsers to use for viewing
ucsc_display_sites = main,test,archaea
gbrowse_display_sites = wormbase,flybase

# Serving static files (needed if running standalone)
static_enabled = True
static_cache_time = 360
static_dir = %(here)s/static/
static_images_dir = %(here)s/static/images
static_favicon_dir = %(here)s/static/favicon.ico
static_scripts_dir = %(here)s/static/scripts/
static_style_dir = %(here)s/static/june_2007_style/blue

# ---- Datatypes ------------------------------------------------------------

[galaxy:datatypes]

data = galaxy.datatypes.data:Data,application/octet-stream
bed = galaxy.datatypes.interval:Bed
txt = galaxy.datatypes.data:Text
text = galaxy.datatypes.data:Text
interval = galaxy.datatypes.interval:Interval
tabular = galaxy.datatypes.tabular:Tabular
png = galaxy.datatypes.images:Image,image/png
pdf = galaxy.datatypes.images:Image,application/pdf
gif = galaxy.datatypes.images:Image,image/gif
jpg = galaxy.datatypes.images:Image,image/jpeg
fasta = galaxy.datatypes.sequence:Fasta
maf = galaxy.datatypes.sequence:Maf
axt = galaxy.datatypes.sequence:Axt
gff = galaxy.datatypes.interval:Gff
gff3 = galaxy.datatypes.interval:Gff3
wig = galaxy.datatypes.interval:Wiggle
gmaj.zip = galaxy.datatypes.images:Gmaj,application/zip
laj = galaxy.datatypes.images:Laj
lav = galaxy.datatypes.sequence:Lav
html = galaxy.datatypes.images:Html,text/html
customtrack = galaxy.datatypes.interval:CustomTrack
gbrowsetrack = galaxy.datatypes.interval:GBrowseTrack
#EMBOSS TOOLS
match = galaxy.datatypes.data:Text
genbank = galaxy.datatypes.data:Text
motif = galaxy.datatypes.data:Text
acedb = galaxy.datatypes.data:Text
nexus = galaxy.datatypes.data:Text
fitch = galaxy.datatypes.data:Text
meganon = galaxy.datatypes.data:Text
codata = galaxy.datatypes.data:Text
dbmotif = galaxy.datatypes.data:Text
table = galaxy.datatypes.data:Text
pir = galaxy.datatypes.data:Text
ig = galaxy.datatypes.data:Text
seqtable = galaxy.datatypes.data:Text
clustal = galaxy.datatypes.data:Text
gcg = galaxy.datatypes.data:Text
hennig86 = galaxy.datatypes.data:Text
excel = galaxy.datatypes.data:Text
asn1 = galaxy.datatypes.data:Text
regions = galaxy.datatypes.data:Text
simple = galaxy.datatypes.data:Text
score = galaxy.datatypes.data:Text
msf = galaxy.datatypes.data:Text
selex = galaxy.datatypes.data:Text
tagseq = galaxy.datatypes.data:Text
embl = galaxy.datatypes.data:Text
srspair = galaxy.datatypes.data:Text
staden = galaxy.datatypes.data:Text
strider = galaxy.datatypes.data:Text
markx10 = galaxy.datatypes.data:Text
pair = galaxy.datatypes.data:Text
markx1 = galaxy.datatypes.data:Text
markx0 = galaxy.datatypes.data:Text
markx3 = galaxy.datatypes.data:Text
markx2 = galaxy.datatypes.data:Text
jackknifer = galaxy.datatypes.data:Text
ncbi = galaxy.datatypes.data:Text
mega = galaxy.datatypes.data:Text
feattable = galaxy.datatypes.data:Text
phylip = galaxy.datatypes.data:Text
diffseq = galaxy.datatypes.data:Text
srs = galaxy.datatypes.data:Text
jackknifernon = galaxy.datatypes.data:Text
swiss = galaxy.datatypes.data:Text
phylipnon = galaxy.datatypes.data:Text
nexusnon = galaxy.datatypes.data:Text
nametable = galaxy.datatypes.data:Text
