# Sample file for container resolvers. Resolvers that are may be used by default
# are uncommented (comments describe under which premises they are in the
# defaults).

# Note that commented yaml does not have a space after the #
# while additional explanations do.

# Explicit container resolvers
# ============================

# get a container description (URI) for an explict docker container requirement
- type: explicit

# get a container description (URI) for an explict singularity container requirement
- type: explicit_singularity

# get a cached container description (path) for singularity
# pulls the container into a cache directory if not yet there
#- type: cached_explicit_singularity
  # set the cache directory for storing images
  #cache_directory: database/container_cache/singularity/explicit

# Mulled container resolvers
# ==========================

# The following uncommented container resolvers are in the defaults
# if ``enable_mulled_containers`` is set in ``galaxy.yml`` (which is the default).

# get a container description to a cached mulled docker container
# - checks in the docker cache if the image is there
- type: cached_mulled
  namespace: biocontainers
- type: cached_mulled
  namespace: local
  # This container resolver has two arguments
  # the resolver will check the image cache for `quay.io/NAMESPACE/containername`
  # so if one (or another container resolver) did a
  # `docker pull quay.io/NAMESPACE/containername` then the image should be found
  # Note the local namespace is currently "abused" to refer to locally built
  # images (since there is no quay.io/local/)
  #namespace: biocontainers
  # the version of the mulled hashing function (v2/v1)
  #hash_func: v2


# get a container description for a cached mulled singularity container
# - checks in the local cache directory if the image file exists and returns the path if so
- type: cached_mulled_singularity
  namespace: biocontainers
- type: cached_mulled_singularity
  namespace: local
  # NOTE that the default container config specifies the namespace, but it is
  # currently not used in the code, i.e. the two resolvers are redundant
  #
  #cache_directory: database/container_cache/singularity/mulled
  #
  # the method for caching directory listings (not the method for image caching)
  # can be uncached, dir_mtime (the latter only determines the directory listing
  # if the mtime of the directory changed)
  # cache_directory_cacher_type: uncached
  #
  # the version of the mulled hashing function (v2/v1)
  #hash_func: v2

# Build a mulled container description to quay.io/NAMESPACE/MULLED_HASH where the
# mulled hash describes which packages and versions should be in the container
#
# if the corresponding CLI (docker) is available also the image
# will be pulled, i.e. the image will be in dockers image cache
#
# depending on the value of auto_install the container resolver will point
# to the cached image or quay.io/NAMESPACE/MULLED_HASH
# Note that this makes no difference for docker.
- type: mulled
  namespace: biocontainers
  # see `cached_mulled`
  #namespace: biocontainers
  # see `cached_mulled`
  #hash_func: v2
  # If true return quay.io/NAMESPACE/MULLED_HASH otherwise to the cached image
  # which is also quay.io/NAMESPACE/MULLED_HASH in case of docker
  #auto_install: true

# Nearly the same as mulled, but
# - when pulling the image file will be stored in the configured cache dir
# - if auto_install is True the result will point to the cached image file
# and to quay.io/NAMESPACE/MULLED_HASH otherwise
- type: mulled_singularity
  namespace: biocontainers
  # In addition to the arguments of `mulled` there are cache_directory
  # and cache_directory_cacher_type. See the description at `cached_explict_mulled`
  # and note the minor different in the default for the directory
  #cache_directory: database/container_cache/singularity/mulled
  #cache_directory_cacher_type: uncached

# Building container resolvers
# ----------------------------
#
# The following uncommented container resolvers are included in the default
# if ``docker`` is available

- type: build_mulled
  #namespace: local
  #hash_func: v2
  #auto_install: true
- type: build_mulled_singularity
  #hash_func: v2
  #auto_install: true
  #cache_directory: database/container_cache/singularity/mulled
  #cache_directory_cacher_type: uncached


# Other explicit container resolvers
# ----------------------------------

#-type: fallback
  #identifier: A_VALID_CONTAINER_IDENTIFIER
#-type: fallback_singularity
  #identifier: A_VALID_CONTAINER_IDENTIFIER
#-type: fallback_no_requirements
  #identifier: A_VALID_CONTAINER_IDENTIFIER
#-type: fallback_no_requirements_singularity
  #identifier: A_VALID_CONTAINER_IDENTIFIER
#-type: requires_galaxy_environment
  #identifier: A_VALID_CONTAINER_IDENTIFIER
#-type: requires_galaxy_environment_singularity
  #identifier: A_VALID_CONTAINER_IDENTIFIER

# mapping container resolver allows to specify a list of mappings from map tools
# (tool_id) to containers (identifier).

#-type: mapping
  #mappings:
  #- container_type: docker
     #tool_id: A_TOOL_ID
     #identifier: A_VALID_CONTAINER_IDENTIFIER
  #- container_type: singularity
     #tool_id: A_TOOL_ID
     #identifier: A_VALID_CONTAINER_IDENTIFIER