- type: dropbox
  id: dropbox1
  label: Dropbox files (configure access in user preferences)
  doc: Your Dropbox files - configure an access token via the user preferences
  accessToken: ${user.preferences['dropbox|access_token']}

- type: webdav
  id: owncloud1
  label: OwnCloud
  doc: External OwnCloud files (configure access in user preferences)
  url: ${user.preferences['owncloud|url']}
  root: ${user.preferences['owncloud|root']}
  login: ${user.preferences['owncloud|username']}
  password: ${user.preferences['owncloud|password']}

- type: posix
  root: '/data/5/galaxy_import/galaxy_user_data/covid-19/data/sequences/'
  id: covid19-raw-sequences
  label: COVID-19 FASTQ
  doc: COVID-19 RAW sequences in FASTQ format

- type: posix
  root: '/data/db/databases/pdb/pdb/'
  id: pdb-gzip
  doc: Protein Data Bank (PDB)
  label: PDB

- type: ftp
  id: ebi-ftp
  label: "EBI FTP server"
  doc: "European Bioinformatic Institute FTP server"
  host: "ftp.ebi.ac.uk"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ftp
  id: ncbi-ftp
  label: "NCBI FTP server"
  doc: "NCBI FTP server"
  host: "ftp.ncbi.nlm.nih.gov"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ftp
  id: ensembl-ftp
  label: "ENSEMBL FTP server"
  doc: "ENSEMBL FTP server"
  host: "ftp.ensemblgenomes.org/vol1/pub/"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ssh
  id: writeable-ssh-dir
  requires_roles: writeable-galaxy-role
  writable: true
  label: "Push your files to me"
  doc: "This is an example of a writeable SSH dir"
  host: "coolhost"
  user: "user"
  passwd: "passwd"
  timeout: 10
  path: "/home/cooluser/"
  config_path: ""
  port: 2222

- type: s3fs
  label: My MinIO storage
  endpoint_url: "https://minio.usegalaxy.eu"
  id: galaxy-minio-storage
  doc: Galaxy MinIO S3 storage
  anon: false
  secret: "UHAJ6asd6asdhasd"
  key: "MCJU76agdt98GGFAROIP7"

- type: s3fs
  label: Genome Ark
  id: genomeark
  doc: Access to Genome Ark open data on AWS.
  bucket: genomeark
  anon: true

- type: s3fs
  label: 1000 Genomes
  id: 1000genomes
  doc: Access to the 1000 Genomes Project with human genetic variation, including SNPs, structural variants, and their haplotype context.
  bucket: 1000genomes
  anon: true

- type: s3fs
  label: The Cancer Genome Atlas
  id: tcga-2-open
  doc: Access to the Cancer Genome Atlas (TCGA)
  bucket: tcga-2-open
  anon: true

- type: s3fs
  label: COVID-19 Data Lake
  id: covid19-lake
  doc: A centralized repository of up-to-date and curated datasets on or related to the spread and characteristics of the novel corona virus (SARS-CoV-2) and its associated illness, COVID-19
  bucket: covid19-lake
  anon: true

- type: s3fs
  label: Encyclopedia of DNA Elements (ENCODE)
  id: encode-public
  doc: The Encyclopedia of DNA Elements (ENCODE) Consortium is an international collaboration of research groups funded by the National Human Genome Research Institute (NHGRI)
  bucket: encode-public
  anon: true

- type: s3fs
  label: Sentinel-3
  id: meeo-s3-nrt
  doc: European Commission’s Copernicus Earth Observation Programme. Sentinel-3 is a polar orbiting satellite that completes 14 orbits of the Earth a day.
  bucket: meeo-s3/NRT/
  anon: true

- type: s3fs
  label: Sentinel-5P Level 2
  id: meeo-s5p-nrti
  doc: Observations from the Sentinel-5 Precursor satellite of the Copernicus Earth Observation Programme. It contains a polar orbiting satellite that completes 14 orbits of the Earth a day.
  bucket: meeo-s5p/RPRO/
  anon: true

- type: s3fs
  label: Coupled Model Intercomparison Project 6
  id: esgf-world
  doc: The sixth phase of global coupled ocean-atmosphere general circulation model ensemble
  bucket: esgf-world
  anon: true

- type: s3fs
  label: CMIP6 GCMs downscaled using WRF
  id: wrf-cmip6-noversioning
  doc: High-resolution historical and future climate simulations from 1980-2100
  bucket: wrf-cmip6-noversioning
  anon: true

- type: s3fs
  label: NOAA Global Forecast System (GFS)
  id: noaa-gfs-bdp-pds
  doc: The Global Forecast System (GFS) is a weather forecast model produced by the National Centers for Environmental Prediction (NCEP).
  bucket: noaa-gfs-bdp-pds
  anon: true

- type: s3fs
  label: NOAA Unified Forecast System Subseasonal to Seasonal Prototype 5
  id: noaa-ufs-prototype5-pds
  doc: The Unified Forecast System Subseasonal to Seasonal prototype 5 (UFS S2Sp5) dataset is reforecast data from the UFS atmosphere-ocean.
  bucket: noaa-ufs-prototype5-pds
  anon: true

- type: s3fs
  label: Copernicus Digital Elevation Model (DEM)
  id: copernicus-dem-30m
  doc: The Copernicus DEM is a Digital Surface Model (DSM) which represents the surface of the Earth including buildings, infrastructure and vegetation.
  bucket: copernicus-dem-30m
  anon: true

