# See $GALAXY_ROOT/lib/galaxy/tool_util/deps/resolvers/default_conda_mapping.yml for example mapping - 
# additional site-specific mappings can be added to config/local_conda_mapping.yml (or the location
# of <local_conda_mapping_file> specified in galaxy.yml).
