# Each subdomain entry will be rendered as a link in the navbar
# Ensure that you add an entry for your base site

subdomains:
  - title: Base
    url: https://mygalaxy.example.com/
  - title: Genomics
    url: https://genome.mygalaxy.org
