<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true">
  <section id="machine_learning" name="机器/深度学习">
    <tool file="machine_learning/tabfpn2.xml" />
  </section>
  <!-- <section id="hgv" name="测试">
    <tool file="phenotype_association/ldtools.xml" />
  </section> -->
  <!--
  <section id="interactivetools" name="Interactive tools">
    <tool file="interactive/interactivetool_askomics.xml" />
    <tool file="interactive/interactivetool_bam_iobio.xml" />
    <tool file="interactive/interactivetool_blobtoolkit.xml" />
    <tool file="interactive/interactivetool_cellxgene_0.16.2.xml" />
    <tool file="interactive/interactivetool_cellxgene_1.1.1.xml" />
    <tool file="interactive/interactivetool_ethercalc.xml" />
    <tool file="interactive/interactivetool_guacamole_desktop.xml" />
    <tool file="interactive/interactivetool_hicbrowser.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook_1.0.1.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook_1.0.0.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook.xml" />
    <tool file="interactive/interactivetool_neo4j.xml" />
    <tool file="interactive/interactivetool_openrefine.xml" />
    <tool file="interactive/interactivetool_phinch.xml" />
    <tool file="interactive/interactivetool_rstudio.xml" />
  </section>
  -->
</toolbox>
