<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true">
  <section id="getext" name="Get Data">
    <tool file="data_source/upload.xml" />
    <tool file="data_source/ucsc_tablebrowser.xml" />
    <!-- <tool file="data_source/ucsc_tablebrowser_test.xml" /> -->
    <tool file="data_source/ucsc_tablebrowser_archaea.xml" />
    <tool file="data_source/ncbi_datasets.xml" />
    <tool file="data_source/sra.xml" />
    <tool file="data_source/ebi_sra.xml" />
    <tool file="data_source/fly_modencode.xml" />
    <tool file="data_source/intermine.xml" />
    <tool file="data_source/flymine.xml" />
    <!-- <tool file="data_source/flymine_test.xml" /> -->
    <tool file="data_source/modmine.xml" />
    <tool file="data_source/mousemine.xml" />
    <tool file="data_source/ratmine.xml" />
    <tool file="data_source/yeastmine.xml" />
    <tool file="data_source/worm_modencode.xml" />
    <tool file="data_source/wormbase.xml" />
    <!-- <tool file="data_source/wormbase_test.xml" /> -->
    <tool file="data_source/zebrafishmine.xml" />
    <tool file="data_source/eupathdb.xml" />
    <tool file="data_source/hbvar.xml" />
  </section>
  <section id="send" name="Send Data">
    <tool file="data_export/send.xml" />
    <tool file="data_export/export_remote.xml" />
  </section>
  <section id="collection_operations" name="Collection Operations">
    <tool file="${model_tools_path}/unzip_collection.xml" />
    <tool file="${model_tools_path}/zip_collection.xml" />
    <tool file="${model_tools_path}/filter_failed_collection.xml" />
    <tool file="${model_tools_path}/filter_empty_collection.xml" />
    <tool file="${model_tools_path}/filter_null.xml" />
    <tool file="${model_tools_path}/flatten_collection.xml" />
    <tool file="${model_tools_path}/merge_collection.xml" />
    <tool file="${model_tools_path}/relabel_from_file.xml" />
    <tool file="${model_tools_path}/filter_from_file.xml" />
    <tool file="${model_tools_path}/sort_collection_list.xml" />
    <tool file="${model_tools_path}/harmonize_two_collections_list.xml" />
    <tool file="${model_tools_path}/cross_product_flat.xml" />
    <tool file="${model_tools_path}/cross_product_nested.xml" />
    <tool file="${model_tools_path}/tag_collection_from_file.xml" />
    <tool file="${model_tools_path}/apply_rules.xml" />
    <tool file="${model_tools_path}/build_list.xml" />
    <tool file="${model_tools_path}/build_list_1.2.0.xml" />
    <tool file="${model_tools_path}/extract_dataset.xml" />
    <tool file="${model_tools_path}/duplicate_file_to_collection.xml" />
  </section>
  <section id="expression_tools" name="Expression Tools">
    <tool file="expression_tools/parse_values_from_file.xml"/>
  </section>
  <section id="liftOver" name="Lift-Over">
    <tool file="extract/liftOver_wrapper.xml" />
  </section>
  <section id="textutil" name="Text Manipulation">
    <tool file="filters/fixedValueColumn.xml" />
    <tool file="filters/catWrapper.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/mergeCols.xml" />
    <tool file="filters/convert_characters.xml" />
    <tool file="filters/CreateInterval.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/changeCase.xml" />
    <tool file="filters/pasteWrapper.xml" />
    <tool file="filters/remove_beginning.xml" />
    <tool file="filters/randomlines.xml" />
    <tool file="filters/headWrapper.xml" />
    <tool file="filters/tailWrapper.xml" />
    <tool file="filters/trimmer.xml" />
    <tool file="filters/wc_gnu.xml" />
    <tool file="filters/secure_hash_message_digest.xml" />
  </section>
  <section id="convert" name="Convert Formats">
    <tool file="filters/bed2gff.xml" />
    <tool file="filters/gff2bed.xml" />
    <tool file="maf/maf_to_bed.xml" />
    <tool file="maf/maf_to_interval.xml" />
    <tool file="maf/maf_to_fasta.xml" />
    <tool file="filters/sff_extractor.xml" />
    <tool file="filters/wig_to_bigwig.xml" />
    <tool file="filters/bed_to_bigbed.xml" />
  </section>
  <section id="filter" name="Filter and Sort">
    <tool file="stats/filtering_1_1_0.xml" />
    <tool file="stats/filtering.xml" />
    <tool file="filters/sorter.xml" />
    <tool file="filters/grep.xml" />
    <tool file="filters/grep_1.0.1.xml"/>
    <label id="gff" text="GFF" />
    <tool file="filters/gff/extract_GFF_Features.xml" />
    <tool file="filters/gff/gff_filter_by_attribute.xml" />
    <tool file="filters/gff/gff_filter_by_feature_count.xml" />
    <tool file="filters/gff/gtf_filter_by_attribute_values_list.xml" />
  </section>
  <section id="group" name="Join, Subtract and Group">
    <tool file="filters/joiner.xml" />
    <tool file="filters/compare.xml" />
    <tool file="stats/grouping.xml" />
  </section>
  <section id="fetchAlignSeq" name="Fetch Alignments/Sequences">
    <tool file="maf/interval2maf_pairwise.xml" />
    <tool file="maf/maf_split_by_species.xml" />
    <tool file="maf/interval_maf_to_merged_fasta.xml" />
    <tool file="maf/genebed_maf_to_fasta.xml" />
    <tool file="maf/maf_stats.xml" />
    <tool file="maf/maf_thread_for_species.xml" />
    <tool file="maf/maf_limit_to_species.xml" />
    <tool file="maf/maf_limit_size.xml" />
    <tool file="maf/maf_by_block_number.xml" />
    <tool file="maf/maf_reverse_complement.xml" />
    <tool file="maf/maf_filter.xml" />
  </section>
  <section id="bxops" name="Operate on Genomic Intervals" version="">
    <tool file="filters/wiggle_to_simple.xml" />
    <tool file="stats/aggregate_binned_scores_in_intervals.xml" />
    <tool file="filters/ucsc_gene_bed_to_exon_bed.xml" />
  </section>
  <section id="stats" name="Statistics">
    <tool file="stats/gsummary.xml" />
    <tool file="filters/uniq.xml" />
  </section>
  <section id="plots" name="Graph/Display Data">
    <tool file="maf/vcf_to_maf_customtrack.xml" />
  </section>
  <section id="hgv" name="Phenotype Association">
    <tool file="phenotype_association/linkToGProfile.xml" />
    <tool file="phenotype_association/linkToDavid.xml" />
    <tool file="phenotype_association/ldtools.xml" />
    <tool file="phenotype_association/master2pg.xml" />
  </section>
  <!--
  <section id="interactivetools" name="Interactive tools">
    <tool file="interactive/interactivetool_askomics.xml" />
    <tool file="interactive/interactivetool_bam_iobio.xml" />
    <tool file="interactive/interactivetool_blobtoolkit.xml" />
    <tool file="interactive/interactivetool_cellxgene_0.16.2.xml" />
    <tool file="interactive/interactivetool_cellxgene_1.1.1.xml" />
    <tool file="interactive/interactivetool_ethercalc.xml" />
    <tool file="interactive/interactivetool_guacamole_desktop.xml" />
    <tool file="interactive/interactivetool_hicbrowser.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook_1.0.1.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook_1.0.0.xml" />
    <tool file="interactive/interactivetool_jupyter_notebook.xml" />
    <tool file="interactive/interactivetool_neo4j.xml" />
    <tool file="interactive/interactivetool_openrefine.xml" />
    <tool file="interactive/interactivetool_phinch.xml" />
    <tool file="interactive/interactivetool_rstudio.xml" />
    <tool file="interactive/interactivetool_rstudio_bioc_3.20.xml" />
  </section>
  -->
</toolbox>
