.icon-button.display {
    -sprite-group: history-buttons;
    -sprite-image: eye_icon.png;
}
.icon-button.display:hover {
    -sprite-group: history-buttons;
    -sprite-image: eye_icon_dark.png;
}
.icon-button.display_disabled {
    -sprite-group: history-buttons;
    -sprite-image: eye_icon_grey.png;
}
.icon-button.delete {
    -sprite-group: history-buttons;
    -sprite-image: delete_icon.png;
}
.icon-button.delete:hover {
    -sprite-group: history-buttons;
    -sprite-image: delete_icon_dark.png;
}
.icon-button.delete_disabled {
    -sprite-group: history-buttons;
    -sprite-image: delete_icon_grey.png;
}
.icon-button.edit {
    -sprite-group: history-buttons;
    -sprite-image: pencil_icon.png;
}
.icon-button.edit:hover {
    -sprite-group: history-buttons;
    -sprite-image: pencil_icon_dark.png;
}
.icon-button.edit_disabled {
    -sprite-group: history-buttons;
    -sprite-image: pencil_icon_grey.png;
}
.icon-button.tag {
    -sprite-group: fugue;
    -sprite-image: fugue/tag-label.png;
}
.icon-button.tags {
    -sprite-group: fugue;
    -sprite-image: fugue/tags.png;
}
.icon-button.tag--plus {
    -sprite-group: fugue;
    -sprite-image: fugue/tag--plus.png;
}
.icon-button.toggle-expand {
    -sprite-group: fugue;
    -sprite-image: fugue/toggle-expand.png;
}
.icon-button.toggle {
    -sprite-group: fugue;
    -sprite-image: fugue/toggle.png;
}
.icon-button.arrow-circle {
    -sprite-group: fugue;
    -sprite-image: fugue/arrow-circle.png;
}
.icon-button.chevron {
    -sprite-group: fugue;
    -sprite-image: fugue/chevron.png;
}
.icon-button.bug {
    -sprite-group: fugue;
    -sprite-image: fugue/bug.png;
}
.icon-button.disk {
    -sprite-group: fugue;
    -sprite-image: fugue/disk.png;
}
.icon-button.information {
    -sprite-group: fugue;
    -sprite-image: fugue/information-white.png;
}
.icon-button.annotate {
    -sprite-group: fugue;
    -sprite-image: fugue/sticky-note-text.png;
}
.icon-button.go-to-full-screen {
    -sprite-group: fugue;
    -sprite-image: fugue/external.png;
}
.icon-button.import {
    -sprite-group: fugue;
    -sprite-image: fugue/plus-circle.png;
}
.icon-button.plus-button {
    -sprite-group: fugue;
    -sprite-image: fugue/plus-button-bw.png;
}
.icon-button.plus-button:hover {
    -sprite-group: fugue;
    -sprite-image: fugue/plus-button.png;
}
.icon-button.gear {
    -sprite-group: fugue;
    -sprite-image: fugue/gear.png;
}
.icon-button.chart_curve {
    -sprite-group: fugue;
    -sprite-image: silk/chart_curve.png;
}

.text-and-autocomplete-select {
    -sprite-group: fugue;
    -sprite-image: fugue/control-270.png;
    -sprite-horiz-position: right;
}


div.historyItem-error .state-icon {
    -sprite-group: history-states;
    -sprite-image: data_error.png;
}

div.historyItem-empty .state-icon {
    -sprite-group: history-states;
    -sprite-image: data_empty.png;
}

div.historyItem-queued .state-icon {
    -sprite-group: history-states;
    -sprite-image: data_queued.png;
}