.embedded-item {
    background-color: #BBBBBB; 
    margin-left: auto; 
    margin-right: auto; 
    width: 90%; 
    max-height: 25em; 
    overflow: auto; 
    padding: 0.5em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}
.embedded-item.placeholder {}
.embedded-item .title {
    font-weight: bold;
    font-size:120%;
    vertical-align:top;
    text-align:center;
}
.embedded-item.placeholder .content{
    padding: 1em 1em;
    font-style:italic;
    text-align:center;
    }