.libraryRow {
    background-color: $form_title_bg_bottom;
}

.datasetHighlighted {
    background-color: $menu_bg_over;
}

div.historyItemBody {
    padding: 4px 4px 2px 4px;
}

li.folderRow,
li.datasetRow
{
    border-top: solid 1px #ddd;
}

li.folderRow:hover,
li.datasetRow:hover
{
    background-color: $menu_bg_over;
}

img.expanderIcon {
    padding-right: 4px;
}

input.datasetCheckbox,
li, ul
{
    padding: 0;
    margin: 0;
}

.rowTitle
{
    padding: 2px;
}

ul {
    list-style: none;
}

.libraryTitle th {
    text-align: left;
}

pre.peek
{
    background: white;
    color: black;
    width: 100%;
    overflow: auto;
}

pre.peek th
{
    color: white;
    background: $peek_table_header;
}

a.expandLink {
    text-decoration: none;
}

span.expandLink {
    width: 100%;
    height: 100%;
    display: block;
}
