body {
    font: 75% "Lucida Grande",verdana,arial,helvetica,sans-serif; 
    background: ${layout_bg};
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#background {
    position: absolute;
    background: ${layout_bg};
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#messagebox {
    position:absolute; 
    top:33px; 
    left:0; 
    width:100%; 
    height:24px !important;
    overflow: hidden; 
    border-bottom: solid #999 1px;
    font-size: 90%;
}

#left, #left-border, #center, #right-border, #right {
    position: absolute; 
    top: 39px;
    bottom: 0px;
    overflow: hidden; 
    background: #fff;
}
#left, #center, #right {
    border-top: solid ${layout_border} 1px;
}
#left-border, #right-border {
    background: #eeeeee;
    border-left: solid ${layout_border} 1px;
    border-right: solid ${layout_border} 1px;
    padding-right: 1px;
    padding-left: 1px;
    width: 5px;
    z-index: 10000; }
#left-border div, #right-border div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-position: center center;
    position: absolute;
    width: 5px;
    height: 100%;
}
#left-border div, #right-border.hidden div {
    background-image: url(tiny_arrow_left.png);
    cursor: w-resize;
}
#left-border.hidden div, #right-border div {
    background-image: url(tiny_arrow_right.png);
    cursor: e-resize;
}
#left-border.hover div, #right-border.hover div {
    background-color: ${layout_hover};
}
#left  {
    left: 0px;
    width: 250px;
    z-index: 200;
}
#left-border  {
    left: 250px;
}
#center  {
    left:259px;
    right: 259px;
    overflow: hidden;
    z-index: 1;
}
#right-border  {
    right: 250px;
}
#right {
    width: 250px;
    right: 0px; 
    z-index: 200;
}

.unified-panel-header {
    height: 2em;
    z-index: 1000;
    background: ${panel_header_bg_bottom};
    background-image: url(panel_header_bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    border-bottom: solid ${layout_border} 1px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
}
  
.unified-panel-header-inner {
    padding-top: 0.45em;
}
  
.menu-bg {
    background: $menu_bg_over url(menu_bg.png) top repeat-x;
}
    
div.unified-panel-body {
    position: absolute;
    top: 2em;
    bottom: 0;
    width: 100%;
    margin-top: 1px;
}

.panel-header-button {
    color: #333;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: -1px; padding: 1px;
    margin-top: -0.2em;
    border: solid #999 1px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.panel-header-button.popup {
    padding-right: 1.75em;
    background: url(../images/dropdownarrow.png) no-repeat right 7px;
}

.panel-header-button:hover {
    color: black;
    background-color: #ccc;
}

.panel-header-button:active {
    color: white;
    background-color: #aaaaaa;
}

#overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 20000;
}

.dialog-box-container {
    position: relative;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

.dialog-box-wrapper {
    position: relative;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.dialog-box {
    border: solid #999 1px;
    background: white;
    z-index: 80000;
}

.dialog-box .body {
    padding: 5px;
    overflow: auto;
    max-height: 500px;
    min-width: 300px;
}

.dialog-box .buttons {
    padding: 5px;
}

## Messages for message box, slightly different style

.panel-error-message, .panel-warning-message, .panel-done-message, .panel-info-message
{
    height: 24px;
    line-height: 24px;
    color: $base_text;
    padding: 0px;
    padding-left: 26px;
    background-color: $error_message_bg;
    background-image: url(error_small.png);
    background-repeat: no-repeat;
    background-position: 6px 50%;
}

.panel-warning-message 
{
    background-image: url(warn_small.png);
    background-color: $warn_message_bg;
}

.panel-done-message 
{
    background-image: url(done_small.png);
    background-color: $done_message_bg;
}

.panel-info-message 
{
    background-image: url(info_small.png);
    background-color: $info_message_bg;
}

## Masthead

#masthead {
    position:absolute; 
    top:0; 
    left:0; 
    width:100%;
    min-width:900px;
    height:32px;
    background: ${masthead_bg}; 
    color:#fff;
    border-bottom: solid ${layout_masthead_border} 1px;
    z-index: 15000;
    padding: 0;

    a {
        color: ${masthead_link};
        text-decoration: none;
    }
    
    .title {
        font-family: verdana;
        padding: 3px 10px;
        font-size: 175%;
        font-weight: bold;
        z-index: -1;
    }
}

#masthead a:hover {
    text-decoration: underline;
}

.quota-meter-container
{
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
}

.quota-meter
{
    position: absolute;
    top: 8px;
    right: 8px;
    height: 16px;
    width: 100px;
    background-color: $quota_meter_bg;
}

.quota-meter-bar
{
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    background-color: $quota_meter_bar;
}

.quota-meter-bar-warn
{
    background-color: $quota_meter_warn_bar;
}

.quota-meter-bar-error
{
    background-color: $quota_meter_error_bar;
}

.quota-meter-text
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    height: 16px;
    margin-top: -6px;
    text-align: center;
    z-index: 9001;
    color: $quota_meter_text;
}

## Tabs

.tab-group {

    margin: 0;
    padding: 0 10px;
    height: 100%;
    white-space: nowrap;
    cursor: default;
    background: transparent;
   
    .tab {
    
        background: ${masthead_bg};
        position: relative;
        float: left;
        margin: 0;
        padding: 0 1em;
        height: 32px;
        line-height: 32px;
        text-align: left;
        
        .submenu {
        
            display: none;
            position: absolute;
            z-index: 16000;
            left: 0;
            top: 32px;
            padding: 1em;
            margin: -1em;
            padding-top: 0;
            margin-top: 0;
            background-color: rgba(0,0,0,0.5);
            -moz-border-radius: 0 0 1em 1em;
            -webkit-border-bottom-right-radius: 1em;
            -webkit-border-bottom-left-radius: 1em;
        
            ul {
            
                display: block;
                margin: 0;
                padding: 0;
                list-style-type: none;
                background: ${masthead_bg};
            
                li {
                
                    display: block;
                    padding: 0 1em;
                    white-space: nowrap;
                }
            }
        }
    }

    .tab:hover > a {
        color: gold !important;
    }

    .active {
        background: rgb(1,1,1);
    }
}
