#left, #left-border, #center, #right-border, #right
{
     height: 600px;
     height: expression(document.body.clientHeight - 39 + "px");
}
#left-border, #right-border
{
    width: 9px;
}
table.column-layout
{
    position: static;
}