body
{
    background: white;
    color: $base_text;
    background: $menu_bg_over url(menu_bg.png) top repeat-x;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

hr
{
    border: none;
    height: 0px;
    margin-top: 0px;
}

div.toolSectionPad
{
    margin: 0;
    padding: 0;
    height: 5px;
    font-size: 0px;
}

div.toolSectionDetailsInner
{ 
  margin-left: 5px;
  margin-right: 5px;
}

div.toolSectionTitle
{
  font-weight: bold;
}

div.toolPanelLabel
{
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
}

div.toolTitle
{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 16px;
  margin-right: 10px;
  display: list-item;
  list-style: square outside;
}

div.toolSectionBody div.toolPanelLabel
{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 16px;
  margin-right: 10px;
  display: list-item;
  list-style: none outside;
}

div.toolTitleNoSection
{
  padding-bottom: 0px;
  font-weight: bold;
}
