.viewport-container {
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
}
.trackster-nav-container {
    width: 100%;
}
.trackster-nav {
    padding: 0 0;
    color:#333;
    font-weight:bold;
    background:#cccccc;
    background-image:url(panel_header_bg.png);
    background-position: middle center;
    background-repeat:repeat-x;
    border-bottom: solid #333 1px;
}
.content {
    font: 10px verdana;
}
.nav-controls {
    text-align: center;
    padding: 1px 0;
}
.nav-controls input {
    margin: 0 5px;
}
#zoom-in, #zoom-out {
    display:inline-block;
    height: 16px;
    width: 16px;
    margin-bottom: -3px;
    cursor: pointer;
}
#zoom-out {
    background: transparent url(../images/fugue/magnifier-zoom-out.png) center center no-repeat;
}
#zoom-in {
    margin-left: 10px;
    background: transparent url(../images/fugue/magnifier-zoom.png) center center no-repeat;
}
.nav-input {
    font-size: 12px;
    width: 30em;
    z-index: 1000;
}
.location {
    display: inline-block;
    width: 15em;
    margin: 0 10px;
}
.draghandle {
    margin-top: 2px;
    cursor: move;
    float: left;
    background: transparent url(../images/visualization/draggable_horizontal.png) center center no-repeat;
    width: 10px;
    height: 12px;
}
.intro {
    z-index: 1000;
/*    margin-top: 200px;*/
    margin-left: auto;
    margin-right: auto;
    color: #555;
    text-align: center;
    font-size: 16px;
}
.overview {
    width: 100%;
    margin: 0px;
    color: white;
}
.overview-viewport {
    position: relative;
    height: 14px;
/*    border-top: solid #666 1px;*/
/*    border-bottom: solid #aaa 1px;*/
    background: white;
    margin: 0;
}
.overview-close {
    font: 9px verdana;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    z-index: 500;
    background-color: white;
}
.overview-highlight {
    top: 0px;
    position: absolute;
    z-index: 100;
    border-style: solid;
    border-color: #666;
    border-width: 0px 1px;
}
.overview-boxback {
    width: 100%;
    bottom: 0px;
    z-index: 50;
    position: absolute;
    height: 14px;
    background: #eee;
    border: solid #999 1px;
}
.overview-box {
    cursor: pointer;
    bottom: 0px;
    z-index: 100;
    position: absolute;
    margin-top: 0px;
    height: 14px;
    background: #C1C9E5 url(../images/visualization/draggable_horizontal.png) center center no-repeat;
    border: solid #666 1px;
}
.viewport-canvas {
    width: 100%;
    height: 100px;
}

.yaxislabel {
    /* Needs to be > canvas z-index. */
    z-index: 101;
    position: absolute;
}

.yaxislabel.top {
    top: 24px;
    left: 10px;
}

.yaxislabel.bottom {
    bottom: 2px;
    left: 10px;
}

/* Line track needs borders to show range */
.line-track .track-content {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.group-handle {
    cursor: move;
    float: left;
    background: #eee url('../images/tracks/block.png');
    width: 12px;
    height: 12px;
}
.group {
    min-height: 20px;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
}    
.track {
    /* border-top: solid #DDDDDD 1px; */
    /* border-bottom: solid #DDDDDD 1px; */
    background: white;
}

.track-header {
    text-align: left;
    padding: 4px 0px;
    color: #666;
}

.track-header .menubutton {
    margin-left: 0px;
}

.tiles {
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
    background: #eee url('../images/tracks/diag_bg.gif');
    min-height: 16px;
    position: relative;
    overflow: hidden;
}

.overlay { 
    position: absolute;
    left: 0;
    top: 0;
}

.track-name {
    float: left;
    margin-top: 2px;
    height: 16px;
}

.label-track .track-content {
    background: white;
}

.track-tile {
    background: white;
}

.track-tile canvas {
    position: relative;
    z-index: 100;
}

.tile-message {
    border-bottom: solid 1px red;
    text-align: center;
    color: red;
    background-color: white;
}

.track.error .track-content {
    background-color: #ECB4AF;
    background-image: none;
}

.track-content {
    position: relative;
}

.track.nodata .track-content {
    background-color: #eee;
    background-image: none;
}
.track.pending .track-content {
    background-color: white;    
    background-image: none;
}

.loading {
    min-height: 100px;
}
.label-track {
    /* font-weight: bold; */
    font-size: 10px; 
    border: none;
    padding: 0;
    margin: 0;
    height: 1.5em;
    overflow: hidden;
}
.label-track .label {
    border-left: solid #999 1px;
    padding: 1px;
    padding-bottom: 2px;
    display: inline-block;
}
.label-track .track-content {
    border: none;
}
.reference-track {
    border: none;
    margin: 0;
    padding: 0;
}
.right-float {
    float: right;
    margin-left: 5px;
}

.top-labeltrack {
    position: relative;
    border-bottom: solid #999 1px;
}

.nav-labeltrack {
    border-top: solid #999 1px;
    border-bottom: solid #333 1px;
}   

## Styles for tools and filters.
input {
    font: 10px verdana;
}
.dynamic-tool, .filters {
    margin-left: 0.25em;
    padding-bottom:0.5em;
}
.dynamic-tool {
    width:410px;
}
.filters {
    float: left;
    margin: 1em;
    width: 60%;
    position:relative;
}
.display-controls {
    float: left;
    margin-left: 1em;
}
.slider-row {
    margin-left: 1em;
    height: 16px;
}
.slider-row.input {
    height: 22px;
}
.elt-label {
    float: left;
    width: 30%;
    font-weight: bold;
    margin-right: 1em;
}
.slider {
    float: left;
    width: 40%;
    position: relative;
    padding-top:2px;
}
.tool-name {
    font-size: 110%;
    font-weight: bold;
}
.param-row {
    margin-top: 0.2em;
    margin-left: 1em;
}
.param-label{
    float: left;
    font-weight: bold;
    padding-top: 0.2em;
    width: 50%;
}
.menu-button {
    margin: 0px 4px 0px 4px;
}
.exclamation{
    background: transparent url(../images/fugue/exclamation.png) no-repeat;
    margin-left: 5em;
}
.layer-transparent {
    background: transparent url(../images/fugue/layer-transparent-bw.png) no-repeat;
}
.layer-transparent.active {
    background: transparent url(../images/fugue/layer-transparent.png) no-repeat;
}
.arrow-resize-090 {
    background: transparent url(../images/fugue/arrow-resize-090-bw.png) no-repeat;
}
.arrow-resize-090.active {
    background: transparent url(../images/fugue/arrow-resize-090.png) no-repeat;
}
.layers-stack {
    background: transparent url(../images/fugue/layers-stack-bw.png) no-repeat;
}
.layers-stack:hover {
    background:transparent url(../images/fugue/layers-stack.png) no-repeat;
}
.chevron-expand {
    background: transparent url(../images/fugue/chevron-expand-bw.png) no-repeat;
}
.chevron-expand:hover {
    background:transparent url(../images/fugue/chevron-expand.png) no-repeat;
}
.settings-icon {
    background: transparent url(../images/fugue/gear-bw.png) no-repeat;
}
.settings-icon:hover {
    background: transparent url(../images/fugue/gear.png) no-repeat;
}
.overview-icon {
    background:transparent url(../images/fugue/application-dock-270-bw.png) no-repeat;
}
.overview-icon:hover {
    background:transparent url(../images/fugue/application-dock-270.png) no-repeat;
}
.hammer {
    background: transparent url(../images/fugue/hammer-bw.png) no-repeat;
}
.hammer:hover {
    background: transparent url(../images/fugue/hammer.png) no-repeat;
}
.toolbox {
    background: transparent url(../images/fugue/toolbox-bw.png) no-repeat;
}
.toolbox:hover {
    background: transparent url(../images/fugue/toolbox.png) no-repeat;
}
.filters-icon {
    background: transparent url(../images/fugue/ui-slider-050-bw.png) no-repeat;
}
.filters-icon:hover {
    background: transparent url(../images/fugue/ui-slider-050.png) no-repeat;
}
.remove-icon, .overview-close {
    background: transparent url(../images/fugue/cross-small-bw.png) no-repeat;
}
.icon-button.remove-icon:hover, .overview-close:hover {
    background: transparent url(../images/fugue/cross-circle.png) no-repeat;
}
.icon-button.toggle {
    background: transparent url(../images/fugue/toggle-bw.png) no-repeat;margin-right:0px;
}
.icon-button.toggle:hover {
    background: transparent url(../images/fugue/toggle.png) no-repeat;
}
.icon-button.toggle-expand {
    background: transparent url(../images/fugue/toggle-expand-bw.png) no-repeat;margin-right:0px;
}
.icon-button.toggle-expand:hover {
    background: transparent url(../images/fugue/toggle-expand.png) no-repeat;
}
.icon-button.cross-circle {
    background: transparent url(../images/fugue/cross-circle-bw.png) no-repeat;margin-right:0px;
}
.icon-button.cross-circle:hover {
    background: transparent url(../images/fugue/cross-circle.png) no-repeat;
}
.icon-button.block--plus {
    background: transparent url(../images/fugue/block--plus-bw.png) no-repeat;
}
.icon-button.block--plus:hover {
    background: transparent url(../images/fugue/block--plus.png) no-repeat;
}
.icon-button.bookmarks {
    background: transparent url(../images/fugue/bookmarks-bw.png) no-repeat;
}
.icon-button.bookmarks:hover {
    background: transparent url(../images/fugue/bookmarks.png) no-repeat;
}
.icon-button.toolbox {
    background: transparent url(../images/fugue/toolbox-bw.png) no-repeat;
}
.icon-button.toolbox:hover {
    background: transparent url(../images/fugue/toolbox.png) no-repeat;
}
.icon-button.disk--arrow {
    background: transparent url(../images/fugue/disk--arrow-bw.png) no-repeat;
}
.icon-button.disk--arrow:hover {
    background: transparent url(../images/fugue/disk--arrow.png) no-repeat;
}
.child-track-icon {
    background:url('../images/fugue/arrow-000-small-bw.png') no-repeat;
    width: 30px;
    cursor: move;
}
.track-resize {
    background: white url('../images/visualization/draggable_vertical.png') no-repeat top center;
    position: absolute;
    right: 3px;
    bottom: -4px;
    width: 14px;
    height: 7px;
    border: solid #999 1px;
    z-index: 100;
}
.bookmark {
    background:white;
    border:solid #999 1px;
    border-right:none;
    margin:0.5em;
    margin-right:0;
    padding:0.5em;
}
.bookmark .position {
    font-weight:bold;
}
.delete-icon-container {
    float:right;
}
.icon {
    display:inline-block;
    width:16px;
    height:16px;
}
.icon.more-down {
    background:url('../images/fugue/arrow-transition-270-bw.png') no-repeat 0px 0px;
}
.icon.more-across {
    background: url('../images/fugue/arrow-transition-bw.png') no-repeat 0px 0px;
}
.intro > .action-button {
    background-color: #CCC;
    margin-top: 10px;
    padding: 1em;
    text-decoration:underline;
}
.feature-popup {
    position: absolute;
    z-index: 1000;
    padding: 5px;
    font-size: 10px;
    filter: alpha(opacity=80);
    background-repeat: no-repeat;
    background-image: url(../images/tipsy.gif);
    background-position: top center;
}
.feature-popup-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
}
