<p class="help-text">
    Use the following control to change which columns are used by the chart. Click any cell
    from the last three rows of the table to select the column for the appropriate data.
    Use the 'Draw' button to render (or re-render) the chart with the current settings.
</p>

<ul class="help-text" style="margin-left: 8px">
    <li><b>X Column</b>: which column values will be used for the x axis of the chart.</li>
    <li><b>Y Column</b>: which column values will be used for the y axis of the chart.</li>
    <li><b>ID Column</b>: an additional column value displayed when the user hovers over a data point.
    It may be useful to select unique or categorical identifiers here (such as gene ids).
    </li>
</ul>

<div class="column-selection">
    <pre class="peek">{{{ peek }}}</pre>
</div>

<p class="help-text help-text-small">
    <b>Note</b>: If it can be determined from the dataset's filetype that a column is not numeric,
    that column choice may be disabled for either the x or y axis.
</p>

<button class="render-button btn btn-primary active">Draw</button>
