<p class="help-text">By column:</p>
    <table id="chart-stats-table">
        <thead><th></th><th>X</th><th>Y</th></thead>
        {{#each stats}}
        <tr><td>{{name}}</td><td>{{xval}}</td><td>{{yval}}</td></tr>
        </tr>
        {{/each}}
    </table>