# This file lists acceptable images to allow runing.
#
# This allows you, the admin, to create multiple flavours
# for your users to run. E.g. maybe you need a geosciences flavour,
# you can create the image based on our default image and add the
# appropriate `apt-get/pip install` statements.
---
-
    image: quay.io/sanbi-sa/neo_ie:3.1.9
    description: |
        Neo4j is a highly scalable, robust native graph database.
