<script type="text/template" class="template-history" id="template-history-warning-messages">
{{#if deleted}}{{#warningmessagesmall}}
    This dataset has been deleted.
    {{#if undelete_url}}
        Click <a href="{{ undelete_url }}" class="historyItemUndelete" id="historyItemUndeleter-{{ id }}"
                 target="galaxy_history">here</a> to undelete it
        {{#if purge_url}}
        or <a href="{{ purge_url }}" class="historyItemPurge" id="historyItemPurger-{{ id }}"
           target="galaxy_history">here</a> to immediately remove it from disk
        {{/if}}
    {{/if}}
{{/warningmessagesmall}}{{/if}}

{{#if purged}}{{#warningmessagesmall}}
    This dataset has been deleted and removed from disk.
{{/warningmessagesmall}}{{/if}}

{{#unless visible}}{{#warningmessagesmall}}
    This dataset has been hidden.
    {{#if undelete_url}}
        Click <a href="{{ unhide_url }}" class="historyItemUnhide" id="historyItemUnhider-{{ id }}"
                 target="galaxy_history">here</a> to unhide it
    {{/if}}
{{/warningmessagesmall}}{{/unless}}
</script>

<script type="text/template" class="template-history" id="template-history-titleLink">
<a href="javascript:void(0);"><span class="historyItemTitle">{{ hid }}: {{ name }}</span></a>
</script>

<script type="text/template" class="template-history" id="template-history-hdaSummary">
{{ misc_blurb }}<br />
format: <span class="{{ data_type }}">{{ data_type }}</span>,
database:
{{#if dbkey_unknown_and_editable }}
    <a href="{{ edit_url }}" target="galaxy_main">{{ metadata_dbkey }}</a>
{{else}}
    <span class="{{ metadata_dbkey }}">{{ metadata_dbkey }}</span>
{{/if}}
</script>
