<!--
History panel/page - the main container for hdas (gen. on the left hand of the glx page)
-->
<script type="text/template" class="template-history" id="template-history-historyPanel">
<div id="history-controls">

    <div id="history-title-area" class="historyLinks">
        {{! history name (if any) }}
        <div id="history-name-container">
            {{! TODO: factor out conditional css }}
            {{#if user.email}}
            <div id="history-name" class="tooltip editable-text"
                title="{{#local}}Click to rename history{{/local}}">{{name}}</div>
            {{else}}
            <div id="history-name" class="tooltip"
                title="{{#local}}You must be logged in to edit your history name{{/local}}">{{name}}</div>
            {{/if}}
        </div>
    </div>

    <div id="history-subtitle-area">
        <div id="history-size" style="float:left;">{{nice_size}}</div>

        <div id="history-secondary-links" style="float: right;">
            {{#if user.email}}
            <a id="history-tag" title="{{#local}}Edit history tags{{/local}}"
                class="icon-button tags tooltip" target="galaxy_main" href="javascript:void(0)"></a>
            <a id="history-annotate" title="{{#local}}Edit history annotation{{/local}}"
                class="icon-button annotate tooltip" target="galaxy_main" href="javascript:void(0)"></a>
            {{/if}}
        </div>
        <div style="clear: both;"></div>
    </div>

    {{! tags and annotations }}
    {{! TODO: move inline styles out }}
    {{#if user.email}}
    <div id="history-tag-annotation">

        <div id="history-tag-area" style="display: none">
            <strong>{{#local}}Tags{{/local}}:</strong>
            <div class="tag-elt"></div>
        </div>

        <div id="history-annotation-area" style="display: none">
            <strong>{{#local}}Annotation{{/local}}:</strong>
            <div id="history-annotation-container">
            <div id="history-annotation" class="tooltip editable-text"
                title="{{#local}}Click to edit annotation{{/local}}">
                {{#if annotation}}
                    {{annotation}}
                {{else}}
                    <em>{{#local}}Describe or add notes to history{{/local}}</em>
                {{/if}}
            </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{#if deleted}}
    {{#warningmessagesmall}}{{#local}}You are currently viewing a deleted history!{{/local}}{{/warningmessagesmall}}
    {{/if}}

    <div id="message-container">
        {{#if message}}{{! should already be localized }}
        <div class="{{status}}message">{{message}}</div>
        {{/if}}
    </div>

    <div id="quota-message-container" style="display: none">
        <div id="quota-message" class="errormessage">
            {{#local}}You are over your disk quota{{/local}}.
            {{#local}}Tool execution is on hold until your disk usage drops below your allocated quota{{/local}}.
        </div>
    </div>
</div>

<div id="{{id}}-datasets" class="history-datasets-list"></div>

<div class="infomessagesmall" id="emptyHistoryMessage" style="display: none;">
    {{#local}}Your history is empty. Click 'Get Data' on the left pane to start{{/local}}
</div>
</script>
