{{! TODO: move to mvc/annotations.js templates, editable-text }}
<div id="{{ id }}-annotation-area" class="annotation-area" style="display: none;">
    <strong>Annotation:</strong>
    <div id="{{ id }}-anotation-elt" class="annotation-elt tooltip editable-text"
         style="margin: 1px 0px 1px 0px" title="Edit dataset annotation">
    </div>
</div>