{{#warningmessagesmall}}
An error occurred setting the metadata for this dataset.
You may be able to <a href="{{ edit_url }}" target="galaxy_main">set it manually or retry auto-detection</a>.
{{/warningmessagesmall}}