<script type="text/template" class="template-history" id="template-user-quotaMeter-quota">
<div id="quota-meter" class="quota-meter progress">
    <div id="quota-meter-bar"  class="quota-meter-bar bar" style="width: {{quota_percent}}%"></div>
    {{! TODO: remove the hardcoded style }}
    <div id="quota-meter-text" class="quota-meter-text"style="top: 6px">
        {{#local}}Using{{/local}} {{ quota_percent }}%
    </div>
</div>
</script>

<script type="text/template" class="template-history" id="template-user-quotaMeter-usage">
{{! TODO: remove the hardcoded styles }}
<div id="quota-meter" class="quota-meter" style="background-color: transparent">
    <div id="quota-meter-text" class="quota-meter-text" style="top: 6px; color: white">
        {{#local}}Using{{/local}} {{ nice_total_disk_usage }}
    </div>
</div>
</script>
