{
    "presets": ["env"],
    "plugins": [
        [
            "auto-import",
            {
                "declarations": [{ "default": "$", "path": "jquery" }, { "default": "jQuery", "path": "jquery" }]
            }
        ]
    ]
}
