.repos_container{

width: 98%;
margin: auto;
margin-top: 1em;
overflow: auto !important;
tr {
  height: 32px;
}
tr.light td{
    background-color: white;
    color: black;
}
tr.light:hover td{
    background-color: #f5e8cc;
}
tr.dark {
  td{
    background-color: darken(#f5e8cc, 20%);
  }
}
tr.dark:hover{
  td{
    background-color: #ebd4a4;
  }
}
.repos_toolbar {
  margin-bottom: 0.5em;
  span {
    margin-right: 0.2em;
  }
  .toolbar-item{
    margin-left: 1em;
  }
}
.repos-nav{
  margin-top: 0.5em;
}
.icon-inline{
  margin-left: 0.5em;
}
.centercell{
  text-align: center;
}
.status-deactivated{
  background-color: #eee;
}
.status-new{
  background-color: #DBDB93;
}
.status-error{
  background-color: #f9c7c5;
}
.status-cloning,
.status-installing-tool-dependencies,
.status-installing-repository-dependencies,
.status-setting-tool-versions {
  background-color: #FFFFCC;
}
.update-new-version{
  background-color: #BFC0D0;
}
.update-minor-update{
  background-color: #FFE4CC;
}
.fa{
  font-size: 12px;
}

}
