/*
    galaxy master
*/
.galaxy-master
{
    position        : absolute;
    top             : 0px;
    right           : 100px;
    cursor          : pointer;
    color           : #D0D0D0;
    overflow        : hidden;
    z-index         : 34010;
    padding         : 8px;
}

.galaxy-icon
{
    float           : left;
    margin          : 0px 10px;
}

.galaxy-icon .number
{
    font-weight     : bold;
    font-size       : 12px;
    font-family     : Verdana, Arial;
    position        : relative;
    left            : 23px;
    top             : -9px;
}