a{text-decoration:underline}
label{font-weight:normal}
.libraryRow{background-color:#ebd9b2}
.datasetHighlighted{background-color:#f9f9f9}
.libraryItemDeleted-True{font-style:italic}
div.libraryItemBody{padding:4px 4px 2px 4px}
li.folderRow,li.datasetRow{border-top:solid 1px #c6bfa8}
li.folderRow:hover,li.datasetRow:hover{background-color:#f9f9f9}
td.right-center{vertical-align:middle !important;text-align:right}
.library_table td{border-top:1px solid #5f6990 !important}
.library_table th{border-bottom:2px solid #5f6990 !important}
.library_table a{color:#0A143D}.library_table a:hover{color:maroon}
.library_style_container{width:95%;margin:auto;margin-top:2em;overflow:auto !important}
tr.light td{background-color:white;color:black}
tr.light:hover td{background-color:#f5e8cc}
tr.dark td{background-color:#d6b161;color:white}
tr.dark:hover td{background-color:#ebd4a4;color:white}
a.dark{color:white}
.dataset_table tr{border-bottom:1px solid #5f6990 !important}
.dataset_table th{border:none !important}
.dataset_table td{border:none !important}
th.button_heading{width:2em}
.bigdrop.select2-container .select2-results{max-height:300px}
.bigdrop .select2-results{max-height:300px}
.select2-container-multi{width:100%}
.roles-selection{width:66%}
#library_toolbar{margin-bottom:1em}#library_toolbar span{margin-right:0.2em}
img.expanderIcon{padding-right:4px}
input.datasetCheckbox,li,ul{padding:0;margin:0}
.rowTitle{padding:2px}
ul{list-style:none}
.libraryTitle th{text-align:left}
pre.peek{background:white;color:black;overflow:auto}
pre.peek th{color:white;background:#ebd9b2}
.help-button{float:right}
span.expandLink{padding-left:12px;display:inline-block;vertical-align:middle;background:url(../images/silk/resultset_next.png) no-repeat}
.folderRow.expanded span.expandLink{background:url(../images/silk/resultset_bottom.png) no-repeat}
.folderRow span.rowIcon{float:left;margin-right:5px;width:16px;height:16px;display:inline-block;vertical-align:middle;background:url(../images/silk/folder.png)}
.libraryItem-error{margin-right:2px;padding:0 2px 0 2px;border:1px solid #dd1c15;background:#f9c7c5}
.libraryItem-queued{margin-right:2px;padding:0 2px 0 2px;border:1px solid #bfbfbf;background:#eee}
.libraryItem-running{margin-right:2px;padding:0 2px 0 2px;border:1px solid #aa6;background:#ffc}
.libraryItem-upload{margin-right:2px;padding:0 2px 0 2px;border:1px solid #1197c0;background:#a6e4f7}
