a{text-decoration:underline}
label{font-weight:normal}
body{background:#2c3143;color:#999;padding:0;border:0;margin:3px;margin-right:5px;margin-left:5px;overflow:hidden}
div.pageTitle{font-size:175%;font-weight:bold}
div.pageTitle a:link,div.pageTitle a:visited,div.pageTitle a:active,div.pageTitle a:hover{text-decoration:none}
a:link,a:visited,a:active{color:$masthead_link}
#tab-bar-bottom{z-index:-1;position:absolute;top:27px;left:0;width:100%;height:100%;background:#181a24}
span.link-group{margin:0;padding:0;display:inline;padding-bottom:10px;margin-bottom:-10px}
span.link-group span{margin:0;padding:0;display:inline}
span.link-group span.active-link{background:#181a24;padding-left:3px;padding-right:3px;margin-left:-3px;margin-right:-3px;padding-bottom:10px;margin-bottom:-10px}
