[main]

# Following options are ignored if using the Galaxy dynamic proxy but
# are useful if mapping a range of ports for environment consumption.
#apache_urls = False
#password_auth = False
#ssl = False

[docker]

# Command to execute docker. For example `sudo docker` or `docker-lxc`.
command = docker

# The docker image name that should be started.
image = bgruening/docker-ipython-notebook:dev

# Additional arguments that are passed to the `docker run` command.
command_inject = --sig-proxy=true -e DEBUG=false

# URL to access the Galaxy API with from the spawn Docker containter, if empty
# this falls back to galaxy.ini's galaxy_infrastructure_url and finally to the
# Docker host of the spawned container if that is also not set.
#galaxy_url = 

# The Docker hostname. It can be useful to run the Docker daemon on a different
# host than Galaxy.
#docker_hostname = localhost

# Try to set the tempdirectory to world execute - this can fix the issue 
# where	  'sudo docker' is not able to mount the folder otherwise.
# "finalize namespace chdir to /import permission denied"
wx_tempdir = False