.historyScroller {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.historyScroller {
    ul {
        list-style: none;
    }

    ul,
    li {
        padding: 0;
        margin: 0;
    }

    li.bench {
        overflow: hidden;
    }

    .scrollContent {
        transition: padding-top 0.5s;
        transition: padding-bottom 0.5s;
    }

    // .scrollToMe > .content-item {
    //     background-color: orange !important;
    // }
}
