<tables>
    <!-- Location of Picard dict files valid for GATK -->
    <table name="gatk2_picard_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gatk2_picard_index.loc" />
    </table>
    <!-- Available of GATK references -->
    <table name="gatk2_annotations" comment_char="#">
        <columns>value, name, gatk_value, tools_valid_for</columns>
        <file path="tool-data/gatk2_annotations.txt" />
    </table>
</tables>
