<div class="toolSectionTitle" id="title_{{id}}">
    <a href="javascript:void(0)"><span>{{name}}</span></a>
</div>
<div id="{{id}}" class="toolSectionBody" style="display: none; ">
    <div class="toolSectionBg"></div>
<div>