<input type="text" name="query" value="{{search_hint_string}}" id="tool-search-query" autocomplete="off" class="search-query parent-width" />
<a id="search-clear-btn" title="clear search (esc)"> </a>
<img src="{{spinner_url}}" id="search-spinner" class="search-spinner"/>