// Additional variables that are not used by bootstrap but are used
// in Galaxy stylesheets

$base-bg: $body-bg;
$base-text-color: $text-color;

// Masthead

$masthead-height: 3rem;

// Side panels

$panel-bg-color: $gray-100; // #dfe5f9;
$panel-text-color: $gray-900;
$side-panel-bg: $panel-bg-color;

$panel-header-bg-color: $gray-100;
$panel-header-text-color: #555;

$panel-message-height: 2.5rem; //1.875rem;

// Initial width of left and right panels
$panel-width: 18rem;

$layout_top_padding: 0px;
$border-default-color_padding: 0px;

$panel_header_height: 2.5rem;
$panel_footer_height: 25px;

$layout-border-color: $gray-900;
// $layout-border: solid $layout-border-color 1px;
$layout-border: none;

// Forms

$form-heading-bg: $complement-color-3;
$form-border: $complement-color-3;

$table-heading-bg: $complement-color-3;
$table-border: $complement-color-3;
$table-bg-accent: #f9f9f9; // for striping

// Additional state colors

$state-default-bg: $gray-lighter;
$state-default-border: $border-default-color;

$state-paused-bg: #d9edf7;

$state-running-border: #aaaa66;
$state-running-bg: #ffffcc;

$navbar-height: 36px; // 2.062500rem;
$navbar-default-bg: $gray-100; // JT #f8f8f8;
$navbar-default-border: darken($navbar-default-bg, $border-darken-percent);

// Margins
$spacer: 1rem; // Not sure why this is not coming from Bootstrap
$margin-v: $spacer * 1.5;
$margin-h: $spacer;

@import "theme/blue.scss";

// Theme: plain
//@import "theme/plain.scss";
