.upload-button {
    position: relative;
    width: 31px;
    height: 21px;
    top: -4px;
    cursor: pointer;
    -moz-border-radius: $border-radius-base;
    border-radius: $border-radius-base;
    .progress {
        height: 21px;
        margin: 0px;
        font-size: 0.75rem;
        background-color: #f5f5f5;
    }
    .progress-bar-danger {
        background: $state-danger-bg;
    }
    .progress-bar-success {
        background: $state-success-bg;
    }
    .progress-bar-info {
        background: $state-running-bg;
    }
    .progress-bar-notransition {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .panel-header-button {
        position: absolute;
        top: 4px;
        right: 8px;
        font-size: 1.2em;
        padding: 0px;
    }
}

.upload-view-default {
    .highlight {
        border-color: $table-border-color !important;
        border-width: 2px !important;
        padding: 9px !important;
        .upload-helper {
            color: $table-border-color !important;
        }
    }
    .upload-box {
        width: 100%;
        height: 310px;
        text-align: center;
        overflow: scroll;
        font-size: $font-size-base;
        line-height: $line-height-large;
        -moz-border-radius: $border-radius-large;
        border-radius: $border-radius-large;
        border: 1px dashed $btn-default-border;
        padding: 10px;
        overflow-x: hidden;
        -ms-overflow-style: none;
        .upload-helper {
            @extend h3;
            padding: 120px;
            color: $btn-default-border;
            i {
                margin-right: 10px;
                font-size: inherit;
            }
        }
        .upload-row {
            .select2-arrow b {
                background-position: 0 -3px;
            }
            .select2-choice {
                max-height: 20px;
                line-height: 18px;
                background: transparent;
            }
            .select2-container-disabled {
                .select2-arrow {
                    background: transparent;
                }
            }
            .upload-title {
                width: 130px;
                word-wrap: break-word;
                font-size: $font-size-sm;
                float: left;
            }
            /* Add back in lenght of extension, genome, and settings. */
            .upload-title-extended {
                width: 380px;
                word-wrap: break-word;
                font-size: $font-size-sm;
                float: left;
            }
            .upload-size {
                width: 60px;
                white-space: nowrap;
            }
            .upload-extension {
                width: 100px;
                min-width: 100px;
                font-size: $font-size-sm;
            }
            .upload-genome {
                width: 150px;
                min-width: 150px;
                font-size: $font-size-sm;
            }
            .upload-mode {
                font-size: 1.2em;
                width: 1.2em;
                float: left;
                position: relative;
                top: 2px;
            }
            .upload-text-column {
                position: relative;
                .upload-text {
                    position: absolute;
                    display: none;
                    .upload-text-content {
                        font-size: $font-size-sm;
                        width: 100%;
                        height: 80px;
                        resize: none;
                        background: inherit;
                        color: $black;
                        white-space: pre;
                        overflow: auto;
                    }
                    .upload-text-info {
                        @extend .text-primary;
                        font-size: $font-size-sm;
                    }
                }
            }
            .upload-info {
                width: 130px;
                font-size: $font-size-sm;
                line-height: 1.2em;
                .progress {
                    top: 1px;
                    position: relative;
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                    line-height: 1.55em;
                    .progress-bar {
                        border-radius: inherit;
                        -moz-border-radius: inherit;
                    }
                    .upload-percentage {
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        color: $white;
                    }
                }
            }
        }
    }
    .upload-rule-option {
        padding-top: 20px;

        .upload-rule-option-title {
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    .upload-box-solid {
        border: 1px solid $btn-default-border;
    }
    .upload-buttons {
        padding-top: 30px;
        button {
            margin-left: 5px;
        }
    }
    .upload-icon {
        @extend .ui-icon;
    }
    .upload-icon-button {
        @extend .ui-icon-button;
        position: relative;
        top: 1px;
    }
}

.upload-view-composite {
    @extend .upload-view-default;
    .upload-box {
        .upload-row {
            .upload-title {
                width: 175px;
            }
            .upload-source {
                .ui-button-menu {
                    width: 70px !important;
                }
            }
        }
    }
}

.upload-ftp-base {
    position: relative;
    .upload-ftp-wait {
        font-size: 1.2em;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .upload-ftp-help {
        margin-bottom: 10px;
    }
    .upload-ftp-warning {
        text-align: center;
        margin-top: 50px;
    }
    .upload-ftp-row {
        cursor: pointer;
        .ftp-name {
            position: relative;
            word-wrap: break-word;
        }
        .ftp-size {
            white-space: nowrap;
        }
        .ftp-time {
            white-space: nowrap;
        }
    }
    .upload-ftp-row:hover {
        // DBTODO: Not right.  Pick the exact style.
        @extend .grid;
        @extend .current;
    }
    th {
        padding: 5px !important;
    }
    td {
        padding: 8px 5px !important;
    }
}

.upload-ftp {
    @extend .upload-ftp-base;
    height: 250px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    .upload-ftp-row {
        cursor: pointer;
        .ftp-name {
            width: 240px;
        }
        .ftp-size {
            width: 60px;
        }
        .ftp-time {
            width: 165px;
        }
    }
}

.upload-ftp-full {
    @extend .upload-ftp-base;
    .upload-ftp-content {
        line-height: 2em !important;
    }
    th {
        text-align: center !important;
    }
}

.upload-settings {
    position: relative;
    .upload-settings-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: $white;
        opacity: 0.4;
        cursor: no-drop;
    }
}

.upload-footer {
    height: 20px;
    text-align: left;
    max-height: 20px;
    line-height: 18px;
    margin-top: 10px;
    .upload-footer-title {
        font-weight: bold;
        padding-left: 60px;
        padding-right: 20px;
    }
    .upload-footer-title-compressed {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 10px;
    }
    .upload-footer-selection {
        width: 200px;
        min-width: 200px;
        font-size: 11px;
        padding-right: 10px;
    }
    .upload-footer-selection-compressed {
        width: 120px;
        min-width: 120px;
        font-size: 11px;
        padding-right: 10px;
    }
    .select2-choice {
        .select2-arrow b {
            background-position: 0 -3px;
        }
        max-height: 20px;
        line-height: 18px;
        background: transparent;
        text-align: center;
        font-weight: normal;
    }
}

.upload-top {
    height: 20px;
    text-align: center;
    .upload-top-info {
        margin-top: 0px;
        font-weight: normal;
        text-align: center;
    }
}
