# These dependencies are only required when certain config options are set
psycopg2-binary==2.7.4
weberror==0.10.3
pygments==2.3.1
python-openid
mysql-python
fluent-logger
raven
pbs_python
drmaa
statsd
docker
azure-storage==0.32.0
# PyRods not in PyPI
python-ldap==2.4.44
python-pam
cloudbridge==1.0.1

# Chronos client
chronos-python==0.38.0

# Synnefo / Pithos+ object store client
kamaki

watchdog
