--extra-index-url https://wheels.galaxyproject.org/simple

aiohappyeyeballs==2.4.3 ; python_version >= "3.8" and python_version < "3.13"
aiohttp==3.10.10 ; python_version >= "3.8" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "3.13"
alabaster==0.7.13 ; python_version >= "3.8" and python_version < "3.13"
anyio==4.5.2 ; python_version >= "3.8" and python_version < "3.13"
ase==3.23.0 ; python_version >= "3.8" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "3.11"
attrs==24.2.0 ; python_version >= "3.8" and python_version < "3.13"
axe-selenium-python==2.1.6 ; python_version >= "3.8" and python_version < "3.13"
babel==2.16.0 ; python_version >= "3.8" and python_version < "3.13"
backports-tarfile==1.2.0 ; python_version >= "3.8" and python_version < "3.12"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
black==24.8.0 ; python_version >= "3.8" and python_version < "3.13"
boto3==1.35.36 ; python_version >= "3.8" and python_version < "3.13"
botocore==1.35.36 ; python_version >= "3.8" and python_version < "3.13"
build==1.2.2.post1 ; python_version >= "3.8" and python_version < "3.13"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.8" and python_version < "3.13"
certifi==2024.8.30 ; python_version >= "3.8" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "3.13"
charset-normalizer==3.4.0 ; python_version >= "3.8" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.13"
codespell==2.3.0 ; python_version >= "3.8" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows" or os_name == "nt")
contourpy==1.1.1 ; python_version >= "3.8" and python_version < "3.9"
contourpy==1.3.0 ; python_version >= "3.9" and python_version < "3.13"
coverage[toml]==7.6.1 ; python_version >= "3.8" and python_version < "3.13"
cryptography==43.0.3 ; python_version >= "3.8" and python_version < "3.13"
cwltest==2.5.20240906231108 ; python_version >= "3.8" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.8" and python_version < "3.13"
darker==2.1.1 ; python_version >= "3.8" and python_version < "3.13"
darkgraylib==1.2.1 ; python_version >= "3.8" and python_version < "3.13"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "3.13"
deprecated==1.2.14 ; python_version >= "3.8" and python_version < "3.13"
docutils==0.20.1 ; python_version >= "3.8" and python_version < "3.13"
dogpile-cache==1.3.3 ; python_version >= "3.9" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.16.1 ; python_version >= "3.8" and python_version < "3.13"
fluent-logger==0.11.1 ; python_version >= "3.8" and python_version < "3.13"
fonttools==4.54.1 ; python_version >= "3.8" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.8" and python_version < "3.13"
galaxy-release-util==0.1.11 ; python_version >= "3.8" and python_version < "3.13"
graylint==1.1.1 ; python_version >= "3.8" and python_version < "3.13"
greenlet==3.0.3 ; python_version >= "3.8" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.8" and python_version < "3.13"
httpcore==1.0.6 ; python_version >= "3.8" and python_version < "3.13"
httpx==0.27.2 ; python_version >= "3.8" and python_version < "3.13"
idna==3.10 ; python_version >= "3.8" and python_version < "3.13"
imagesize==1.4.1 ; python_version >= "3.8" and python_version < "3.13"
importlib-metadata==8.5.0 ; python_version >= "3.8" and python_version < "3.13"
importlib-resources==6.4.5 ; python_version >= "3.8" and python_version < "3.10"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.13"
isodate==0.6.1 ; python_version >= "3.8" and python_version < "3.13"
isort==5.13.2 ; python_version >= "3.8" and python_version < "3.13"
jaraco-classes==3.4.0 ; python_version >= "3.8" and python_version < "3.13"
jaraco-context==6.0.1 ; python_version >= "3.8" and python_version < "3.13"
jaraco-functools==4.1.0 ; python_version >= "3.8" and python_version < "3.13"
jeepney==0.8.0 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.8" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.8" and python_version < "3.13"
jsonschema-specifications==2023.12.1 ; python_version >= "3.9" and python_version < "3.13"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "3.13"
junit-xml==1.9 ; python_version >= "3.8" and python_version < "3.13"
keyring==25.4.1 ; python_version >= "3.8" and python_version < "3.13"
kiwisolver==1.4.7 ; python_version >= "3.8" and python_version < "3.13"
lxml==5.3.0 ; python_version >= "3.8" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.8" and python_version < "3.13"
markdown-it-reporter==0.0.2 ; python_version >= "3.8" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "3.13"
matplotlib==3.7.5 ; python_version >= "3.8" and python_version < "3.9"
matplotlib==3.9.2 ; python_version >= "3.9" and python_version < "3.13"
mdit-py-plugins==0.4.2 ; python_version >= "3.8" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.8" and python_version < "3.13"
mirakuru==2.5.2 ; python_version >= "3.8" and python_version < "3.13"
mistune==3.0.2 ; python_version >= "3.8" and python_version < "3.13"
more-itertools==10.5.0 ; python_version >= "3.8" and python_version < "3.13"
msgpack==1.1.0 ; python_version >= "3.8" and python_version < "3.13"
multidict==6.1.0 ; python_version >= "3.8" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.13"
myst-parser==3.0.1 ; python_version >= "3.8" and python_version < "3.13"
nh3==0.2.18 ; python_version >= "3.8" and python_version < "3.13"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.9"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.10"
numpy==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
onedatafilerestclient==21.2.5.2 ; python_version >= "3.8" and python_version < "3.13"
outcome==1.3.0.post0 ; python_version >= "3.8" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.8" and python_version < "3.13"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "3.13"
pbr==6.1.0 ; python_version >= "3.9" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.8" and python_version < "3.13"
pkce==1.0.3 ; python_version >= "3.8" and python_version < "3.13"
pkginfo==1.10.0 ; python_version >= "3.8" and python_version < "3.13"
platformdirs==4.3.6 ; python_version >= "3.8" and python_version < "3.13"
playwright==1.47.0 ; python_version >= "3.8" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "3.13"
port-for==0.7.3 ; python_version >= "3.8" and python_version < "3.13"
prettytable==3.11.0 ; python_version >= "3.8" and python_version < "3.13"
propcache==0.2.0 ; python_version >= "3.8" and python_version < "3.13"
psutil==6.1.0 ; python_version >= "3.8" and python_version < "3.13" and sys_platform != "cygwin"
psycopg==3.2.3 ; python_version >= "3.8" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.8" and python_version < "3.13"
pyee==12.0.0 ; python_version >= "3.8" and python_version < "3.13"
pygithub==2.4.0 ; python_version >= "3.8" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.8" and python_version < "3.13"
pyjwt[crypto]==2.9.0 ; python_version >= "3.8" and python_version < "3.13"
pynacl==1.5.0 ; python_version >= "3.8" and python_version < "3.13"
pyparsing==3.1.4 ; python_version >= "3.8" and python_version < "3.13"
pyproject-hooks==1.2.0 ; python_version >= "3.8" and python_version < "3.13"
pysocks==1.7.1 ; python_version >= "3.8" and python_version < "3.13"
pytest-asyncio==0.23.8 ; python_version >= "3.8" and python_version < "3.13"
pytest-base-url==2.1.0 ; python_version >= "3.8" and python_version < "3.13"
pytest-cov==5.0.0 ; python_version >= "3.8" and python_version < "3.13"
pytest-html==4.1.1 ; python_version >= "3.8" and python_version < "3.13"
pytest-httpserver==1.1.0 ; python_version >= "3.8" and python_version < "3.13"
pytest-json-report==1.5.0 ; python_version >= "3.8" and python_version < "3.13"
pytest-metadata==3.1.1 ; python_version >= "3.8" and python_version < "3.13"
pytest-mock==3.14.0 ; python_version >= "3.8" and python_version < "3.13"
pytest-playwright==0.5.2 ; python_version >= "3.8" and python_version < "3.13"
pytest-postgresql==6.1.1 ; python_version >= "3.8" and python_version < "3.13"
pytest-shard==0.1.2 ; python_version >= "3.8" and python_version < "3.13"
pytest==7.4.4 ; python_version >= "3.8" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "3.13"
python-irodsclient==2.2.0 ; python_version >= "3.8" and python_version < "3.13"
python-slugify==8.0.4 ; python_version >= "3.8" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.8" and python_version < "3.9"
pywin32-ctypes==0.2.3 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.8" and python_version < "3.13"
rdflib==6.3.2 ; python_version >= "3.8" and python_version < "3.13"
readme-renderer==43.0 ; python_version >= "3.8" and python_version < "3.13"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.8" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.8" and python_version < "3.13"
responses==0.25.3 ; python_version >= "3.8" and python_version < "3.13"
rfc3986==2.0.0 ; python_version >= "3.8" and python_version < "3.13"
rich==13.9.2 ; python_version >= "3.8" and python_version < "3.13"
rpds-py==0.20.0 ; python_version >= "3.9" and python_version < "3.13"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.8"
ruamel-yaml==0.18.6 ; python_version >= "3.8" and python_version < "3.13"
rucio-clients==35.4.1 ; python_version >= "3.9" and python_version < "3.13"
s3transfer==0.10.3 ; python_version >= "3.8" and python_version < "3.13"
schema-salad==8.7.20241010092723 ; python_version >= "3.8" and python_version < "3.13"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.9"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.10"
scipy==1.14.1 ; python_version >= "3.10" and python_version < "3.13"
secretstorage==3.3.3 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "linux"
selenium==4.25.0 ; python_version >= "3.8" and python_version < "3.13"
seletools==1.5.0 ; python_version >= "3.8" and python_version < "3.13"
setuptools==75.2.0 ; python_version >= "3.8" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.8" and python_version < "3.13"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.8" and python_version < "3.13"
sphinx-rtd-theme==3.0.1 ; python_version >= "3.8" and python_version < "3.13"
sphinx==7.1.2 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-jquery==4.1 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_version < "3.13"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_version < "3.13"
statsd==4.0.1 ; python_version >= "3.8" and python_version < "3.13"
stevedore==5.3.0 ; python_version >= "3.9" and python_version < "3.13"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "3.13"
testfixtures==8.3.0 ; python_version >= "3.8" and python_version < "3.13"
text-unidecode==1.3 ; python_version >= "3.8" and python_version < "3.13"
tinydb==4.8.2 ; python_version >= "3.8" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.8" and python_version < "3.13"
tomli==2.0.2 ; python_version >= "3.8" and python_full_version <= "3.11.0a6"
trio-websocket==0.11.1 ; python_version >= "3.8" and python_version < "3.13"
trio==0.27.0 ; python_version >= "3.8" and python_version < "3.13"
tuspy==1.0.3 ; python_version >= "3.8" and python_version < "3.13"
twill==3.3 ; python_version >= "3.8" and python_version < "3.13"
twine==5.1.1 ; python_version >= "3.8" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.8" and python_version < "3.13" and sys_platform == "win32"
urllib3==1.26.20 ; python_version >= "3.8" and python_version < "3.13"
urllib3[socks]==1.26.20 ; python_version >= "3.8" and python_version < "3.13"
watchdog==4.0.2 ; python_version >= "3.8" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "3.13"
websocket-client==1.8.0 ; python_version >= "3.8" and python_version < "3.13"
werkzeug==3.0.4 ; python_version >= "3.8" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.8" and python_version < "3.13"
wsproto==1.2.0 ; python_version >= "3.8" and python_version < "3.13"
yarl==1.15.2 ; python_version >= "3.8" and python_version < "3.13"
zipp==3.20.2 ; python_version >= "3.8" and python_version < "3.13"
