# bx-python and dependencies
numpy==1.9.2
python-lzo==1.11
bx-python==0.8.1

# packages with C extensions
MarkupSafe==1.0
PyYAML==3.12
SQLAlchemy==1.2.2
sqlalchemy-utils==0.32.19
mercurial==3.7.3; python_version < '3.0'
pycrypto==2.6.1
uWSGI==2.0.15
# Flexible BAM index naming is new to core pysam
pysam==0.14

# pure Python packages
bdbag==1.1.1
bleach==2.1.3
bz2file==0.98; python_version < '3.3'
ipaddress==1.0.18; python_version < '3.3'
boltons==17.1.0
Paste==2.0.3
PasteDeploy==1.5.2
docutils==0.14
repoze.lru==0.6
Routes==2.4.1
WebOb==1.4.1
Mako==1.0.2
pytz==2017.3
Babel==2.5.1
Beaker==1.7.0
dictobj==0.3.1
nose==1.3.7
Parsley==1.3
six==1.11.0
Whoosh==2.7.4
galaxy_sequence_utils==1.0.2
h5py==2.7.1
packaging==16.8

# pykwalify and dependencies
pykwalify==1.6.0
python-dateutil==2.5.3
docopt==0.6.2

# Cheetah and dependencies
Cheetah3==3.0.0
Markdown==2.6.3

# Requests and dependencies
requests==2.18.4
certifi==2017.7.27.1
urllib3==1.22
chardet==3.0.4
idna==2.6

# BioBlend and dependencies
bioblend==0.7.0
boto==2.38.0
requests-toolbelt==0.8.0


# kombu and dependencies
kombu==3.0.30
amqp==1.4.8
anyjson==0.3.3

# Pulsar requirements
psutil==4.1.0
pulsar-galaxy-lib==0.8.3

# sqlalchemy-migrate and dependencies
sqlalchemy-migrate==0.11.0
decorator==4.0.2
Tempita==0.5.3dev
sqlparse==0.1.16
pbr==3.1.1

# svgwrite and dependencies
svgwrite==1.1.6
pyparsing==2.1.1

# Fabric and dependencies
Fabric3==1.13.1.post1
paramiko==2.2.1
ecdsa==0.13

# GenomeSpace dependencies
python-genomespaceclient==0.1.8

# ISA
git+https://github.com/ISA-tools/isa-rwval.git@develop#egg=isa-rwval

