# bx-python and dependencies
numpy
python-lzo
bx-python

# packages with C extensions
MarkupSafe
PyYAML
SQLAlchemy
mercurial; python_version < '3.0'
pycrypto
# Flexible BAM index naming is new to main pysam
pysam>=0.13

# pure Python packages
bleach
bz2file; python_version < '3.3'
ipaddress; python_version < '3.3'
boltons
Paste
PasteDeploy
docutils
repoze.lru
Routes
WebOb
Mako
pytz
Babel
Beaker
dictobj
nose
Parsley
six
Whoosh
galaxy_sequence_utils
h5py
packaging

# Cheetah and dependencies
Cheetah3
Markdown

# BioBlend and dependencies
bioblend
boto
requests
requests-toolbelt

# kombu and dependencies
kombu

# Pulsar requirements
psutil
pulsar-galaxy-lib>=0.8.3

# sqlalchemy-migrate and dependencies
sqlalchemy-migrate
decorator
Tempita
sqlparse
pbr

# svgwrite and dependencies
svgwrite
pyparsing

# Fabric and dependencies
Fabric3
paramiko
ecdsa
