# packages with C extensions
# numpy should be installed before bx to enable extra features in bx
numpy
bx-python
MarkupSafe
PyYAML
SQLAlchemy
mercurial
pycrypto

# Install python_lzo if you want to support indexed access to lzo-compressed
# locally cached maf files via bx-python
#python_lzo

# pure Python packages
Paste
PasteDeploy
docutils
wchartype
repoze.lru
Routes
WebOb
WebHelpers
Mako
pytz
Babel
Beaker
dictobj
nose
Parsley
six
Whoosh

# Cheetah and dependencies
Cheetah
Markdown

# BioBlend and dependencies
bioblend
boto
requests
requests-toolbelt

# kombu and dependencies
kombu

# Pulsar requirements
psutil
pulsar-galaxy-lib>=0.7.0.dev4

# sqlalchemy-migrate and dependencies
sqlalchemy-migrate
decorator
Tempita
sqlparse
pbr

# svgwrite and dependencies
svgwrite
pyparsing

# Fabric and dependencies
Fabric
paramiko
ecdsa

# We still pin these dependencies because of modifications to the upstream packages

# Flexible BAM index naming
pysam==0.8.4+gx5
