#Harvested from http://genome-test.cse.ucsc.edu/cgi-bin/das/dsn
?	unspecified (?)
hg19Haps	hg19Haplotypes Feb. 2009 (GRCh37/hg19Haps) (hg19Haps)
hg19	Human Feb. 2009 (GRCh37/hg19) (hg19)
hg18	Human Mar. 2006 (NCBI36/hg18) (hg18)
hg17	Human May 2004 (NCBI35/hg17) (hg17)
hg16	Human July 2003 (NCBI34/hg16) (hg16)
hg15	Human Apr. 2003 (NCBI33/hg15) (hg15)
venter1	J. Craig Venter Sep. 2007 (HuRef/venter1) (venter1)
panTro2	Chimp Mar. 2006 (CGSC 2.1/panTro2) (panTro2)
panTro1	Chimp Nov. 2003 (CGSC 1.1/panTro1) (panTro1)
gorGor2	Gorilla Aug. 2009 (Sanger 4/gorGor2) (gorGor2)
gorGor1	Gorilla Oct. 2008 (Sanger 0.1/gorGor1) (gorGor1)
ponAbe2	Orangutan July 2007 (WUGSC 2.0.2/ponAbe2) (ponAbe2)
rheMac2	Rhesus Jan. 2006 (MGSC Merged 1.0/rheMac2) (rheMac2)
papHam1	Baboon Nov. 2008 (Baylor 1.0/papHam1) (papHam1)
calJac3	Marmoset March 2009 (WUGSC 3.2/calJac3) (calJac3)
calJac1	Marmoset June 2007 (WUGSC 2.0.2/calJac1) (calJac1)
otoGar1	Bushbaby Dec. 2006 (Broad/otoGar1) (otoGar1)
micMur1	Mouse lemur Jun. 2003 (Broad/micMur1) (micMur1)
tupBel1	Tree shrew Dec. 2006 (Broad/tupBel1) (tupBel1)
mmtv	MMTV Nov. 2009 (MMTV/mmtv) (mmtv)
homPan20	chimp/human Jun. 2008 (UCSC Recon/homPan20) (homPan20)
homIni20	orang/human Jun. 2008 (UCSC Recon/homIni20) (homIni20)
sorAra1	Shrew June 2006 (Broad/sorAra1) (sorAra1)
mm9	Mouse July 2007 (NCBI37/mm9) (mm9)
mm8	Mouse Feb. 2006 (NCBI36/mm8) (mm8)
mm7	Mouse Aug. 2005 (NCBI35/mm7) (mm7)
rn4	Rat Nov. 2004 (Baylor 3.4/rn4) (rn4)
rn3	Rat June 2003 (Baylor 3.1/rn3) (rn3)
speTri1	Squirrel Feb. 2008 (Broad/speTri1) (speTri1)
cavPor3	Guinea pig Feb. 2008 (Broad/cavPor3) (cavPor3)
oryCun2	Rabbit Apr. 2009 (Broad/oryCun2) (oryCun2)
oryCun1	Rabbit May 2005 (Broad/oryCun1) (oryCun1)
ochPri2	Pika Jul. 2008 (Broad/ochPri2) (ochPri2)
eriEur1	Hedgehog June 2006 (Broad/eriEur1) (eriEur1)
felCatV17e	Cat Dec. 2008 (NHGRI/GTB V17e/felCatV17e) (felCatV17e)
felCat3	Cat Mar. 2006 (Broad/felCat3) (felCat3)
ailMel1	Panda Dec. 2009 (BGI-Shenzhen 1.0/ailMel1) (ailMel1)
nemVec1	Starlet sea anemone Jun. 2007 (JGI-PDF/nemVec1) (nemVec1)
canFam2	Dog May 2005 (Broad/canFam2) (canFam2)
canFam1	Dog July 2004 (Broad/canFam1) (canFam1)
canFamPoodle1	Dog May 2003 (TIGR Poodle/canFamPoodle1) (canFamPoodle1)
equCab2	Horse Sep. 2007 (Broad/equCab2) (equCab2)
equCab1	Horse Jan. 2007 (Broad/equCab1) (equCab1)
susScr2	Pig Nov. 2009 (SGSC Sscrofa9.2/susScr2) (susScr2)
pteVam1	Megabat Jul. 2008 (Broad/pteVam1) (pteVam1)
myoLuc1	Microbat Mar. 2006 (Broad/myoLuc1) (myoLuc1)
susScr1	Pig Apr. 2009 (SGSC 9.53/susScr1) (susScr1)
turTru1	Dolphin Feb. 2008 (Broad/turTru1) (turTru1)
tarSyr1	Tarsier Aug. 2008 (Broad/tarSyr1) (tarSyr1)
proCap1	Rock hyrax Jul. 2008 (Broad/proCap1) (proCap1)
oviAri1	Sheep Feb. 2010 (ISGC Ovis_aries_1.0/oviAri1) (oviAri1)
dipOrd1	Kangaroo rat Jul. 2008 (Broad/dipOrd1) (dipOrd1)
choHof1	Sloth Jul. 2008 (Broad/choHof1) (choHof1)
bosTau4	Cow Oct. 2007 (Baylor 4.0/bosTau4) (bosTau4)
bosTau3	Cow Aug. 2006 (Baylor 3.1/bosTau3) (bosTau3)
bosTau2	Cow Mar. 2005 (Baylor 2.0/bosTau2) (bosTau2)
macEug1	Wallaby Nov. 2007 (Baylor 1.0/macEug1) (macEug1)
dasNov2	Armadillo Jul. 2008 (Broad/dasNov2) (dasNov2)
dasNov1	Armadillo May 2005 (Broad/dasNov1) (dasNov1)
echTel1	Tenrec July 2005 (Broad/echTel1) (echTel1)
loxAfr3	Elephant Jul. 2009 (Broad/loxAfr3) (loxAfr3)
loxAfr2	Elephant Jul. 2008 (Broad/loxAfr2) (loxAfr2)
loxAfr1	Elephant May 2005 (Broad/loxAfr1) (loxAfr1)
monDom5	Opossum Oct. 2006 (Broad/monDom5) (monDom5)
monDom4	Opossum Jan. 2006 (Broad/monDom4) (monDom4)
monDom1	Opossum Oct. 2004 (Broad prelim/monDom1) (monDom1)
ornAna1	Platypus Mar. 2007 (WUGSC 5.0.1/ornAna1) (ornAna1)
galGal3	Chicken May 2006 (WUGSC 2.1/galGal3) (galGal3)
galGal2	Chicken Feb. 2004 (WUGSC 1.0/galGal2) (galGal2)
taeGut1	Zebra finch Jul. 2008 (WUGSC 3.2.4/taeGut1) (taeGut1)
anoCar1	Lizard Feb. 2007 (Broad/anoCar1) (anoCar1)
xenTro2	X. tropicalis Aug. 2005 (JGI 4.1/xenTro2) (xenTro2)
xenTro1	X. tropicalis Oct. 2004 (JGI 3.0/xenTro1) (xenTro1)
danRer6	Zebrafish Dec. 2008 (Zv8/danRer6) (danRer6)
danRer5	Zebrafish July 2007 (Zv7/danRer5) (danRer5)
danRer4	Zebrafish Mar. 2006 (Zv6/danRer4) (danRer4)
danRer3	Zebrafish May 2005 (Zv5/danRer3) (danRer3)
tetNig2	Tetraodon Mar. 2007 (Genoscope 8.0/tetNig2) (tetNig2)
tetNig1	Tetraodon Feb. 2004 (Genoscope 7/tetNig1) (tetNig1)
fr2	Fugu Oct. 2004 (JGI 4.0/fr2) (fr2)
fr1	Fugu Aug. 2002 (JGI 3.0/fr1) (fr1)
gasAcu1	Stickleback Feb. 2006 (Broad/gasAcu1) (gasAcu1)
oryLat2	Medaka Oct. 2005 (NIG/UT MEDAKA1/oryLat2) (oryLat2)
oryLat1	Medaka Apr. 2006 (NIG/UT MEDAKA1/oryLat1) (oryLat1)
petMar1	Lamprey Mar. 2007 (WUGSC 3.0/petMar1) (petMar1)
borEut13	Boreoeutherian Apr. 24. 2006 (UCSC Recon/borEut13) (borEut13)
canHg12	Boreoeutherian Nov. 19. 2005 (UCSC Recon/canHg12) (canHg12)
rodEnt13	Rodent Apr. 24. 2006 (UCSC Recon/rodEnt13) (rodEnt13)
priMat13	Primate Apr. 24. 2006 (UCSC Recon/priMat13) (priMat13)
nonAfr13	Non-Afrotheria Apr. 24. 2006 (UCSC Recon/nonAfr13) (nonAfr13)
lauRas13	Laurasiatheria Apr. 24. 2006 (UCSC Recon/lauRas13) (lauRas13)
homIni14	Hominidae Oct. 1. 2006 (UCSC Recon/homIni14) (homIni14)
homIni13	Hominidae Apr. 24. 2006 (UCSC Recon/homIni13) (homIni13)
gliRes13	Glires Apr. 24. 2006 (UCSC Recon/gliRes13) (gliRes13)
eutHer13	Eutheria Apr. 24. 2006 (UCSC Recon/eutHer13) (eutHer13)
euaGli13	Euarchontoglires Apr. 24. 2006 (UCSC Recon/euaGli13) (euaGli13)
catArr1	Catarrhini June 13. 2006 (UCSC Recon/catArr1) (catArr1)
afrOth13	Afrotheria Apr. 24. 2006 (UCSC Recon/afrOth13) (afrOth13)
braFlo1	Lancelet Mar. 2006 (JGI 1.0/braFlo1) (braFlo1)
ci2	C. intestinalis Mar. 2005 (JGI 2.1/ci2) (ci2)
ci1	C. intestinalis Dec. 2002 (JGI 1.0/ci1) (ci1)
cioSav2	C. savignyi July 2005 (Sidow Lab 2.0/cioSav2) (cioSav2)
cioSav1	C. savignyi Apr. 2003 (Broad/cioSav1) (cioSav1)
strPur2	S. purpuratus Sep. 2006 (Baylor 2.1/strPur2) (strPur2)
strPur1	S. purpuratus Apr. 2005 (Baylor 1.1/strPur1) (strPur1)
ce8	C. elegans Jun 2009 (WS204/ce8) (ce8)
ce7	C. elegans Feb 2009 (WS200/ce7) (ce7)
aplCal1	Sea hare Sept. 2008 (Broad 2.0/aplCal1) (aplCal1)
ce6	C. elegans May 2008 (WS190/ce6) (ce6)
ce5	C. elegans Aug. 2007 (WS180/ce5) (ce5)
ce4	C. elegans Jan. 2007 (WS170/ce4) (ce4)
ce3	C. elegans March 2005 (WS140/ce3) (ce3)
ce2	C. elegans Mar. 2004 (WS120/ce2) (ce2)
caePb2	C. brenneri Feb. 2008 (WUGSC 6.0.1/caePb2) (caePb2)
caePb1	C. brenneri Jan. 2007 (WUGSC 4.0/caePb1) (caePb1)
cb3	C. briggsae Jan. 2007 (WUGSC 1.0/cb3) (cb3)
cb2	C. briggsae Aug 2005 (WUGSC prelim/cb2) (cb2)
cb1	C. briggsae July 2002 (WormBase cb25.agp8/cb1) (cb1)
caeRem3	C. remanei May 2007 (WUGSC 15.0.1/caeRem3) (caeRem3)
caeRem2	C. remanei Mar. 2006 (WUGSC 1.0/caeRem2) (caeRem2)
caeRem1	C. remanei March 2005 (WUGSC prelim/caeRem1) (caeRem1)
caeJap2	C. japonica Jan. 2009 (WUGSC 4.0.1/caeJap2) (caeJap2)
caeJap1	C. japonica Mar. 2008 (WUGSC 3.0.2/caeJap1) (caeJap1)
priPac1	P. pacificus Feb. 2007 (WUGSC 5.0/priPac1) (priPac1)
dm3	D. melanogaster Apr. 2006 (BDGP R5/dm3) (dm3)
dm2	D. melanogaster Apr. 2004 (BDGP R4/dm2) (dm2)
dm1	D. melanogaster Jan. 2003 (BDGP R3/dm1) (dm1)
droSim1	D. simulans Apr. 2005 (WUGSC mosaic 1.0/droSim1) (droSim1)
droSec1	D. sechellia Oct. 2005 (Broad/droSec1) (droSec1)
droYak2	D. yakuba Nov. 2005 (WUGSC 7.1/droYak2) (droYak2)
droYak1	D. yakuba Apr. 2004 (WUGSC 1.0/droYak1) (droYak1)
droEre1	D. erecta Aug. 2005 (Agencourt prelim/droEre1) (droEre1)
droAna2	D. ananassae Aug. 2005 (Agencourt prelim/droAna2) (droAna2)
droAna1	D. ananassae July 2004 (TIGR/droAna1) (droAna1)
dp3	D. pseudoobscura Nov. 2004 (FlyBase 1.03/dp3) (dp3)
dp2	D. pseudoobscura Aug. 2003 (Baylor freeze1/dp2) (dp2)
droPer1	D. persimilis Oct. 2005 (Broad/droPer1) (droPer1)
droVir2	D. virilis Aug. 2005 (Agencourt prelim/droVir2) (droVir2)
droVir1	D. virilis July 2004 (Agencourt prelim/droVir1) (droVir1)
droMoj2	D. mojavensis Aug. 2005 (Agencourt prelim/droMoj2) (droMoj2)
droMoj1	D. mojavensis Aug. 2004 (Agencourt prelim/droMoj1) (droMoj1)
droGri1	D. grimshawi Aug. 2005 (Agencourt prelim/droGri1) (droGri1)
anoGam1	A. gambiae Feb. 2003 (IAGEC MOZ2/anoGam1) (anoGam1)
apiMel2	A. mellifera Jan. 2005 (Baylor 2.0/apiMel2) (apiMel2)
apiMel1	A. mellifera July 2004 (Baylor 1.2/apiMel1) (apiMel1)
triCas2	T. castaneum Sep. 2005 (Baylor 2.0/triCas2) (triCas2)
falciparum	P. falciparum Plasmodium falciparum (?/falciparum) (falciparum)
sacCer2	S. cerevisiae June 2008 (SGD/sacCer2) (sacCer2)
sacCer1	S. cerevisiae Oct. 2003 (SGD/sacCer1) (sacCer1)
sc1	SARS coronavirus Apr. 2003 (GenBank Apr. 14 '03/sc1) (sc1)
