// Additional variables that are not used by bootstrap but are used
// in Galaxy stylesheets
$body-bg: $white;
$text-color: $gray-900;

// Masthead
$masthead-height: 3rem;

// Side panels
$panel-bg-color: $gray-100; // #dfe5f9;
$panel-text-color: $gray-900;
$panel-header-bg-color: $gray-100;
$panel-header-text-color: #555;
$panel-message-height: 2.5rem; //1.875rem;
$panel-width: 18rem;
$panel_header_height: 2.5rem;
$panel_footer_height: 25px;

// Layout
$layout_top_padding: 0px;
$layout-border-color: $gray-900;
$layout-border: none;

// Borders
$border-radius-base: 0.1875rem;
$border-radius-large: 0.3125rem;

// Buttons
$btn-default-color: #333;
$btn-default-bg: darken($white, 5%);
$btn-default-border: $border-default-color;

// Forms
$form-heading-bg: #ebd9b2;
$form-border: darken($form-heading-bg, 20%);

// Table
$table-heading-bg: $panel-bg-color;
$table-bg-accent: #f9f9f9; // for striping
$table-border-color: darken($table-heading-bg, 20%);

// Additional state colors
$state-default-bg: $gray-lighter;
$state-default-border: $border-default-color;
$state-paused-bg: #d9edf7;
$state-running-border: #aaaa66;
$state-running-bg: #ffffcc;

// Navbar
$navbar-height: 36px; // 2.062500rem;
$navbar-default-bg: $gray-100; // JT #f8f8f8;
$navbar-default-border: darken($navbar-default-bg, 20%);

// Margins
$spacer: 1rem; // Not sure why this is not coming from Bootstrap
$margin-v: $spacer * 1.5;
$margin-h: $spacer;

// Inputs
$input-border: #aaa;
