html, body {
    height: 100%;
    font-size: 13px;
}

body {
    overflow: hidden;
}

.body-container {
    opacity: 0;
    transition: opacity 1s;
}

.body-container-loaded {
    opacity: 1;
}

/* Styles for message text box */
.message-textarea {
    height: 50px !important;
    width: 99.5%;
    font-size: 13px;
    padding: 6px 3px;
}

/* Styles for top right icons */
.right_icons {
    margin-left: 94.5%;
}

.chat-room-textbx {
    width: 34%;
    height: 10%;
    font-size: 13px;
    padding: 6px 3px;
}

ul, li,
.anchor {
    cursor: pointer;
    color: black;
}

.messages {
    overflow-y: auto;
    height: 100%;
    margin-left: 2px;
}

.send_message {
    margin-top: 5px;
    margin-left: 2px;
}

.user_name {
    font-style: italic;
}

.user_message {
    background-color: #DFE5F9;
    width: 99%;
}

.date_time {
    font-style: italic;
    font-size: 12px;
}

.date_time span {
    float: right;
}

.tab-content {
    height: 64%;
}

.tab-pane {
    height: 100%;
}

.nav li a {
    padding: 7px 7px;
}

ul > li i {
    padding-left: 4px;
    font-size: 12px;
}

.join-room {
    margin-left: 1.1%;
}

.global-rooms {
    overflow-y: auto;
    height: 200px;
    margin-top: 1%;
}

a:hover, a:visited {
    text-decoration: none;
}

/****styles for overflow tabs****/
.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 45px;
}

.list {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-top: 0px;
}

.list li {
    display: table-cell;
    position: relative;
    text-align: center;
    color: #efefef;
    vertical-align: middle;
}

.scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 5px;
    padding-top: 9px;
    vertical-align: middle;
    background-color: #fff;
}

.scroller-right {
   float: right;
}

.scroller-left {
   float: left;
}

