#This is a sample file distributed with Galaxy that is used to define a
#list of protein BLAST databases, using three columns tab separated
#(longer whitespace are TAB characters):
#
#<unique_id>	<database_caption>	<base_name_path>
#
#The captions typically contain spaces and might end with the build date.
#It is important that the actual database name does not have a space in it,
#and that the first tab that appears in the line is right before the path.
#
#So, for example, if your database is NR and the path to your base name
#is /data/blastdb/nr, then the blastdb_p.loc entry would look like this:
#
#nr		NCBI NR (non redundant)		/data/blastdb/nr
#
#and your /data/blastdb directory would contain all of the files associated
#with the database, /data/blastdb/nr.*.
#
#Your blastdb_p.loc file should include an entry per line for each "base name"
#you have stored. For example:
#
#nr_05Jun2010	NCBI NR (non redundant) 05 Jun 2010		/data/blastdb/05Jun2010/nr
#nr_15Aug2010	NCBI NR (non redundant) 15 Aug 2010		/data/blastdb/15Aug2010/nr
#...etc...
#
#See also blastdb.loc which is for any nucleotide BLAST database.
#
