#This is a sample file distributed with Galaxy that enables tools
#to use a directory of Bowtie indexed sequences data files. You will
#need to create these data files and then create a bowtie_indices.loc
#file similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The bowtie_indices.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_base_path>
#
#So, for example, if you had hg18 indexed stored in
#/depot/data2/galaxy/bowtie/hg18/,
#then the bowtie_indices.loc entry would look like this:
#
#hg18	hg18	hg18	/depot/data2/galaxy/bowtie/hg18/hg18
#
#and your /depot/data2/galaxy/bowtie/hg18/ directory
#would contain hg18.*.ebwt files:
#
#-rw-r--r--  1 james    universe 830134 2005-09-13 10:12 hg18.1.ebwt
#-rw-r--r--  1 james    universe 527388 2005-09-13 10:12 hg18.2.ebwt
#-rw-r--r--  1 james    universe 269808 2005-09-13 10:12 hg18.3.ebwt
#...etc...
#
#Your bowtie_indices.loc file should include an entry per line for each
#index set you have stored. The "file" in the path does not actually
#exist, but it is the prefix for the actual index files. For example:
#
#hg18canon			hg18	hg18 Canonical	/depot/data2/galaxy/bowtie/hg18/hg18canon
#hg18full			hg18	hg18 Full		/depot/data2/galaxy/bowtie/hg18/hg18full
#/orig/path/hg19	hg19	hg19			/depot/data2/galaxy/bowtie/hg19/hg19
#...etc...
#
#Note that for backwards compatibility with workflows, the unique ID of
#an entry must be the path that was in the original loc file, because that
#is the value stored in the workflow for that parameter. That is why the
#hg19 entry above looks odd. New genomes can be better-looking.
#
