#Provide Pre-compiled CCAT peak/region caller configuration files
#UID	Description	path_to_config_file
#ccat_3.0_tf_config	CCAT 3.0 provided Transcription Factor Binding	/path_to/ccat/configs/3.0/config_TF.txt
#ccat_3.0_histone_config	CCAT 3.0 provided Histone Modification	/path_to/ccat/configs/3.0/config_histone.txt
#ccat_3.0_histone_config_fixed	CCAT 3.0 Histone Factor Binding (readme.txt defaults: slidingWinSize=1000)	/path_to/ccat/configs/3.0/config_histone_readme.txt