#This is a sample file distributed with Galaxy that is used by the disease
#ontology tool.  The disease_ontology.loc file has this format (white space
#characters are TAB characters):
#
#<build>	<description>	<path to disease ontology files>
#
#Your disease_ontology.loc file should include an entry per line for each
#disease ontology file you have stored.
#hg18	disease associated genes	/galaxy/data/hg18/misc/disease_ontology/genes-disease.bedlike
#hg18	ontology	/galaxy/data/hg18/misc/disease_ontology/human_disease.obo
