#unique_id	name	gatk_value	tools_valid_for
AlleleBalance	AlleleBalance	AlleleBalance	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
AlleleBalanceBySample	AlleleBalanceBySample	AlleleBalanceBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
BaseCounts	BaseCounts	BaseCounts	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
BaseQualityRankSumTest	BaseQualityRankSumTest	BaseQualityRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
ChromosomeCounts	ChromosomeCounts	ChromosomeCounts	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
DepthOfCoverage	DepthOfCoverage	DepthOfCoverage	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
DepthPerAlleleBySample	DepthPerAlleleBySample	DepthPerAlleleBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
FisherStrand	FisherStrand	FisherStrand	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
GCContent	GCContent	GCContent	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
HaplotypeScore	HaplotypeScore	HaplotypeScore	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
HardyWeinberg	HardyWeinberg	HardyWeinberg	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
HomopolymerRun	HomopolymerRun	HomopolymerRun	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
InbreedingCoeff	InbreedingCoeff	InbreedingCoeff	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
IndelType	IndelType	IndelType	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
LowMQ	LowMQ	LowMQ	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
MVLikelihoodRatio	MVLikelihoodRatio	MVLikelihoodRatio	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
MappingQualityRankSumTest	MappingQualityRankSumTest	MappingQualityRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
MappingQualityZero	MappingQualityZero	MappingQualityZero	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
MappingQualityZeroBySample	MappingQualityZeroBySample	MappingQualityZeroBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
MappingQualityZeroFraction	MappingQualityZeroFraction	MappingQualityZeroFraction	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
NBaseCount	NBaseCount	NBaseCount	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
QualByDepth	QualByDepth	QualByDepth	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
RMSMappingQuality	RMSMappingQuality	RMSMappingQuality	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
ReadDepthAndAllelicFractionBySample	ReadDepthAndAllelicFractionBySample	ReadDepthAndAllelicFractionBySample	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
ReadPosRankSumTest	ReadPosRankSumTest	ReadPosRankSumTest	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
SampleList	SampleList	SampleList	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
SnpEff	SnpEff	SnpEff	VariantAnnotator,VariantRecalibrator
SpanningDeletions	SpanningDeletions	SpanningDeletions	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
TechnologyComposition	TechnologyComposition	TechnologyComposition	UnifiedGenotyper,VariantAnnotator,VariantRecalibrator
