Acc65I - GGTACC	Acc65I
AccB7I - CCANNNNNTGG	AccB7I
AccI - GT(A/C)(G/T)AC	AccI
AccIII - TCCGGA	AccIII
AcyI - G(A/G)CG(C/T)C	AcyI
AgeI - ACCGGT	AgeI
AluI - AGCT	AluI
Alw44I - GTGCAC	Alw44I
ApaI - GGGCCC	ApaI
AvaI - C(C/T)CG(A/G)G	AvaI
AvaII - GG(A/T)CC	AvaII
BalI - TGGCCA	BalI
BamHI - GGATCC	BamHI
BanI - GG(C/T)(A/G)CC	BanI
BanII - G(A/G)GC(C/T)C	BanII
BbuI - GCATGC	BbuI
BclI - TGATCA	BclI
BglI - GCCNNNNNGGC	BglI
BglII - AGATCT	BglII
BsaMI - GAATGC	BsaMI
BsaOI - CG(A/G)(C/T)CG	BsaOI
Bsp1286I - G(A/G/T)GC(A/C/T)C	Bsp1286I
BsrBRI - GATNNNNATC	BsrBRI
BsrSI - ACTGG	BsrSI
BssHII - GCGCGC	BssHII
Bst98I - CTTAAG	Bst98I
BstEII - GGTNACC	BstEII
BstOI - CC(A/T)GG	BstOI
BstXI - CCANNNNNNTGG	BstXI
BstZI - CGGCCG	BstZI
Bsu36I - CCTNAGG	Bsu36I
CfoI - GCGC	CfoI
ClaI - ATCGAT	ClaI
Csp45I - TTCGAA	Csp45I
CspI - CGG(A/T)CCG	CspI
DdeI - CTNAG	DdeI
DpnI - GATC	DpnI
DraI - TTTAAA	DraI
EclHKI - GACNNNNNGTC	EclHKI
Eco47III - AGCGCT	Eco47III
Eco52I - CGGCCG	Eco52I
Eco72I - CACGTG	Eco72I
EcoRI - GAATTC	EcoRI
EcoRV - GATATC	EcoRV
HaeII - (A/G)GCGC(C/T)	HaeII
HaeIII - GGCC	HaeIII
HhaI - GCGC	HhaI
HincII - GT(C/T)(A/G)AC	HincII
HindIII - AAGCTT	HindIII
HinfI - GANTC	HinfI
HpaI - GTTAAC	HpaI
HpaII - CCGG	HpaII
Hsp92I - G(A/G)CG(C/T)C	Hsp92I
Hsp92II - CATG	Hsp92II
I-PpoI - TAACTATGACTCTCTTAAGGTAGCCAAAT	I-PpoI
KpnI - GGTACC	KpnI
MboI - GATC	MboI
MluI - ACGCGT	MluI
MspA1I - C(A/C)GC(G/T)G	MspA1I
MspI - CCGG	MspI
NaeI - GCCGGC	NaeI
NarI - GGCGCC	NarI
NciI - CC(C/G)GG	NciI
NcoI - CCATGG	NcoI
NdeI - CATATG	NdeI
NgoMIV - GCCGGC	NgoMIV
NheI - GCTAGC	NheI
NotI - GCGGCCGC	NotI
NruI - TCGCGA	NruI
NsiI - ATGCAT	NsiI
PstI - CTGCAG	PstI
PvuI - CGATCG	PvuI
PvuII - CAGCTG	PvuII
RsaI - GTAC	RsaI
SacI - GAGCTC	SacI
SacII - CCGCGG	SacII
SalI - GTCGAC	SalI
Sau3AI - GATC	Sau3AI
Sau96I - GGNCC	Sau96I
ScaI - AGTACT	ScaI
SfiI - GGCCNNNNNGGCC	SfiI
SgfI - GCGATCGC	SgfI
SinI - GG(A/T)CC	SinI
SmaI - CCCGGG	SmaI
SnaBI - TACGTA	SnaBI
SpeI - ACTAGT	SpeI
SphI - GCATGC	SphI
SspI - AATATT	SspI
StuI - AGGCCT	StuI
StyI - CC(A/T)(A/T)GG	StyI
TaqI - TCGA	TaqI
Tru9I - TTAA	Tru9I
Tth111I - GACNNNGTC	Tth111I
VspI - ATTAAT	VspI
XbaI - TCTAGA	XbaI
XhoI - CTCGAG	XhoI
XhoII - (A/G)GATC(C/T)	XhoII
XmaI - CCCGGG	XmaI
XmnI - GAANNNNTTC	XmnI
