#This is a sample file distributed with Galaxy that is used by the
#liftOver tools.  The liftOver.loc file has this format (white space 
#characters are TAB characters):
#
#<FromSpecies>	<ToSpecies>	<PathToChainFile>
anoCar1	galGal3	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToGalGal3.over.chain
anoCar1	gasAcu1	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToGasAcu1.over.chain
anoCar1	hg18	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToHg18.over.chain
anoCar1	mm8	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToMm8.over.chain
anoCar1	mm9	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToMm9.over.chain
anoCar1	ornAna1	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToOrnAna1.over.chain
anoCar1	xenTro2	/depot/data2/galaxy/anoCar1/liftOver/anoCar1ToXenTro2.over.chain
anoGam1	dm2	/depot/data2/galaxy/anoGam1/liftOver/anoGam1ToDm2.over.chain
anoGam1	dm3	/depot/data2/galaxy/anoGam1/liftOver/anoGam1ToDm3.over.chain
apiMel1	dm2	/depot/data2/galaxy/apiMel1/liftOver/apiMel1ToDm2.over.chain
apiMel2	dm2	/depot/data2/galaxy/apiMel2/liftOver/apiMel2ToDm2.over.chain
bosTau2	bosTau3	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToBosTau3.over.chain
bosTau2	hg17	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToHg17.over.chain
bosTau2	hg18	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToHg18.over.chain
bosTau2	mm7	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToMm7.over.chain
bosTau2	mm8	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToMm8.over.chain
bosTau2	rn4	/depot/data2/galaxy/bosTau2/liftOver/bosTau2ToRn4.over.chain
canFam1	canFam2	/depot/data2/galaxy/canFam1/liftOver/canFam1ToCanFam2.over.chain
canFam1	hg17	/depot/data2/galaxy/canFam1/liftOver/canFam1ToHg17.over.chain
canFam1	mm5	/depot/data2/galaxy/canFam1/liftOver/canFam1ToMm5.over.chain
canFam1	mm6	/depot/data2/galaxy/canFam1/liftOver/canFam1ToMm6.over.chain
canFam2	equCab1	/depot/data2/galaxy/canFam2/liftOver/canFam2ToEquCab1.over.chain
canFam2	hg17	/depot/data2/galaxy/canFam2/liftOver/canFam2ToHg17.over.chain
canFam2	hg18	/depot/data2/galaxy/canFam2/liftOver/canFam2ToHg18.over.chain
canFam2	mm6	/depot/data2/galaxy/canFam2/liftOver/canFam2ToMm6.over.chain
canFam2	mm7	/depot/data2/galaxy/canFam2/liftOver/canFam2ToMm7.over.chain
canFam2	mm8	/depot/data2/galaxy/canFam2/liftOver/canFam2ToMm8.over.chain
canFam2	mm9	/depot/data2/galaxy/canFam2/liftOver/canFam2ToMm9.over.chain
canFam2	rn3	/depot/data2/galaxy/canFam2/liftOver/canFam2ToRn3.over.chain
canFam2	rn4	/depot/data2/galaxy/canFam2/liftOver/canFam2ToRn4.over.chain
ce2	ce4	/depot/data2/galaxy/ce2/liftOver/ce2ToCe4.over.chain
ce4	caePb1	/depot/data2/galaxy/ce4/liftOver/ce4ToCaePb1.over.chain
ce4	caeRem2	/depot/data2/galaxy/ce4/liftOver/ce4ToCaeRem2.over.chain
ce4	cb3	/depot/data2/galaxy/ce4/liftOver/ce4ToCb3.over.chain
ce4	priPac1	/depot/data2/galaxy/ce4/liftOver/ce4ToPriPac1.over.chain