#This is a sample file distributed with Galaxy that is used by the
#phastOdds scores tool.  The phastOdds.loc file has this format (white space 
#characters are TAB characters):
#
#<build>	<description>	<path to phastOdds score files>
#
#hg17	ENCODE regions only, SEP-2005 tba.v2 alignments	/depot/data2/galaxy/phastOdds_precomputed/encode_SEP-2005_tba.v2_phastOdds
