#This is a sample file distributed with Galaxy that is used by some
#regional variation tools.  The quality_scores.loc file has this format (white 
#space characters are TAB characters):
#
#<build>	<QualityScoreDirectoryPath>
#
panTro2	/depot/data2/galaxy/panTro2/quality_scores
rheMac2	/depot/data2/galaxy/rheMac2/quality_scores
ponAbe2	/depot/data2/galaxy/ponAbe2/quality_scores
