#This is a sample file distributed with Galaxy that is used by some
#regional variation tools.  The quality_scores.loc file has this format (white 
#space characters are TAB characters):
#
#<build>	<QualityScoreDirectoryPath>
#
panTro2	/depot/data2/galaxy/quality_scores/panTro2
rheMac2	/depot/data2/galaxy/quality_scores/rheMac2
ponAbe2	/depot/data2/galaxy/quality_scores/ponAbe2
