# shared
boto3==1.10.20
ffmpeg-python==0.2.0
numpy==1.17.4
tqdm==4.38.0

# dlib_face_recognition
dlib==19.21.0
opencv-python==4.4.0
face-recognition==1.3.0
face-recognition-models==0.3.0

# hmgm
jira==2.0.0

# spacy
spacy==2.2.2

# pyscenedetect
scenedetect==0.5.3

# tesseract.xml
pytesseract==0.3.3
