<?xml version="1.0"?>
<OIDC>
    <provider name="Google">
        <client_id> ... </client_id>
        <client_secret> ... </client_secret>
        <redirect_uri>http://localhost:8080/authnz/google/callback</redirect_uri>

        <!-- <prompt>select_account</prompt> -->
        <!--The value of this parameter (i.e., prompt) specifies whether the Google authorization server should prompt
         a galaxy user for (re)authorization and consent. The possible values are: `none`, `consent`, and
         `select_account`. HOWEVER, DO NOT USE `none`, because it will cause authentication failure for new users.
         see the following page for more information:
         https://developers.google.com/identity/protocols/OpenIDConnect#prompt

         If you want the consent screen to be shown to the new users only, and re-authorization happen without
         asking for user's consent, then remove this attribute.
        -->
    </provider>
</OIDC>
