# ---- HTTP Server ----------------------------------------------------------

[server:main]

use = egg:Paste#http
port = 9001
host = 127.0.0.1
use_threadpool = true
threadpool_workers = 10

# ---- Filters --------------------------------------------------------------

# Filters sit between Galaxy and the HTTP server.

# These filters are disabled by default.  They can be enabled with
# 'filter-with' in the [app:main] section below.

# Define the proxy-prefix filter.
[filter:proxy-prefix]
use = egg:PasteDeploy#prefix
prefix = /reports

# ---- Galaxy Reports  ------------------------------------------------------

[app:main]

# -- Application and filtering

# If running behind a proxy server and Galaxy is served from a subdirectory,
# enable the proxy-prefix filter and set the prefix in the
# [filter:proxy-prefix] section above.
#filter-with = proxy-prefix

# If proxy-prefix is enabled and you're running more than one Galaxy instance
# behind one hostname, you will want to set this to the same path as the prefix
# in the filter above.  This value becomes the "path" attribute set in the
# cookie so the cookies from each instance will not clobber each other.
#cookie_path = None

# Specifies the factory for the universe WSGI application
paste.app_factory = galaxy.webapps.reports.buildapp:app_factory

# Verbosity of console log messages.  Acceptable values can be found here:
# https://docs.python.org/2/library/logging.html#logging-levels
#log_level = DEBUG

# Database connection
# Galaxy reports are intended for production Galaxy instances, so sqlite (and the default value
# below) is not supported. An SQLAlchemy connection string should be used specify an external
# database.
#database_connection = sqlite:///./database/universe.sqlite?isolation_level=IMMEDIATE

# Where dataset files are saved
#file_path = database/files
# Temporary storage for additional datasets, this should be shared through the cluster
#new_file_path = database/tmp

# Mako templates are compiled as needed and cached for reuse, this directory is
# used for the cache
#template_cache_path = database/compiled_templates/reports

# Configuration for debugging middleware
#debug = False

# Check for WSGI compliance.
#use_lint = False

# NEVER enable this on a public site (even test or QA)
#use_interactive = true

# Write thread status periodically to 'heartbeat.log' (careful, uses disk space rapidly!)
#use_heartbeat = True

# Profiling middleware (cProfile based)
#use_profile = True

# Mail
#smtp_server = yourserver@yourfacility.edu
#error_email_to = your_bugs@bx.psu.edu

# Serving static files (needed if running standalone)
# static_enabled = True
# static_cache_time = 360
# static_dir = %(here)s/static/
# static_images_dir = %(here)s/static/images
# static_favicon_dir = %(here)s/static/favicon.ico
# static_scripts_dir = %(here)s/static/scripts/
# static_style_dir = %(here)s/static/june_2007_style/blue

# Sentry (getsentry.com) DSN for catching bugs.
#sentry_dsn = None
