by_group:
  default: default
  groups:
    default: [project, priority]    
    prio_basic: [{name: priority, options: ["low", "med"]}]
    prio_advanced: [{name: priority, options: ["low", "med", "high"]}]
    prio_super:
    - time
    - memory
    - processors
    - name: priority 
      options:
      - ultra
      - plus_ultra
