// pagination & scrolling pagination: see scripts/jq-plugins/ui/pagination.js
.pagination {
    margin: 0px;
}

.pagination-scroll-container {
    display: inline-block;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
    overflow: auto;
}

.pagination-scroll-container .pagination-page-list {
    margin: 3px 0px 3px 0px;
}

.pagination-scroll-container .pagination-page-list > li:first-child > a,
.pagination-scroll-container .pagination-page-list > li:first-child > span {
    border-radius: 0px;
    border-left: 0px;
}

.pagination-scroll-container .pagination-page-list > li:last-child > a,
.pagination-scroll-container .pagination-page-list > li:last-child > span {
    border-radius: 0px;
}

.pagination-scroll-container .pagination-page-list > li > a {
    float: none;
    position: static;
    border: 1px solid #bfbfbf;
    border-width: 0px 0px 0px 1px;
}
