-i https://pypi.python.org/simple
configparser==3.5.0 ; python_version < '3.2'
enum34==1.1.6 ; python_version < '3.4'
flake8-import-order==0.18
flake8==3.6.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
