// ---------------------------------------------------------------------------- history
.history-panel {

    [class$="messagesmall"] {
        margin: 0px;
    }

    .editable-text {
        border: solid transparent 1px;
    }
    .editable-text:hover {
        cursor: pointer;
        border: 1px dotted #999999;
    }

    .message-container  {
        cursor: pointer;
    }
    .message-container [class$=message] {
        margin: 0px;
    }

    .history-controls {
        margin: 10px;
        padding: 0px;
    }

    .history-title {
        margin-bottom: 4px;
    }
    .history-name {
        word-wrap: break-word;
        font-weight: bold;
    }
    .history-title input {
        font-weight: bold;
        // keep the text in position
        margin: -2px 0px 0px -4px;
    }

    .history-subtitle {
        margin-bottom: 10px;
    }
    .history-size {
        float: left;
    }
    .history-secondary-actions {
        float: right;
    }

    .quota-message {
        display: none;
        margin: 8px 0px 5px 0px;
    }

    .tags-display, .annotation-display {
        display: none;
        margin-bottom: 10px;
        label {
            display: block;
            margin: 0px;
            padding: 0px;
            font-weight: bold;
        }
        label:after {
            content: ':';
        }
    }
    .annotation-display {
        textarea {
            margin: 0px;
            display: block;
            border-radius: 3px;
            width: 100%;
        }
    }

    .dataset {
        border-width: 1px 0px 0px 0px;
    }

    .dataset:last-child {
        border-width: 1px 0px 1px 0px;
    }

    .empty-history-message {
        display: none;
        margin: 0px 10px 0px 10px;
    }

    .tag-button {
        display: inline-block;
        height: 20px;
        margin: 2px 2px 0px 0px;
        border: 1px solid grey;
        border-radius: 3px 10px 10px 3px;
        padding: 2px 4px 2px 4px;
        background-color: #EEE;
        line-height: 12px;
        .tag-name {
            margin-right: 2px;
        }
    }
}

// ---------------------------------------------------------------------------- datasets
.dataset {
    border: 1px solid @border-default-color;
    padding: 8px 10px;

    .dataset-warnings {
        [class$=messagesmall] {
            margin: 0px 0px 4px 0px;
            //border: 1px solid grey;
            font-size: 90%;
        }
    }

    .dataset-title-bar {
        cursor: pointer;
        .dataset-state-icon {
            display: inline-block;
            vertical-align: middle;
            line-height: 16px;
            width: 16px;
            height: 16px;
            background-position: 0 1px;
            background-repeat: no-repeat;
        }
        .dataset-title {
            display: inline;
            font-weight: bold;
            text-decoration: underline;
            word-break: normal;
            line-height: 16px;
        }
    }

    .dataset-primary-actions {
        float: right;

        //@import "sprite-history-buttons.less";
        .icon-button.display {
            .sprite(@eye_icon);
        }
        .icon-button.display:hover {
            .sprite(@eye_icon_dark);
        }
        .icon-button.display_disabled {
            .sprite(@eye_icon_grey);
        }
        .icon-button.delete {
            .sprite(@delete_icon);
        }
        .icon-button.delete:hover {
            .sprite(@delete_icon_dark);
        }
        .icon-button.delete_disabled {
            .sprite(@delete_icon_grey);
        }
        .icon-button.edit {
            .sprite(@pencil_icon);
        }
        .icon-button.edit:hover {
            .sprite(@pencil_icon_dark);
        }
        .icon-button.edit_disabled {
            .sprite(@pencil_icon_grey);
        }
    }

    .dataset-body {
        display: none;
        padding-top: 2px;

        label {
            margin: 0px;
            padding: 0px;
        }

        .prompt:after {
            content: ':';
        }
        .dataset-datatype, .dataset-dbkey {
            display: inline;
        }
        .dataset-datatype .value:after {
            content: ',';
        }

        .dataset-actions {
            padding: 2px 0;

            .left {
                float: left;
            }
            .right {
                float: right;
            }
        }

        .tags-display {
            display: none;
        }
        .annotation-display {
            display: none;
            textarea {
                margin: 0px;
                display: block;
                border-radius: 3px;
                width: 100%;
            }
        }

        .dataset-peek pre.peek {
            width: 100%;
            margin: 8px 0;
            border-radius: 3px;
            background: white;
            color: black;
            font-size: 10px;
            overflow: auto;
            th {
                color: white;
                background: @panel-primary-heading-bg;
            }
            table, th, tr, td {
                font-family: @font-family-monospace;
                font-size: 10px;
            }
        }
    }
}

// Default history item appearance
// Change background/border color depending on state
.dataset.state-new {
    background: @state-default-bg;
    .state-icon {
        .fa-icon;
        &:before {
            content: "\f071";
        }
    }
}

.dataset.state-ok, .dataset.state-failed_metadata {
    background: @state-success-bg;
    .state-icon {
        display: none;
    }
}

.dataset.state-error {
    background: @state-danger-bg;
    .state-icon {
        .sprite(@data_error);
    }
}

.dataset.state-empty {
    background: @state-danger-bg;
    .state-icon {
        .sprite(@data_empty);
    }
}

.dataset.state-running {
    background: @state-running-bg;
    .state-icon {
        background-image: url(data_running.gif);
    }
}
// Special case for showing the spinner but not changing the background
.dataset.state-running .dataset-title-bar.spinner .state-icon {
    background: url(data_running.gif) 0 1px no-repeat !important;
}

.dataset.state-setting_metadata {
    background: @state-running-bg;
    .state-icon {
        background-image: url(data_running.gif);
    }
}

.dataset.state-upload {
    background: @state-info-bg;
    .state-icon {
        background-image: url(data_upload.gif);
    }
}

.dataset.state-queued {
    background: @state-default-bg;
    .state-icon {
        .sprite(@data_queued);
    }
}

.dataset.state-discarded {
    background: @state-default-bg;
    .state-icon {
        line-height: 16px;
        .fa-icon;
        &:before {
            content: "\f05e";
        }
    }
}

.dataset.state-noPermission {
    background: @state-default-bg;
    filter: alpha(opacity=60);
    -moz-opacity: .60;
    opacity: .60;
    .state-icon {
        line-height: 16px;
        .fa-icon;
        &:before {
            content: "\f05e";
        }
    }
}

.dataset.state-paused {
    background: @state-paused-bg;
    .state-icon {
        //.@fa-css-prefix;
        &:before {
            content: "\f04c";
        }
    }
}

// ---------------------------------------------------------------------------- hdas
.hda .hda-hid:after {
    content: ':';
}
