.upload-box
{
    width           : 100%;
    height          : 250px;
    max-height      : 250px;
    text-align      : center;
    overflow        : scroll;
    font-size       : @font-size-base;
    line-height     : @line-height-large;
    -moz-border-radius: @border-radius-large;
    border-radius   : @border-radius-large;
    border          : 1px dashed @btn-default-border;
    padding         : 20px;

    .panel
    {
        display: none;

        .panel-heading
        {
            position: relative;
            height: 19px;
            padding: 5px;

            .title
            {
                position: absolute;
                top: 2px;
                font-weight: normal;
                text-align: left;
                margin: 0px;
                max-width: 300px;
                overflow: hidden;
            }

            .info
            {
                position: absolute;
                top: 3px;
                font-weight: normal;
                right: 20px;
                text-align: right;
                margin: 0px;
            }

            .remove
            {
                position: absolute;
                cursor: pointer;
                top: 0px;
                right: 3px;
            }
        }

        .panel-body
        {
            position: relative;
            padding: 5px;
        }

        .panel-footer
        {
            position:relative;
            height: 20px;
            padding: 0px;
            
            .progress
            {
                height: 10px;
                margin: 5px;
            }
            
            .error
            {
                font-weight: normal;
                margin: 2px;
            }
        }
    }
}