body 
{
    font: 75% verdana, "Bitstream Vera Sans", geneva, arial, helvetica, helve, sans-serif; 
    background: white;
    color: $base_text;
    background-image: url(base_bg.png);
    background-repeat: repeat-x;
    background-position: top;
    margin: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

a:link, a:visited, a:active
{
    color: $link_text;
}

h1, h2, h3, h4 
{
    color: $header_text;
    /*text-shadow: #bbb 2px 2px 1px;*/
}

hr
{
    border: none;
    border-bottom: dotted $base_text 1px;
}

div.toolForm
{
    margin-right: -5px;
    margin-left: -5px;
}

div.toolFormTitle
{ 
  background: $form_title_bg;
  background-image: url(form_title_bg.png);
  background-repeat: repeat-x;
  background-position: top;  
  border-top: solid $form_border 1px;
  border-bottom: solid $form_border 1px;
  font-weight: bold;
  padding: 5px;
}

div.toolParamHelp
{
  font-style: italic;
}

div.toolFormBody
{ 
  background: $form_body_bg;
  border-bottom: solid $form_border 1px;
  padding: 5px;
}

div.toolFormBody div.toolFormTitle
{
	background: transparent;
	border: none;
	font-weight: bold;
	border-bottom: solid $form_border 1px;
	margin-bottom: 5px;
}

div.toolHelp
{ 
}

div.toolHelpBody
{ 
	width: 100%;
	overflow: auto;
}

/* Forms */

div.form-row 
{
    margin-bottom: 1em;
}

div.form-title-row
{
    margin-bottom: 0.5em;
}

div.repeat-group-item
{
    border-left: solid $form_border 5px;
    padding-left: 10px;
}

div.form-row-error
{
    background: $error_message_bg;
    padding: 5px;
}

div.form-row label
{
    font-weight: bold;
    display: block;
    margin-bottom: .2em;
}

select
{
    max-width: 300px;
}

.errormessage, .warningmessage, .donemessage, .infomessage, .welcomemessage
{
    padding: 10px;
    padding-left: 52px;
    min-height: 32px;
    border-top: 1px solid $error_message_border;
    border-bottom: 1px solid $error_message_border;
    background-color: $error_message_bg;
    background-image: url(error_message_icon.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.warningmessage 
{
    background-image: url(warn_message_icon.png);
    border-color: $warn_message_border;
    background-color: $warn_message_bg;
}

.donemessage 
{
    background-image: url(done_message_icon.png);
    border-color: $done_message_border;
    background-color: $done_message_bg;
}

.infomessage 
{
    background-image: url(info_message_icon.png);
    border-color: $info_message_border;
    background-color: $info_message_bg;
}

.welcomemessage {
    padding-left: 10px;
    border-color: #6666AA;
    background-color: #CCCCFF;
    background-image: none;
}

.errormessagesmall, .warningmessagesmall, .donemessagesmall, .infomessagesmall 
{
    padding: 5px;
    padding-left: 25px;
    min-height: 25px;
    border-top: 1px solid $error_message_border;
    border-bottom: 1px solid $error_message_border;
    background-color: $error_message_bg;
    background-image: url(error_small.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.warningmessagesmall
{
    background-image: url(warn_small.png);
    border-color: $warn_message_border;
    background-color: $warn_message_bg;
}

.donemessagesmall
{
    background-image: url(ok_small.png);
    border-color: $done_message_border;
    background-color: $done_message_bg;
}

.infomessagesmall
{
    background-image: url(info_small.png);
    border-color: $info_message_border;
    background-color: $info_message_bg;
}

.errormark, .warningmark, .donemark, .infomark, .ok_bgr, .err_bgr
{
    padding-left: 20px;
    min-height: 15px;
    background: url(error_small.png) no-repeat;
}

.warningmark 
{
    background-image: url(warn_small.png);
}

.donemark 
{
    background-image: url(ok_small.png);
}

.infomark, .ok_bgr
{
    background-image: url(info_small.png);
}

table.colored
{
  border-top: solid $table_border 1px;
  border-bottom: solid $table_border 1px;
}

table.colored td
{
    padding: 5px;
}

table.colored tr.header
{ 
  background: $table_header_bg;
  background-image: url(form_title_bg.png);
  background-repeat: repeat-x;
  background-position: top;
	border-bottom: solid $table_border 1px;
  font-weight: bold;
}

table.colored tr
{ 
  background: $table_row_bg;
}

div.debug
{
    margin: 10px;
    padding: 5px;
    background: #FFFF99;
    border: solid #FFFF33 1px;
    color: black;
}

div.odd_row
{
    background: $odd_row_bg;
}
    
#footer {
  position: fixed;
  background: $footer_bg;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: white;
  z-index:10000;
  opacity:0.9;
  filter:alpha(opacity:90);
}

#footer a {
    color: white;
}

.footerheader
{
  padding: 5px;
  text-align:center;
  background-image: url(footer_title_bg.png);
  background-position: bottom right;
}

.footermenu
{
  /*border-top: solid white 1px; */
}

.footermenuitem
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 25px;
    display: list-item;
    list-style: square outside;
}

.footermenumessage
{
    margin: 5px;
}