body
{
    background: white;
    color: $base_text;
    background-image: url(menu_bg.png);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    padding: 0;
}

a
{
    color: #base_text;
}

div.historyLinks
{
    padding: 5px;
    margin: 5px;
}

div.historyItem
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
}

div.historyItem-ok
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-top: solid $history_ok_border 1px;
    border-bottom: solid $history_ok_border 1px;
    background: $history_ok_bg;
    background-image: url(ok_bg.png);
    background-repeat: repeat-x;
    background-position: top;
    
}

div.historyItem-error, div.historyItem-empty
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-top: solid $history_error_border 1px;
    border-bottom: solid $history_error_border 1px;
    background: $history_error_bg;
    background-image: url(error_bg.png);
    background-repeat: repeat-x;
    background-position: top;
}

div.historyItem-running
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-top: solid $history_running_border 1px;
    border-bottom: solid $history_running_border 1px;
    background: $history_running_bg;
    background-image: url(warn_bg.png);
    background-repeat: repeat-x;
    background-position: top;
}

div.historyItem-queued
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 5px;
    border-top: solid $history_queued_border 1px;
    border-bottom: solid $history_queued_border 1px;
    background: $history_queued_bg;
    background-image: url(gray_bg.png);
    background-repeat: repeat-x;
    background-position: top;
}

div.historyItemBody div
{
    padding-top: 2px;
}

pre.peek
{
    background: white;
    color: black;
    width: 100%; 
    overflow: auto;
}

pre.peek th
{
    color: white;
    background: $peek_table_header;
}