body {
    margin: 0 0;
    padding: 0;
    font-family: verdana;
    font-size: 75%;
    overflow-y: hidden;
}

#content {
    width: 100%;
}

#center { 
  overflow: auto;
}

#nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    font-weight: bold;
    text-align: center;
}

#nav-controls {
    padding: 15px 0;
}
#nav-controls a {
    color: white;
    padding: 0.1em 0.4em;
    margin: 0 0.1em;
    text-decoration: none;
    background: black;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}

#overview {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0px;
    background: #333;
    color: white;
    font-weight: bold;
}

#overview-viewport {
    height: 10px;
    border-top: solid #666 1px;
    border-bottom: solid #666 1px;
    background: #888;
}
#overview-box {
    position: absolute;
    height: 10px;
    background: #ddd;
}

#viewport {
    overflow: hidden;
    background-color: #fff;
/*    overflow: scroll;*/
/*    border-bottom: 2px solid black;*/
}

#viewport-canvas {
    width: 100%;
    height: 100px;
}

.track {
/*    border-top: solid gray 1px;*/
    border-bottom: solid gray 1px;
}

.track-header {
    text-align: center;
}

.track-content {
    overflow: hidden;
}

.track-content.error {
    text-align: center;
    padding-top: 10px;
    background-color: #ECB4AF;
    height: 30px;
}
.track-content.nodata {
    text-align: center;
    padding-top: 10px;
    background-color: #ddd;
    height: 30px;
}

.loading {
    min-height: 100px;
}

.label-track .label {
    border-left: solid gray 1px;
    padding-left: 2px;
}
