<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style/base.css" type="text/css" />
    </head>
    <body class="m-0">
        <div class="py-4">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h2>Welcome to Galaxy on AnVIL</h2>
                        <p>
                            This project is a collaboration between the Galaxy project, the Broad Institute and NHGRI.
                            Galaxy is a hands-on analysis platform providing a graphical user interface for
                            computational tools otherwise only available via command line. With Galaxy, users can affect
                            their commands, run individual tools, and generate workflows, in a more fluid manner than
                            than many other pipeline analysis tools.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Getting Started</h2>
                        <p>
                            The toolbar to the left contains all currently installed tools on this instance, however, as
                            an administrator, you have access to the <b>admin</b> section on the banner. From here, you
                            can install and uninstall tools as necessary from the Galaxy toolshed.
                        </p>
                        <p>
                            From the workflow tab, you can download workflows, groups of tools chained together into a
                            full pipeline, from other researchers, create and edit your own workflows from scratch, or
                            view workflows extracted from analyses you've already performed.
                        </p>
                        <p>
                            If this is your first time using Galaxy, visit our
                            <b><a href="https://training.galaxyproject.org/training-material/">training</a></b> site for
                            an introduction to the system and existing workflows in various areas of analysis. Further,
                            if you need help, please click the <b>help</b> section on the masthead and visit one of our
                            several help resources.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="list-group">
                            <div class="welcome_box_training">
                                <h2>Galaxy Training Material</h2>
                                <br />
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/galaxy-interface/"
                                >
                                    <h4 class="list-group-item-heading">Galaxy UI training</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/introduction/"
                                >
                                    <h4 class="list-group-item-heading">Intro to Galaxy Analysis</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/transcriptomics/"
                                >
                                    <h4 class="list-group-item-heading">Transcriptomics</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/statistics/"
                                >
                                    <h4 class="list-group-item-heading">Statistics and Machine Learning</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/statistics/"
                                >
                                    <h4 class="list-group-item-heading">Statistics and Machine Learning</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/proteomics/"
                                >
                                    <h4 class="list-group-item-heading">Proteomics</h4>
                                </a>
                                <a
                                    class="list-group-item"
                                    href="https://training.galaxyproject.org/training-material/topics/variant-analysis/"
                                >
                                    <h4 class="list-group-item-heading">Variant Analysis</h4>
                                </a>
                                <a class="list-group-item" href="https://training.galaxyproject.org/training-material/">
                                    <h4 class="list-group-item-heading">And more!</h4>
                                </a>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 p-4">
                            <div id="twitter_timeline" style="height: 400px">
                                <a
                                    class="twitter-timeline"
                                    data-dnt="true"
                                    height="400"
                                    href="https://twitter.com/galaxyproject"
                                    data-widget-id="384667676347363329"
                                >
                                    Tweets by @galaxyproject
                                </a>
                                <script>
                                    !(function (d, s, id) {
                                        var js,
                                            fjs = d.getElementsByTagName(s)[0],
                                            p = /^http:/.test(d.location) ? "http" : "https";
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + "://platform.twitter.com/widgets.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    })(document, "script", "twitter-wjs");
                                </script>
                            </div>
                        </div>
                        <div class="col-md-6 p-4">
                            <div id="twitter_anvil_timeline" style="height: 400px">
                                <a
                                    class="twitter-timeline"
                                    data-dnt="true"
                                    height="400"
                                    href="https://twitter.com/useAnVIL"
                                    data-widget-id="384667676347363329"
                                >
                                    Tweets by @galaxyproject
                                </a>
                                <script>
                                    !(function (d, s, id) {
                                        var js,
                                            fjs = d.getElementsByTagName(s)[0],
                                            p = /^http:/.test(d.location) ? "http" : "https";
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + "://platform.twitter.com/widgets.js";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    })(document, "script", "twitter-wjs");
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                            <p>
                                <a target="_blank" class="reference" href="http://galaxyproject.org/"
                                    >The Galaxy Project</a
                                >
                                is supported in part by
                                <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
                                <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
                                <a target="_blank" class="reference" href="http://www.huck.psu.edu"
                                    >The Huck Institutes of the Life Sciences</a
                                >,
                                <a target="_blank" class="reference" href="http://www.ics.psu.edu"
                                    >The Institute for CyberScience at Penn State</a
                                >, and
                                <a target="_blank" class="reference" href="http://www.jhu.edu/"
                                    >Johns Hopkins University</a
                                >.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
