.libraryRow {
    background-color: $form_title_bg_bottom;
}

.datasetHighlighted {
    background-color: $menu_bg_over;
}

.libraryItemDeleted-True {
    font-style: italic;
}

div.libraryItemBody {
    padding: 4px 4px 2px 4px;
}

li.folderRow,
li.datasetRow
{
    border-top: solid 1px #ddd;
}

li.folderRow:hover,
li.datasetRow:hover
{
    background-color: $menu_bg_over;
}

img.expanderIcon {
    padding-right: 4px;
}

input.datasetCheckbox,
li, ul {
    padding: 0;
    margin: 0;
}

.rowTitle {
    padding: 2px;
}

ul {
    list-style: none;
}

.libraryTitle th {
    text-align: left;
}

pre.peek {
    background: white;
    color: black;
    width: 100%;
    overflow: auto;
}

pre.peek th {
    color: white;
    background: $peek_table_header;
}

span.expandLink {
    padding-left: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/silk/resultset_next.png) no-repeat;
}

.folderRow.expanded span.expandLink {
    background: url(../images/silk/resultset_bottom.png) no-repeat;
}

.folderRow span.rowIcon {
    float: left;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/silk/folder.png);
}

.libraryItem-error {
    margin-right: 2px;
    padding: 0 2px 0 2px;
    border: 1px solid $history_error_border;
    background: $history_error_bg;
}

.libraryItem-queued {
    margin-right: 2px;
    padding: 0 2px 0 2px;
    border: 1px solid $history_queued_border;
    background: $history_queued_bg;
}

.libraryItem-running {
    margin-right: 2px;
    padding: 0 2px 0 2px;
    border: 1px solid $history_running_border;
    background: $history_running_bg;
}

.libraryItem-upload {
    margin-right: 2px;
    padding: 0 2px 0 2px;
    border: 1px solid $history_upload_border;
    background: $history_upload_bg;
}
