<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> User Create </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css">
</head>
<body onload="document.forms[0].email.focus()">
    
<div class="toolForm">
    <div class="toolFormTitle">$form.title</div>
    <div class="toolFormBody">
    <form name="$form.name" action="$h.url_for($form.action)" method="post" >
        #for input in $form.inputs   
            #if $input.error:
              #set cls = "form-row form-row-error"
            #else
              #set cls = "form-row"
            #end if
            <div class="$cls">
              <label>
                  ${input.label}:
              </label>
              <div style="float: left; width: 250px; margin-right: 10px;">
                  <input type="$input.type" name="$input.name" value="$input.value" size="40">
              </div>
              #if $input.error:
              <div style="float: left; color: red; font-weight: bold; padding-top: 1px; padding-bottom: 3px;">
                  <div style="width: 300px;"><img style="vertical-align: middle;" src="$h.url_for('/static/style/error_small.png')">&nbsp;<span style="vertical-align: middle;">$input.error</span></div>
              </div>
              #end if

              #if $input.help
              <div class="toolParamHelp" style="clear: both;">
                  $input.help
              </div>
              #end if

              <div style="clear: both"></div>

            </div>
        #end for
      <tr><td></td><td><input type="submit" value="$form.submit_text">
      </table>
  </form>
  </div>
</div>

</body>
</html>
