<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> Switch History </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css">
</head>
<body>
    
    #set $user = $t.user
    #set $history = $t.history
    #if $user
    	
    	#if $history.user is None and $history.datasets
    	<div class="warningmessage">
    	    Your current history has not been <a href="$h.url_for('/history_store')">stored</a> 
    	    and will be lost if you switch to another history. 
    	</div>
    	#end if
    	
    	#if $user.histories
        <h1>Stored Histories</h1>
    	
	    <table class="colored" border="0" cellspacing="0" cellpadding="0" width="100%">
	        <tr class="header"><td>Name</td><td># datasets<td>created</td><td></td></tr>
	    #for $history in $user.histories:
	      #if not( $history.deleted )
	        <tr><td>$history.name </td><td>${len(history.datasets)}<td>$history.create_time</td><td><a href="$h.url_for('history_switch', id=$history.id )">switch to</a></td></tr>
	      #end if
	    #end for
	    </table>
	    #else
	    You have no stored histories
	    #end if
    	
	#else
	
	<div class="errormessage">
	You must be logged in to store and switch histories
	</div>
	
	#end if

</body>
</html>
