<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> Import History </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="$h.url_for('/static/universe.js')"></script>
</head>
<body>
 	<div class="toolForm">
    <div class="toolFormTitle">Import History</div>
	<div class="errormessage">
	Warning! If you import this history, you will lose your current history. Click <a href="$h.url_for('/history_import', id=$history.id, confirm=True )">here</a> to confirm.
	</div>
</body>
</html>
