<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> History Options </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css">
<script type="text/javascript" src="$h.url_for('/static/scripts/jquery.js')"></script>
<script type="text/javascript">
q = jQuery.noConflict();
q( "a[@confirm]" ).click( function() {
    return confirm( q(this).attr( "confirm"  ) )
})
</script>
</head>
<body>
    
<h1>History Options</h1>

#if not $t.user:
<div class="infomessage">
    <div>You must be <a target="galaxy_main" href="$h.url_for('/user/login')">logged in</a> to store or switch histories.</div>
</div>
#end if

<ul>
#if $t.user
    #if $history.user
        <li><a href="$h.url_for('/history_rename', id=$history.id )" target="galaxy_main">Rename</a> current history (stored as "$history.name")</li>
    #else
        <li><a href="$h.url_for('/history_store')" target="galaxy_main">Store</a> this history for later</li>
    #end if
    <li><a href="$h.url_for('/history_available')" target="galaxy_main">View</a> previously stored histories</li>
    #if $len( $history.active_datasets ) > 0 and $history.user not in [ None , "" ]:
        <li><a href="$h.url_for('/history_new')">Create</a> a new empty history</li>
    #end if
    #if $app.config.enable_beta_features
    <li><a href="${h.url_for( controller='history', action='workflow_from_current_history' )}">Construct workflow</a> from the current history</li>
    #end if
#end if
    <li><a href="$h.url_for('/history_share')" target="galaxy_main">Share</a> current history</div>
    <li><a href="$h.url_for('/history_delete', id=$history.id )" confirm="Are you sure you want to delete the current history?">Delete</a> current history</div>
</ul>

</body>
</html>
