<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
<title>Galaxy History</title>

## This is now only necessary for tests
#set $running = bool ( [ data for data in $history.active_datasets if data.state in ['running', 'queued', '', None ] ] )
#if $running
<!-- running: do not change this comment, used by TwillTestCase.wait -->
#end if

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Pragma" content="no-cache">
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css" />
<link href="$h.url_for('/static/style/history.css')" rel="stylesheet" type="text/css" />


## <!--[if lt IE 7]>
## <script defer type="text/javascript" src="/static/scripts/ie_pngfix.js"></script>
## <![endif]-->

<script type="text/javascript" src="$h.url_for('/static/scripts/prototype.js')"></script>
<script type="text/javascript" src="$h.url_for('/static/scripts/jquery.js')"></script>
<script type="text/javascript" src="$h.url_for('/static/scripts/jquery.cookie.js')"></script>
<script type="text/javascript" src="$h.url_for('/static/scripts/cookie_set.js')"></script>

<script type="text/javascript">
    var q = jQuery.noConflict();
    q( document ).ready( function() {
        // Collapse all
        q("#top-links").append( "|&nbsp;" ).append( q("<a href='#'>collapse all</a>").click( function() {
            q( "div.historyItemBody:visible" ).each( function() {
                if ( q.browser.mozilla )
                {
                    q(this).find( "pre.peek" ).css( "overflow", "hidden" );
                }
                q(this).slideUp( "fast" );
            })
            var state = new CookieSet( "galaxy.history.expand_state" );
            state.removeAll().save();
        }))
        // Add footer show / hide 
        q( "div.footerheader" ).each( function() {
            var menu = q(this).next();
            menu.hide();
            q(this).append( q("<a href='#'>options...</a>").click( function() {
                if ( menu.is( ":visible" ) ) { menu.slideUp( "fast" ) }
                else { menu.slideDown( "fast" ) } 
            }))
        })
    })
    function updater( id, state_url, code_url, orig_state ) {
        this.id = id
        this.state_url = state_url
        this.code_url = code_url
        this.old_state = orig_state
        this.stop_states = new Array( "ok", "error" );
    }
    updater.prototype.go = function() {
        stop_states = new Array( "ok", "error" );
        if (stop_states.indexOf(this.old_state) >= 0) { return; }
        this.executer = new PeriodicalExecuter( function() {
	    ## IE will cache if we use a GET
            ## this.request = new Ajax.Request( this.state_url, {asynchronous:true, method:"get",
            this.request = new Ajax.Request( this.state_url, {asynchronous:true,
                onSuccess:function () {
                    var new_state = this.request.getHeader('x-dataset-state');
                    if (stop_states.indexOf(new_state) >= 0) { this.executer.stop(); }
                    if (this.old_state != new_state) {
                        new Ajax.Updater('historyItemContainer-' + this.id, this.code_url,
                            ## {asynchronous:true, method:"get", evalScripts:true});
                            {asynchronous:true, evalScripts:true});
                    }
                    this.old_state = new_state;
                }.bind(this)
            });
        }.bind(this), 3 );
    }
    updater.prototype.stop = function() {
        this.executer.stop();
    }
</script>

<![if gte IE 7]>
<script type="text/javascript">
    q( document ).ready( function() {
        // Add rollover effect to any image with a 'rollover' attribute
        preload_images = {}
        q( "img[@rollover]" ).each( function() {
            var r = q(this).attr('rollover');
            var s = q(this).attr('src');
            preload_images[r] = true;
            q(this).hover( 
                function() { q(this).attr( 'src', r ) },
                function() { q(this).attr( 'src', s ) }
            )
        })
        for ( r in preload_images ) { q( "<img>" ).attr( "src", r ) }
    })
</script>
<![endif]>

<style type="text/css">
#footer {
    /* Netscape 4, IE 4.x-5.0/Win and other lesser browsers will use this */
    position: absolute; left: 0px; bottom: 0px;
}
body > div#footer {
    /* used by Opera 5+, Netscape6+/Mozilla, Konqueror, Safari, OmniWeb 4.5+, iCab, ICEbrowser */
    position: fixed;
}
</style>

<!--[if gte IE 5.5]>
<![if lt IE 7]>
<style type="text/css">
div#footer {
    /* IE5.5+/Win - this is more specific than the IE 5.0 version */
    width:100%;
    right: auto; bottom: auto;
    left: expression( ( -5 - footer.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    top: expression( ( - footer.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
</style>
<![endif]>
<![endif]-->

</head>

<body class="historyPage">

<div id="top-links" class="historyLinks">
    <a href="$h.url_for('/history')">refresh</a> 
</div>

#if $history.deleted 
    <div class="warningmessagesmall">
        You are currently viewing a deleted history!
    </div>
    <p></p>
#end if

##
## Render the dataset `$data`, using `$hid` as the displayed id
##

## FIXME: This function is duplicated in dataset_code.tmpl!
## This copy is used for rendering datasets when the client's javascript
## is NOT enabled.
#def render_dataset( $data, $hid )

    #if $data.state in ["no state","",None]:
        #set $data_state = "queued"
    #else
        #set $data_state = $data.state
    #end if
    <div class="historyItemWrapper historyItem historyItem-$data_state" id="historyItem-$data.id">
        
        ##
        ## Header row for history items (name, state, action buttons)
        ##
        
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td>
                    <div style='padding-right: 5px; display: none;' id="progress-$data.id">
                        <img src="$h.url_for('/static/style/data_running.gif')" border="0" align="middle" >
                    </div>
                    #if $data_state == 'running'
                        <div style='padding-right: 5px;'><img src="$h.url_for('/static/style/data_running.gif')" border="0" align="middle"></div>
                    #elif $data_state == 'ok'
                        #pass
                    #else
                        #set $src = $h.url_for( "/static/style/data_%s.png" % $data_state )
                        <div style='padding-right: 5px;'><img src="$src" border="0" align="middle"></div>
                    #end if
                </td>
                <td>
                    <div>
                        <div style="float: right;"><a href="/datasets/$data.id/display/index" target="_top"><img src="$h.url_for('/static/images/eye_icon.png')" rollover="$h.url_for('/static/images/eye_icon_dark.png')" width='16' height='16' alt='display data' title='display data' class='displayButton' border='0'></a>
                        <a href="edit?id=$data.id" target="galaxy_main"><img src="$h.url_for('/static/images/pencil_icon.png')" rollover="$h.url_for('/static/images/pencil_icon_dark.png')" width='16' height='16' alt='edit attributes' title='edit attributes' class='editButton' border='0'></a>
                        <a href="delete?id=$data.id" class="historyItemDelete" id="historyItemDelter-${data.id}"><img src="$h.url_for('/static/images/delete_icon.png')" rollover="$h.url_for('/static/images/delete_icon_dark.png')" width='16' height='16' alt='delete' class='deleteButton' border='0'></a>
                        <!--
                        $h.link_to_remote( "<img src='%s' rollover='%s' width='16' height='16' alt='delete' class='deleteButton' border='0'>" % ( $h.url_for('/static/images/delete_icon.png'), $h.url_for('/static/images/delete_icon_dark.png') ),
                                           dict( url=$h.url( action="delete_async", id=$data.id ), 
                                                 before=( "$( 'progress-%s' ).show()" % $data.id ),
                                                 success=( "delete_item( 'historyItem-%s' )" % $data.id ),
                                                 failure="alert( 'delete failed' )" ),
                                           href="delete?id=%d" % $data.id,
                                           title='delete this item' ) -->
                        </div>
                        <span class="historyItemTitle"><b>$hid: $data.display_name</b></span>
                    </div>
                </td>
            </tr>
        </table>
        
        ##
        ## Body for history items, extra info and actions, data "peek"
        ##
        
        <div id="info$data.id" class="historyItemBody">
            #if $data_state == "queued"
                <div>Job is waiting to run</div>
            #elif $data_state == "running"
                <div>Job is currently running</div>
            #elif $data_state == "error"
                <div>
                    An error occurred running this job: <i>$data.display_info.strip()</i>, 
                    <a href="${h.url_for( controller='dataset', action='errors', id=$data.id )}" target="galaxy_main">report this error</a>
                </div>
            #elif $data_state == "empty"
                <div>No data: <i>$data.display_info</i></div>
            #else
                <div>
                    $data.blurb,
                    format: <span class="$data.ext">$data.ext</span>, 
                    database:
                    #if $data.dbkey == '?'
                        <a href="edit?id=$data.id" target="galaxy_main"><span class="$data.dbkey">$data.dbkey</span></a>
                    #else
                        <span class="$data.dbkey">$data.dbkey</span>
                    #end if
                </div>
                <div class="info">Info: $data.display_info </div>
                <div> 
                    #if $data.has_data:
                        <a href="display?id=$data.id&tofile=yes&toext=$data.ext" target="_blank">save</a>
                        #for $display_app in $data.datatype.get_display_types():
                            #set $display_links = $data.datatype.get_display_links($data, $display_app, $app, $request.base)
                            #if $len($display_links) > 0:
                                | $data.datatype.get_display_label($display_app)
                                    #for $display_name, $display_link in display_links:
                                        <a target="_blank" href="$display_link">$display_name</a> 
                                    #end for
                            #end if
                        #end for
                    #end if
                </div>
                #if $data.peek != "no peek"
                    <div><pre id="peek$data.id" class="peek">$data.display_peek</pre></div>
                #end if
            #end if
               
            ##  
            ## Child datasets
            ## 
                              
            #if $len( $data.children ) > 0:
                #set $children = []
                #for $child_assoc in $data.children:
                    #if $child_assoc.child.visible:
                        $children.append($child_assoc.child)
                    #end if
                #end for
                #if $len( $children ) > 0:
                    <div>
                        There are ${len( $children )} secondary datasets.
                        #for $idx, $child in $enumerate($children)
                            $render_dataset( $child, $idx + 1 )
                        #end for
                    </div>
                #end if
            #end if

        </div>
    </div>

#end def

#if $len($history.active_datasets)<1
    <div class="infomessagesmall" id="emptyHistoryMessage">
#else    
    ## Render all active (not deleted) datasets, ordered from newest to oldest
    #for $data in reversed( $history.active_datasets )
        #if $data.visible:
            ## FIXME: uncessary overhead here, find a way to prevent this if javascript is on
            <div class="historyItemContainer" id="historyItemContainer-$data.id"><noscript>
                $render_dataset( $data, $data.hid )
            </noscript></div>
        #end if
    #end for
    <script type="text/javascript">
    #for $data in reversed( $history.active_datasets )
        #if $data.visible:
            #set $state_url = $h.url_for( action='dataset_state', id=$data.id )
            #set $code_url = $h.url_for( action='dataset_code', id=$data.id, hid=$data.hid )
            ## new Ajax.Updater('historyItemContainer-$data.id', '$code_url', {asynchronous:true, method:"get", evalScripts:"true"});
            new Ajax.Updater('historyItemContainer-$data.id', '$code_url', {asynchronous:true, evalScripts:"true"});
            var updater_${data.id} = new updater( $data.id, '$state_url', '$code_url', '$data.state' );
            updater_${data.id}.go();
        #end if
    #end for
    </script>
    <div class="infomessagesmall" id="emptyHistoryMessage" style="display:none;">
#end if
        Your history is empty. Click 'Get Data' on the left pane to start
    </div>

</body>

#if $app.config.get( "show_panel_footers", "true" ) == "true"
<div style="height: 20px"></div>
<div id="footer" >
    <div class="footerheader">
        <b>History</b> 
    </div>
    <div>
        <div class="footermenu">
            #if $t.user
                <div style="padding-top: 5px;">
                    #if $history.user
                        <div class="footermenuitem">currently stored as "<a href="$h.url_for('/history_rename', id=$history.id )" target="galaxy_main">$history.name</a>"</div>
                    #else
                        <div class="footermenuitem"><a href="$h.url_for('/history_store')" target="galaxy_main">store</a> this history for later</div>
                    #end if
                    <div class="footermenuitem"><a href="$h.url_for('/history_available')" target="galaxy_main">view</a> previously stored histories</div>
                    #if $len( $history.active_datasets ) > 0 and $history.user not in [ None , "" ]:
                        <div class="footermenuitem"><a href="$h.url_for('/history_new')">create</a> a new empty history</div>
                    #end if
                </div>
            #else
                <div class="footermenumessage">
                    <div class="infomark">You must be <a target="galaxy_main" href="$h.url_for('/user/login')">logged in</a> to store or switch histories.</div>
                </div>
            #end if
            <div class="footermenuitem"><a href="$h.url_for('/history_share')" target="galaxy_main">share</a> current history</div>
            <div class="footermenuitem"><a href="$h.url_for('/history_delete', id=$history.id )" confirm="Are you sure you want to delete the current history?">delete</a> current history</div>
        </div>
    </div>
</div>
#end if

</html>
