<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> Available Histories </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/static/style/base.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="/static/universe.js"></script>
<style>
tr.history_row_deleted td
{
  background-color: #EEEEEE;
}
</style>
</head>
<body>
<SCRIPT language="JavaScript">
function OnSubmitForm()
{
  if(document.history_actions.operation[0].checked == true)
  {
    document.history_actions.action ="/history_share";
  }
  else if(document.history_actions.operation[1].checked == true)
  {

    document.history_actions.action ="/history_rename";
  }
  else if(document.history_actions.operation[2].checked == true)
  {
    if (confirm("Are you sure you want to delete these histories?"))
    {
        document.history_actions.action ="/history_delete";
    }
  }

  return true;
}
</SCRIPT>
    
    #set $user = $t.user
    #set $history = $t.history
    #if $user
    	
    	#if $history.user is None and $history.datasets
    	<div class="warningmessage">
    	    Your current history has not been <a href="/history_store">stored</a> 
    	    and will be lost if you switch to another history. 
    	</div>
    	#end if
    	
    	#if $user.histories
        <h1>Stored Histories</h1>
    	<form name="history_actions" onSubmit="return OnSubmitForm();" method="post" >
	    <table class="colored" border="0" cellspacing="0" cellpadding="0" width="100%">
	        <tr class="header" align="center"><td>Name</td><td>Size</td><td>Last modified</td><td>Actions</td></tr>
	    #for $history in $user.histories
	      #if not( $history.deleted )
	        <tr>
	          <td><input type=checkbox name="id" value="$history.id"
  	        #if $str($history.id) in $ids:
  	        checked 
  	        #end if
  	        >$history.name 
  	        #if $history.deleted
  	        (deleted)
  	        #end if
  	        </td>
  	        <td>${len(history.active_datasets)}</td>
  	        <td>${str(history.update_time)[:19]}</td>
  	        <td>
  	          <a href="history_rename?id=$history.id">rename</a><br />
  	          <a href="history_switch?id=$history.id">switch to</a><br />
  	          <a href="/history_delete?id=$history.id" onclick="confirm_click('/history_delete?id=$history.id');return false;">delete</a>
  	        </td>
	        </tr>
	      #end if
	    #end for
         <tr><th colspan="100%">Action</th></tr>
         <tr><td colspan="100%" align="center"><input type="radio" name="operation" value="1" checked>Share <input type="radio" name="operation" value="2">Rename <input type="radio" name="operation" value="3">Delete </td></tr>
         <tr><td colspan="100%" align="center"><input type="submit" name="submit" value="Perform Action"></td></tr>
	    </table>
        </form>
	    #else
	    You have no stored histories
	    #end if
    	
	#else
	
	<div class="errormessage">
	You must be logged in to store and switch histories
	</div>
	
	#end if

</body>
</html>
