<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>Galaxy</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/static/style/base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/universe.js">var dummy1=0;</script>
</head>

<body onLoad="frame_dw();">

#if $getVar( 'error_message', None )
   <div class="errormessagesmall">$error_message</div>
   <p></p>
#end if

<div class="toolForm" id="$tool.id">
  #if $tool.has_multiple_pages 
  <div class="toolFormTitle">$tool.name (step #echo $tool_state.page+1 # of $tool.npages)</div>
  #else
  <div class="toolFormTitle">$tool.name</div>
  #end if
  <div class="toolFormBody">
  <form name="tool_form" action="$tool.action" enctype="$tool.enctype" target="$tool.target" method="$tool.method">
    <input type="hidden" name="tool_id" value="$tool.id">
    <input type="hidden" name="tool_state" value="$util.object_to_string( $tool_state )">
    
    #if $tool.display_by_page[$tool_state.page]
        
        $caller.fill_template_string( $tool.display_by_page[$tool_state.page], context=$tool.get_param_html_map( $caller, $tool_state.page ) )
        <input type="submit" name="runtool_btn" value="Execute">
        
    #else
    	
		#set $param_list = $tool.param_map_by_page[$tool_state.page].items()
        
        ##Clean-up previously generated repeat parameters, which are identified by a # at the beginning.
        #for $name, $param in $param_list
        	#if $name.count('#') != 0:
        		#del $param_list[$param_list.index(($name,$param))]
        	#end if
        #end for
        
  		#set $new_list = []
        #for $name, $param in $param_list 
			#if $param.repeat:
				#try
			  		#set $param.repeat = $int($param.repeat)
			  	#except
			  		#pass
			  	#end try
			  	#if $isinstance($param.repeat, int)
				  	#set $numloops = $param.repeat
				#else if $isinstance($param.repeat, str)
					#if not($param.repeat.startswith("with_")):
				  		#set $datasets = []
				  	  	#if $isinstance($param_values.get($param.repeat), list):
					  		#for $set in $param_values.get($param.repeat):
			                    $datasets.append("%s" %($set.name))
			                #end for
			                #set $numloops = $len($datasets)
		                #else:
		                	$datasets.append("%s" %($param_values.get($param.repeat).name))
		                	#set $numloops = 1
		                #end if
					#end if
				#end if
                #if $numloops > 1:
			  		#set $j = 1
                	#while $j < $numloops:
                		$new_list.append(("#%s%s" %($j+1,$name), $param))
                		#set $j = $j + 1
                    #end while	
        		#end if
        	#end if
		#end for
		
		#if $new_list != []:
			$new_list.sort()
			$param_list.extend($new_list)
		#end if
		
       
		#set $i=0
		<table>
			#for $name, $param in $param_list
				#set $other_values = {}
				#if $param.condition:
					#try
						#set $status = $int($param_values.get($param.condition))
					#except
						#set $status = 0					
					#end try
				#else:
					#set $status = 1
				#end if
				#if $status:			
					#if $param.repeat and $isinstance($param.repeat, str):
						#if not($param.repeat.startswith("with_")) and $datasets != []:
							<tr>
								<td> Dataset: </td>
								<td> $datasets[$i]</td>
							</tr>
							#set $i = $i + 1
						#end if
					#end if	
					<tr valign="top">
		              <td>
		              		#if $param.type != "hidden":
		              			$param.get_label():
		              		#end if
		              </td>
		              <td>
		              	#if $param.type != "hidden":
		                	<div>$param.get_html( $caller, $param_values.get( $param.name, None ), $param_values )</div>
		                #else:
		                	<div>$param.get_html( $caller, None, $param_values )</div>
		                #end if
		                #if $errors and $errors.has_key( $param.name ):
		                <div style="color: red; font-style: italic; padding-top: 1px; padding-bottom: 3px;">$errors[$param.name]</div>
		                #elif $param.help
		                <div class="toolParamHelp">$param.help</div>
		                #end if
		              </td>
		            </tr>
		        #end if
		  	#end for
        	
        <tr><td></td><td>
            #if $tool_state.page == $tool.last_page
            <input type="submit" name="runtool_btn" value="Execute">
            #else
            <input type="submit" name="runtool_btn" value="Next step">
            #end if
        </td></tr>    
        </table>
    	
    #end if    

  </form>
  </div>
</div>

#if $tool.help
<div class="toolHelp">
     <div class="toolHelpBody">
     #if $tool.has_multiple_pages
     $tool.help_by_page[$tool_state.page]
     #else
     $tool.help
     #end if
     </div>        
</div>
#end if

</body>

</html>