<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>User Settings</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css" />
</head>

<body onLoad="frame_dw();">

<div class="toolForm">
  <h2>User settings for $user.email</h2>
  #if $msg:
     <p class="ok_bgr">$msg</p>
  #end if
  
  <h3>Account settings</h3>
  <ul>
		<li><a href="${h.url_for( action='change_password' )}">Change your password</a></li>
		<li><a href="${h.url_for( action='change_email' )}">Update your email address</a></li>
		<li><a href="${h.url_for( action='logout' )}">Logout</a></li>
	</ul>
	<!--
	<h3>Histories</h3>
	<ul>
		<li><a href="$h.url_for('/history_available')">View</a> your available histories</li>
		<li><a href="$h.url_for('/history_store')">Store</a> your current history</li>
		<li><a href="$h.url_for('/history_delete', id=$history.id )" onclick="confirm_click('$h.url_for('/history_delete', id=$history.id )');return false;">Delete</a> your current history</li>
	</ul>
    -->
</div>
</body>
</html>