<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>Galaxy User Options</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="$h.url_for('/static/style/base.css')" rel="stylesheet" type="text/css" />
</head>

<body onLoad="frame_dw();">

<div class="toolForm">
  <div class="toolFormTitle">User Options</div>
  <div class="toolFormBody">
    <table>
        <tr><td>You may login <a href="$h.url_for('/user/login')">here</a>.</td></tr>
        <tr><td>If you don't have an account you can make one <a href="$h.url_for('/user/create')">here</a>.</td></tr>
    </table>
  </div>
</div>
</body>
</html>