body {
    margin: 0;
    font-family: Helvetica;
    overflow-x: hidden;
    -webkit-user-select: none;
	-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    background-color: #000;
}

*, a {
	/*-webkit-tap-highlight-color: rbga(23,126,191,.5) !important;*/
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.edgetoedge a, .panel a {
	/*-webkit-tap-highlight-color: rbga(23,126,191,.5) !important;*/
	-webkit-tap-highlight-color:rgba(23, 126, 191, .4);
}

body > * {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    min-height: 480px;
    -webkit-transform: translate(0px,0px);
    background-color: #fff;
}

body[orient="landscape"] > * {
    min-height: 320px;
}

body > *[selected="true"], body > *[selected="selected"] {
    display: block;
}

.edgetoedge a[selected=true], .edgetoedge a:active, .panel a[selected=true], .panel a:active {
    background-color: rgb(170,170,238) !important;
}

a[selected="progress"] {
   background-color: rgb(170,170,238) !important;
   background-image: url(img/loading.gif) !important;
   background-repeat: no-repeat !important;
   background-position: right center !important;
}

/* @group Toolbar */
.toolbar {
    -webkit-box-sizing: border-box;
    padding: 10px;
    /* height: 60px; */
    /* padding-top: 28px; */
    /* background: #000 url(img/toolbar.gif) bottom left repeat-x; */
    height: 42px;
    background: rgb(44,49,67);
    position: relative;
}

.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin: 1px 0 0 -75px;
    height: 45px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    /*text-shadow: rgba(0, 0, 0, .75) -1px -1px 0;*/
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f6f6f6;
}

body[orient="landscape"] .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}

/* @end */

.button {
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(img/button.png) 0 5 0 5;
}

.button:active {
	    -webkit-border-image: url(img/button_clicked.png) 0 5 0 5;

}

.blueButton {
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}

.leftButton {
    left: 6px;
    right: auto;
}

.toolbar .back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 15px;
    -webkit-border-image: url(img/back_button.png) 0 8 0 15;
}

.toolbar .back:active {
    -webkit-border-image: url(img/back_button_clicked.png) !important;
}

.whiteButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.whiteButton {
    -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.grayButton {
    -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}


/* @group Edge to edge */

.edgetoedge { 
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.edgetoedge > li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    /* background: url(../img/bg_row.gif) 0 2px repeat-x; */
    color: #999;
}

.edgetoedge > li.group {
    position: relative;
    top: -1px;
    margin-bottom: -2px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #999999;
    padding: 1px 10px;
    background: url(img/listGroup.png) repeat-x;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #FFFFFF;
}

.edgetoedge > li.group:first-child, .inset > li.group:first-child {
    top: 0;
    border-top: none;
}

.edgetoedge a, .inset a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: #000;
    /*
    background-image:  url(img/bg_row.gif), url(img/chevron.png);
    background-repeat: repeat-x, no-repeat;
    background-position: 0 1px, right center;
    */
    background-image: url(img/chevron.png);
    background-repeat: no-repeat;
    background-position: right center;
}
/* @end */

a[target="_replace"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    color: cornflowerblue;
    background-color: #FFFFFF;
    background-image: none;
}
    
body > .dialog {
    top: 0;
    width: 100%;
    min-height: 417px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align: right;
}

.dialog > fieldset {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid #6d84a2;
    padding: 10px 6px;
    background: url(img/toolbar.png) #7388a5 repeat-x;
}

.dialog > fieldset > h1 {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
}

.dialog > fieldset > label {
    position: absolute;
    margin: 16px 0 0 6px;
    font-size: 14px;
    color: #999999;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
}


.panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #c8c8c8 url(img/pinstripes.png);
    overflow: auto;
}

.pad {
	padding: 15px;
}

.panel fieldset {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    /* text-align: right; */
    font-size: 16px;
}

.row  {
    position: relative;
    min-height: 42px;
    border-bottom: 1px solid #999999;
    -webkit-border-radius: 0;
    /* text-align: right; */
}

fieldset .row:last-child {
    border-bottom: none !important;
}

.row > input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 0 110px;
    min-height: 42px;
    background: none;
}

.row > span {
    display: block;
    text-align: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 10px 110px;
    min-height: 42px;
    background: none;
}

.row > a {
    display: block;
    height: 42px;
    text-decoration: none;
    padding: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
    color: #000;
    background-image: url(img/chevron.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.row > label {
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.row > .toggle {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 100px;
    height: 28px;
}

.toggle {
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #FFFFFF url(img/toggle.png) repeat-x;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
}

.toggle[toggled="true"] {
    border: 1px solid #143fae;
    background: #194fdb url(img/toggleOn.png) repeat-x;
}

.toggleOn {
    display: none;
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    top: 0;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

.toggleOff {
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0;
    color: #666666;
}

.toggle[toggled="true"] > .toggleOn {
    display: block;
}

.toggle[toggled="true"] > .toggleOff {
    display: none;
}

.thumb {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 28px;    
    border: 1px solid #888888;
    -webkit-border-radius: 6px;
    background: #ffffff url(img/thumb.png) repeat-x;
}

.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}

.panel h2 {
    margin: 0 0 8px 14px;
    font-size: inherit;
    font-weight: bold;
    color: rgb(17, 20, 23, .5);
    text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0;
}

.panel p a {
	color: #4195ca;
}

#about {
	background: rgb(17, 20, 23);
	color: #ddd;
    text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
    font-size: 20px;
}
