@import "theme/blue.scss";
@import "scss/mixins.scss";

.content-item {
    outline: none;
    // margin-bottom: 1px;
    border-bottom: 1px solid white;

    &:focus-within {
        box-shadow: inset 0 0 1em 0.25em rgba(255, 255, 255, 0.25);
    }

    .content-top-menu {
        cursor: pointer;

        .hid {
            color: adjust-color($text-color, $alpha: -0.6);
            font-size: 80%;
            user-select: none;
            display: inline-block;
            text-align: right;
            min-width: 0.25rem;
            &:not(:empty)::after {
                content: ":";
            }
        }

        .name {
            font-weight: 700;
        }

        /* a fixed-height is important for proper
        functioning of the PriorityMenuItem dropdown since
        it relies on flexbox and overflow */
        min-height: 2em;
    }

    .content-menu button:hover,
    .content-menu .show > button.dropdown-toggle {
        background-color: transparent;
        border-color: transparent;
    }
}

.collapsed .content-item-menu {
    display: flex;
    justify-content: flex-end;
    .primary {
        max-width: 0;
    }
}

