// TODO: Show this to Sam, this is what I need to import
// to use ml-2 because our own base.scss is not importable
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities/spacing";

@import "scss/theme/blue.scss";
@import "scss/mixins";
@import "./operations";


.cloud-auth-key {

    header hgroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h4 {
            cursor: pointer;
            user-select: none;
            margin-bottom: 0;
        }
    }

    form {
        @extend .my-3;
        @extend .pt-3;

        .custom-select {
            background: none; // removes wierd double arrows on select
        }
        
        // Undo butchering from base.css
        .form-row {
            display: flex;
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @extend .pt-3;

            button:not(:first-child) {
                @extend .ml-1;
            }
        }
    }


    // icon menu

    .operations {
        .save a {
            @include fontawesome($fa-var-save)
        }
        .delete a {
            @include fontawesome($fa-var-times);
        }
        .details a {
            @include fontawesome($fa-var-window-minimize);
            &:hover {
                @include fontawesome($fa-var-window-maximize);
            }
        }
    }


    // reverse icons when key is expanded

    &.expanded .details a {
        @include fontawesome($fa-var-window-maximize);
        &:hover {
            @include fontawesome($fa-var-window-minimize);
        }
    }


    // save disk changes color based on form valid/dirty

    // &.valid .save a {
    //     color: $state-success-text;
    // }
    // &:not(.valid) .save a {
    //     color: $state-danger-text;
    // }

}
