alabaster==0.7.10
argh==0.26.2
babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
commonmark==0.5.4
docutils==0.14
funcsigs==1.0.2; python_version < '3.3'
idna==2.6
imagesize==1.0.0
jinja2==2.10
lxml==4.2.1
markupsafe==1.0
mock==2.0.0
nodeenv==1.3.0
nose==1.3.7
nosehtml==0.4.4
packaging==17.1
pathtools==0.1.2
pbr==4.0.2
pygithub3==0.5.1; python_version < '3'
pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
pyyaml==3.12
recommonmark==0.4.0
requests==2.18.4
selenium==3.11.0
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.3.0
sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
testfixtures==6.0.0
twill==0.9.1; python_version < '3'
typing==3.6.4; python_version < '3.5'
urllib3==1.22
watchdog==0.8.3
