body{background:#C1C9E5;color:#303030;background-image:url(menu_bg.png);background-repeat:repeat-x;background-position:top;margin:5px;border:0;padding:0;}
a{color:#303030;}
div.historyLinks{margin:5px 5px;}
div.historyItem{margin:5px -5px 5px 0px;padding:5px 11px 5px 5px;border:solid #888888 1px;border-left:solid #888888 5px;border-right:none;word-wrap:break-word;background:#EEEEEE;}
div.historyItem .state-icon{display:inline-block;vertical-align:middle;width:16px;height:16px;background-position:0 1px;background-repeat:no-repeat;}
div.historyItem .historyItemTitle{font-weight:bold;line-height:16px;}
div.historyItem div.historyItem{margin-right:-11px;}
div.historyItem-ok,div.historyItem-failed_metadata{border-color:#66AA66;background:#CCFFCC;}
div.historyItem-ok .state-icon,div.historyItem-failed_metadata .state-icon{display:none;}
div.historyItem-error{border-color:#AA6666;background:#FFCCCC;}
div.historyItem-error .state-icon{background:url(history-states.png) no-repeat 0px -0px;}
div.historyItem-empty{border-color:#AA6666;background:#FFCCCC;}
div.historyItem-empty .state-icon{background:url(history-states.png) no-repeat 0px -25px;}
div.historyItem-running{border-color:#AAAA66;background:#FFFFCC;}
div.historyItem-running .state-icon{background-image:url(data_running.gif);}
div.historyItem-setting_metadata{border-color:#AAAA66;background:#FFFFCC;}
div.historyItem-setting_metadata .state-icon{background-image:url(data_running.gif);}
div.historyItem-upload{border-color:#6666AA;background:#CCCCFF;}
div.historyItem-upload .state-icon{background-image:url(data_upload.gif);}
div.historyItem-queued{background:#EEEEEE;}
div.historyItem-queued .state-icon{background:url(history-states.png) no-repeat 0px -50px;}
div.historyItem-noPermission{filter:alpha(opacity=60);-moz-opacity:.60;opacity:.60;}
div.historyItemTitleBar.spinner .state-icon{background:url(data_running.gif) 0 1px no-repeat !important;}
div.historyItemButtons{float:right;}
div.historyItemBody div{padding-top:2px;}
pre.peek{background:white;color:black;width:100%;overflow:auto;}
pre.peek th{color:white;background:#023858;}
