body, html
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body
{
    font: 75% verdana, "Bitstream Vera Sans", geneva, arial, helvetica, helve, sans-serif; 
    background: #eee;
}
#background
{
    position: absolute;
    background: #eee;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#masthead 
{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:32px;
    background: url(masthead_bg.png); 
    overflow: hidden; 
    color:#fff;
    font-weight: bold;
    border-bottom: solid #444 1px;
}

#masthead div.title
{
    margin: 3px;
    margin-right: 10px;
    font-size: 182%;
    font-weight: bold;
}

#left, #left-border, #center, #right-border, #right
{
    position: absolute; 
    top: 39px;
    bottom: 0px;
    overflow: hidden; 
    background: #fff;
}
#left, #center, #right
{
    border-top: solid #999 1px;
}
#left-border, #right-border
{
    background: #eeeeee;
    border-left: solid #999 1px;
    border-right: solid #999 1px;
    padding-right: 1px;
    padding-left: 1px;
    width: 5px;
    z-index: 10000;
}
#left-border div, #right-border div
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-position: center center;
    position: absolute;
    width: 5px;
    height: 100%;
}
#left-border div, #right-border.hidden div
{
    background-image: url(tiny_arrow_left.png);
    cursor: w-resize;
}
#left-border.hidden div, #right-border div
{
    background-image: url(tiny_arrow_right.png);
    cursor: e-resize;
}
#left-border.hover div, #right-border.hover div
{
    background-color: #AAAAEE;
}
#left 
{
    left: 0px;
    width: 250px;
    z-index: 200;
}
#left-border 
{
    left: 250px;
}
#center 
{
    left:259px;
    right: 259px;
    overflow: hidden;
    z-index: 1;
}
#right-border 
{
    right: 250px;
}
#right 
{
    width: 250px;
    right: 0px; 
    z-index: 200;
}
td.panel-header
{
    background: #f5f5f5;
    background-image: url(panel_header_bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    padding: 0;
    border-bottom: solid #999 1px;
}
div.panel-header
{
    margin: 0;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
}

table.column-layout
{
    position: absolute; 
    width: 100%; 
    height: 100%;
}

.unified-panel-header {
    height: 2em;
    overflow: hidden;
    z-index: 1000;
    background: #cccccc;
    background-image: url(panel_header_bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    border-bottom: solid #999 1px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
}

.unified-panel-header-inner {
    padding-top: 0.45em;
}

.menu-bg {
    background: #C1C9E5 url(menu_bg.png) top repeat-x;
}
    
div.unified-panel-body {
    position: absolute;
    z-index: 1;
    top: 2em;
    bottom: 0;
    width: 100%;
    margin-top: 1px;
}

.panel-header-button {
    color: #333;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: -1px; padding: 1px;
    border: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background: transparent;
}

.panel-header-button:hover {
    color: black;
    background: #aaaaaa;
}
.panel-header-button:active {
    color: white;
    background: #aaaaaa;
}

div.popupmenu {
    display: none;
    background: #eee;
    position: fixed;
    z-index: 20000;
    background: #cccccc;
    background-image: url(panel_header_bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    border: solid #999 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.popupmenu-top {
    padding-bottom: 3px;
}
div.popupmenu-top-inner {
    height: 10px;
    width: 20px;
    margin-top: -13px;
    margin-left: auto;
    margin-right: 20px;
    background: url(popupmenu_callout_top.png);
}

div.popupmenu-item {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

div.popupmenu-item:hover {
    background: #AAAAEE;
}

#overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 20000;
}

.dialog-box-container {
    position: relative;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}

.dialog-box-wrapper {
    position: relative;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.dialog-box {
    border: solid #999 1px;
    background: white;
    min-width: 230px;
    z-index: 80000;
}

.dialog-box .body, .dialog-box .buttons {
    padding: 5px;
}

.dialog-box body {
    overflow: scroll;
}