#tool-search{padding-top:5px;padding-bottom:10px;position:relative;}
div.toolSectionWrapper{margin-bottom:5px;}
div.toolPanelLabel{padding-top:10px;padding-bottom:5px;font-weight:bold;color:gray;text-transform:uppercase;}
div.toolTitleNoSection{padding-bottom:5px;font-weight:bold;}
