body
{
    background: #023858 url(masthead_bg.png) bottom;
    color: white;
    padding: 0;
    border: 0;
    margin: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

div.pageTitle
{
    font-size: 160%;
    font-weight: bold;
}

div.pageTitle a:link, div.pageTitle a:visited, div.pageTitle a:active, div.pageTitle a:hover
{
    text-decoration: none;
}

a:link, a:visited, a:active
{
    color: #ece7f2;
}