<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Data Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>


  <div class="container">
    <h1><a onclick="router.navigate('', {trigger: true})">Data Library</a></h1>
    <hr />
    <div class="page"></div>
  </div>

<!-- LIBRARY LIST TEMPLATE -->
  <script type="text/template" id="library-list-template">
    <table class="table table-striped">
      <thead>
        <th>name</th>
        <th>description</th>
        <th>synopsis</th> 
        <th>model type</th> 
        <th>id</th> 

      </thead>
      <tbody>
        <% _.each(libraries, function(library) { %>
          <tr>
            <td><a href="#/folders/<%- library.id %>"><%- library.get('name') %></a></td>
            <td><%= htmlEncode(library.get('description')) %></td>
            <td><%= htmlEncode(library.get('synopsis')) %></td>
            <td><%= htmlEncode(library.get('model_class')) %></td>
            <td><a href="#/folders/<%- library.id %>"><%= htmlEncode(library.get('id')) %></a></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </script>


<!-- FOLDERS LIST TEMPLATE -->
  <script type="text/template" id="folder-content-template">

          <% _.each(path, function(path_item) { %>
            <% if (path_item[0] != id) { %>
              <a href='#/folders/<%- path_item[0] %>'><%- path_item[1] %></a> |
            <% } else { %>
              <%- path_item[1] %>
            <% } %>
          <% }); %>

    <table class="table table-hover table-condensed">
      <thead>
        <th style="text-align: center; width: 20px; "><input id="select-all-checkboxes" style="margin: 0;" type="checkbox"></th>
        <th>name</th>
        <th>type</th>
      </thead>
      <tbody>
        <% _.each(items, function(content_item) { %>
          <tr class="folder_row" id="<%- content_item.id %>">
            <td style="text-align: center; "><input style="margin: 0;" type="checkbox"></td>
          <% if (content_item.get('type') === 'folder') { %>
            <td><a href="#/folders/<%- content_item.id %>"><%- content_item.get('name') %></a>
            <% if (content_item.get('item_count') === 0) { %>
              <span class="muted">(empty folder)</span>
            <% } %>
            </td>
          <% } else {  %>
            <td><%- content_item.get('name') %></td>
          <% } %>    
            <td><%= htmlEncode(content_item.get('type')) %></td>
          </tr>
          <% }); %>
      </tbody>
    </table>


  </script>



  <script src="jquery-1.10.2.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="underscore.js" type="text/javascript"></script>
  <script src="backbone.js" type="text/javascript"></script>
  <script src="backbone.queryparams.js" type="text/javascript"></script>


  <script>

    // ENCODE HTML
    function htmlEncode(value){
      return $('<div/>').text(value).html();
    }

    var api_key = 'e48b2b2589b242a50538f8f9fa8e5ee9';

  // MODIFICATIONS DONE JUST BEFORE THE REQUEST ITSELF
    $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
      options.url = 'http://martenson.bx.psu.edu:8080' + options.url + '?key=' + api_key;
    });

  // SERIALIZE JSON
    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
        if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
            o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
        } else {
          o[this.name] = this.value || '';
        }
      });
      return o;
    };

    // LIBRARY
    var Library = Backbone.Model.extend({
      urlRoot: '/api/libraries',
    });
    var Libraries = Backbone.Collection.extend({
      url: '/api/libraries',
      model: Library
    });

    // ITEM
    var Item = Backbone.Model.extend({
    })

    // FOLDER
    var Folder = Backbone.Collection.extend({
      model: Item      
    })

    // Container including metadata
    var FolderContainer = Backbone.Model.extend({
       defaults: {
        folder: new Folder(),
        full_path: "unknown",
        urlRoot: "/api/folders/",
        id: "unknown"
      },
      parse: function(obj) {
          this.full_path = obj[0].full_path;
          // this.folder.reset(obj[1].folder_contents);
          // update the inner collection
          this.get("folder").reset(obj[1].folder_contents);
          return obj;
        }
    })

    var LibraryListView = Backbone.View.extend({
      el: '.page',
      render: function () {
        var that = this;
        if (typeof libraries === "undefined") {
          libraries = new Libraries();
        }
        libraries.fetch({
          success: function (libraries) {
            var template = _.template($('#library-list-template').html(), {libraries: libraries.models});
            that.$el.html(template);
          }
        })
      }
    });

  
    var FolderContentView = Backbone.View.extend({
      el: '.page',
      events: {
        'click #select-all-checkboxes' : 'selectAll',
        'click .folder_row' : 'selectClicked'
      },
      render: function (options, params) {
        var that = this;

        var folderContainer = new FolderContainer({id: options.id});
        folderContainer.url = folderContainer.attributes.urlRoot + options.id + '/contents';

        folderContainer.fetch({
          success: function (container) {
          // folderContainer.attributes.folder = container.attributes.folder;
          var template = _.template($('#folder-content-template').html(), {path: folderContainer.full_path, items: folderContainer.attributes.folder.models, id: options.id});
          that.$el.html(template);
          }
        })
      },
      selectAll : function (ev) {
         var selected = ev.target.checked;
         // Iterate each checkbox
         $(':checkbox').each(function () { this.checked = selected; });
      },
      selectClicked : function (ev) {
        var checkbox = $("#" + ev.target.parentElement.id).find(':checkbox')
        if (checkbox[0] != undefined) {
          if (checkbox[0].checked){
            checkbox[0].checked = '';
          } else {
            checkbox[0].checked = 'selected';
          }
        }
      }
    });


    var libraryListView = new LibraryListView();
    var folderContentView = new FolderContentView();

    var Router = Backbone.Router.extend({
      routes: {
            "" :                                "libraries", 
            "folders/:id" :                     "folder_content"
          }
    });

    var router = new Router;

    router.on('route:libraries', function() {
      // render libraries list
      libraryListView.render();
    })

    router.on('route:folder_content', function(id) {
      // render folder's content
      folderContentView.render({id: id});
    })

    Backbone.history.start();

  </script>
</body>
</html> 
