@import "theme/blue.scss";

html {
    --masthead-color: #{$masthead-color};
    --masthead-text-color: #{$masthead-text-color};
    --masthead-text-hover: #{$masthead-text-hover};
    --masthead-text-active: #{$masthead-text-active};
    --masthead-link-color: #{$masthead-link-color};
    --masthead-link-hover: #{$masthead-link-hover};
    --masthead-link-active: #{$masthead-link-active};
}
