@import "theme/blue.scss";

html {
    --masthead-bg: #{$masthead-bg};
    --masthead-text-color: #{$masthead-text-color};
    --masthead-text-hover: #{$masthead-text-hover};
    --masthead-text-active: #{$masthead-text-active};
    --masthead-list-active: #{darken($masthead-bg, 10%)};
}
