@font-face {
    font-family: "IconicStroke";
    src: url("/static/images/fonts/iconic_stroke.eot");
    src: url("/static/images/fonts/iconic_stroke.eot?#iefix") format("embedded-opentype"),
        url("../../assets/images/fonts/iconic_stroke.ttf") format("truetype"),
        url("../../assets/images/fonts/iconic_stroke.svg#iconic") format("svg");
    font-weight: normal;
    font-style: normal;
}
.iconic {
    display: inline-block;
    font-family: "IconicStroke";
}
.iconic.lightbulb:before {
    content: "\e063";
}
.iconic.equalizer:before {
    content: "\e052";
}
.iconic.map_pin_stroke:before {
    content: "\e068";
}
.iconic.brush_alt:before {
    content: "\e01c";
}
.iconic.move:before {
    content: "\e03e";
}
.iconic.pen_alt_stroke:before {
    content: "\e005";
}
.iconic.move_vertical:before {
    content: "\e03b";
}
.iconic.book_alt2:before {
    content: "\e06a";
}
.iconic.layers:before {
    content: "\e01f";
}
.iconic.pause:before {
    content: "\e049";
}
.iconic.layers_alt:before {
    content: "\e020";
}
.iconic.cloud_upload:before {
    content: "\e045";
}
.iconic.chart_alt:before {
    content: "\e029";
}
.iconic.fullscreen_exit_alt:before {
    content: "\e051";
}
.iconic.cloud_download:before {
    content: "\e044";
}
.iconic.comment_alt2_stroke:before {
    content: "\e004";
}
.iconic.mail:before {
    content: "\2709";
}
.iconic.check_alt:before {
    content: "\2718";
}
.iconic.document_stroke:before {
    content: "\e066";
}
.iconic.battery_charging:before {
    content: "\e05d";
}
.iconic.stop:before {
    content: "\e04a";
}
.iconic.arrow_up:before {
    content: "\2191";
}
.iconic.move_horizontal:before {
    content: "\e038";
}
.iconic.compass:before {
    content: "\e021";
}
.iconic.minus_alt:before {
    content: "\e009";
}
.iconic.battery_empty:before {
    content: "\e05c";
}
.iconic.map_pin_alt:before {
    content: "\e002";
}
.iconic.unlock_stroke:before {
    content: "\e076";
}
.iconic.lock_stroke:before {
    content: "\e075";
}
.iconic.question_mark:before {
    content: "\003f";
}
.iconic.list:before {
    content: "\e055";
}
.iconic.upload:before {
    content: "\e043";
}
.iconic.reload:before {
    content: "\e030";
}
.iconic.loop_alt4:before {
    content: "\e035";
}
.iconic.loop_alt3:before {
    content: "\e034";
}
.iconic.loop_alt2:before {
    content: "\e033";
}
.iconic.loop_alt1:before {
    content: "\e032";
}
.iconic.left_quote:before {
    content: "\275d";
}
.iconic.x:before {
    content: "\2713";
}
.iconic.last:before {
    content: "\e04d";
}
.iconic.document_alt_stroke:before {
    content: "\e000";
}
.iconic.bars:before {
    content: "\e06f";
}
.iconic.arrow_left:before {
    content: "\2190";
}
.iconic.arrow_down:before {
    content: "\2193";
}
.iconic.download:before {
    content: "\e042";
}
.iconic.home:before {
    content: "\2302";
}
.iconic.calendar:before {
    content: "\e001";
}
.iconic.right_quote_alt:before {
    content: "\e012";
}
.iconic.fullscreen:before {
    content: "\e04e";
}
.iconic.dial:before {
    content: "\e058";
}
.iconic.plus_alt:before {
    content: "\e008";
}
.iconic.clock:before {
    content: "\e079";
}
.iconic.movie:before {
    content: "\e060";
}
.iconic.steering_wheel:before {
    content: "\e024";
}
.iconic.pen:before {
    content: "\270e";
}
.iconic.tag_stroke:before {
    content: "\e02b";
}
.iconic.pin:before {
    content: "\e067";
}
.iconic.denied:before {
    content: "\26d4";
}
.iconic.left_quote_alt:before {
    content: "\e011";
}
.iconic.volume_mute:before {
    content: "\e071";
}
.iconic.arrow_up_alt2:before {
    content: "\e018";
}
.iconic.list_nested:before {
    content: "\e056";
}
.iconic.arrow_up_alt1:before {
    content: "\e014";
}
.iconic.comment_stroke:before {
    content: "\e06d";
}
.iconic.undo:before {
    content: "\e02f";
}
.iconic.umbrella:before {
    content: "\2602";
}
.iconic.bolt:before {
    content: "\26a1";
}
.iconic.article:before {
    content: "\e053";
}
.iconic.read_more:before {
    content: "\e054";
}
.iconic.beaker:before {
    content: "\e023";
}
.iconic.beaker_alt:before {
    content: "\e010";
}
.iconic.battery_full:before {
    content: "\e073";
}
.iconic.arrow_right:before {
    content: "\2192";
}
.iconic.new_window:before {
    content: "\e059";
}
.iconic.plus:before {
    content: "\2795";
}
.iconic.cog:before {
    content: "\2699";
}
.iconic.key_stroke:before {
    content: "\26bf";
}
.iconic.first:before {
    content: "\e04c";
}
.iconic.comment_alt1_stroke:before {
    content: "\e003";
}
.iconic.trash_stroke:before {
    content: "\e05a";
}
.iconic.image:before {
    content: "\e027";
}
.iconic.chat_alt_stroke:before {
    content: "\e007";
}
.iconic.cd:before {
    content: "\e064";
}
.iconic.right_quote:before {
    content: "\275e";
}
.iconic.brush:before {
    content: "\e01b";
}
.iconic.cloud:before {
    content: "\2601";
}
.iconic.eye:before {
    content: "\e025";
}
.iconic.play_alt:before {
    content: "\e048";
}
.iconic.transfer:before {
    content: "\e041";
}
.iconic.pen_alt2:before {
    content: "\e006";
}
.iconic.camera:before {
    content: "\e070";
}
.iconic.move_horizontal_alt2:before {
    content: "\e03a";
}
.iconic.curved_arrow:before {
    content: "\2935";
}
.iconic.move_horizontal_alt1:before {
    content: "\e039";
}
.iconic.aperture:before {
    content: "\e026";
}
.iconic.reload_alt:before {
    content: "\e031";
}
.iconic.magnifying_glass:before {
    content: "\e074";
}
.iconic.iphone:before {
    content: "\e06e";
}
.iconic.fork:before {
    content: "\e046";
}
.iconic.box:before {
    content: "\e06b";
}
.iconic.bars_alt:before {
    content: "\e00a";
}
.iconic.heart_stroke:before {
    content: "\2764";
}
.iconic.volume:before {
    content: "\e072";
}
.iconic.x_alt:before {
    content: "\2714";
}
.iconic.link:before {
    content: "\e077";
}
.iconic.moon_stroke:before {
    content: "\263e";
}
.iconic.eyedropper:before {
    content: "\e01e";
}
.iconic.spin:before {
    content: "\e036";
}
.iconic.rss:before {
    content: "\e02c";
}
.iconic.info:before {
    content: "\2139";
}
.iconic.target:before {
    content: "\e02a";
}
.iconic.cursor:before {
    content: "\e057";
}
.iconic.minus:before {
    content: "\2796";
}
.iconic.book_alt:before {
    content: "\e00b";
}
.iconic.headphones:before {
    content: "\e061";
}
.iconic.hash:before {
    content: "\0023";
}
.iconic.arrow_left_alt1:before {
    content: "\e013";
}
.iconic.arrow_left_alt2:before {
    content: "\e017";
}
.iconic.fullscreen_exit:before {
    content: "\e050";
}
.iconic.share:before {
    content: "\e02e";
}
.iconic.fullscreen_alt:before {
    content: "\e04f";
}
.iconic.at:before {
    content: "\0040";
}
.iconic.chat:before {
    content: "\e05e";
}
.iconic.move_vertical_alt2:before {
    content: "\e03d";
}
.iconic.move_vertical_alt1:before {
    content: "\e03c";
}
.iconic.check:before {
    content: "\2717";
}
.iconic.mic:before {
    content: "\e05f";
}
.iconic.calendar_alt_stroke:before {
    content: "\e06c";
}
.iconic.book:before {
    content: "\e069";
}
.iconic.move_alt1:before {
    content: "\e03f";
}
.iconic.move_alt2:before {
    content: "\e040";
}
.iconic.award_stroke:before {
    content: "\e022";
}
.iconic.wrench:before {
    content: "\e078";
}
.iconic.play:before {
    content: "\e047";
}
.iconic.star:before {
    content: "\2605";
}
.iconic.chart:before {
    content: "\e028";
}
.iconic.rain:before {
    content: "\26c6";
}
.iconic.folder_stroke:before {
    content: "\e065";
}
.iconic.sun_stroke:before {
    content: "\2600";
}
.iconic.user:before {
    content: "\e062";
}
.iconic.battery_half:before {
    content: "\e05b";
}
.iconic.aperture_alt:before {
    content: "\e00c";
}
.iconic.eject:before {
    content: "\e04b";
}
.iconic.arrow_down_alt1:before {
    content: "\e016";
}
.iconic.pilcrow:before {
    content: "\00b6";
}
.iconic.arrow_down_alt2:before {
    content: "\e01a";
}
.iconic.arrow_right_alt1:before {
    content: "\e015";
}
.iconic.arrow_right_alt2:before {
    content: "\e019";
}
.iconic.rss_alt:before {
    content: "\e02d";
}
.iconic.spin_alt:before {
    content: "\e037";
}
