@import "theme/blue.scss";
.shed-style-container {
    width: 95%;
    margin: auto;
    margin-top: 1em;
    overflow: auto !important;
    .header {
        h2 {
            float: left;
        }
        span {
            float: right;
        }
    }
}
.ui-autocomplete {
    background-color: #fff;
    li.ui-menu-item {
        list-style-type: none;
    }
}

.masthead-toolshed {
    background-color: $brand-dark;
    height: $masthead-height;
    .navbar-brand {
        position: absolute;
        left: 0.5rem;
        .navbar-brand-image {
            max-height: 2rem;
        }
    }
    .navbar-brand-title {
        color: $brand-light;
        font-size: 1.1rem;
    }
    .nav-link {
        color: $brand-light !important;
    }
}
