.winbox {
    border-radius: $border-radius-base;
    margin-left: 1px;
    margin-top: calc($masthead-height + 1px);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
    border: $border-default;
    font-family: $font-family-sans-serif;
}

.winbox.max {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    .wb-header {
        border-radius: 0;
    }
}

.winbox.min {
    @extend .m-0;
}

.wb-header {
    background: $brand-primary;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
}

.winbox .wb-title {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: bold;
}

.wb-body {
    background: $body-bg;
}

.wb-icon * {
    opacity: 0.65;
}

.wb-icon *:hover {
    opacity: 1;
}

.wb-full {
    display: none !important;
}
