.winbox {
    border-radius: $border-radius-base;
    margin-left: 1px;
    margin-top: calc($masthead-height + 1px);
}

.winbox.max {
    border-radius: 0;
    margin: 0;
    .wb-header {
        border-radius: 0;
    }
}

.winbox.min {
    @extend .m-0;
}

.wb-header {
    background: $brand-info;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
}

.wb-icon * {
    opacity: 0.65;
}

.wb-icon *:hover {
    opacity: 1;
}

.wb-full {
    display: none !important;
}
