.canvas-svg {
    // not sure if hack or not ...
    overflow: visible;
    display: block;
}

.node-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}
.workflow-client {
    .workflow-panel {
        background: $white;
    }
    .workflow-center {
        z-index: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .workflow-recommendations {
            height: 30rem;
        }
        .workflow-node {
            @extend .card;
            @extend .position-absolute;
            z-index: 100;
            width: $workflow-node-width;
            border: solid $brand-primary 1px;
            &.node-highlight {
                z-index: 1001;
                border: solid $white 1px;
                box-shadow: 0 0 0 2px $brand-primary;
            }
            &.node-on-scroll-to {
                z-index: 1001;
                border: solid $white 1px;
                box-shadow: 0 0 0 4px $brand-primary;
                transition: box-shadow 0.5s ease-in-out;
            }
            &.node-active {
                z-index: 1001;
                border: solid $white 1px;
                box-shadow: 0 0 0 3px $brand-primary;
            }
            .node-header {
                @extend .card-header;
                @extend .py-1;
                @extend .px-2;
                cursor: move;
                background: $brand-primary;
                color: $white;
            }
            .node-error {
                @extend .m-0;
                @extend .rounded-0;
                @extend .rounded-bottom;
            }
            .node-body {
                @extend .card-body;
                @extend .p-0;
                @extend .mx-2;
                .rule {
                    height: 0;
                    border: none;
                    border-bottom: dotted $brand-primary 1px;
                    margin: 0 5px;
                }
            }
        }
        .workflow-canvas {
            // Set the position to relative, so that absolute position coordinates are relative to the canvas (and not the top of the iframe)
            position: relative;

            .canvas-content {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: hidden;
            }
            .canvas-background {
                @extend .rounded;
                background: $workflow-editor-bg;
                background-size: $workflow-editor-grid-size $workflow-editor-grid-size;
                background-image: linear-gradient(to right, $workflow-editor-grid-color 1px, transparent 1px),
                    linear-gradient(to bottom, $workflow-editor-grid-color 1px, transparent 1px);
                // Set width and height to 10 times larger than canvas, so that we can zoom out and still see the grid
                width: 1000%;
                height: 1000%;
                // Set the initial position to the center of the canvas, again so that we can zoom out and still see the grid in the top left direction
                top: -500%;
                left: -500%;
                transform-origin: center;
                position: relative;
            }
            .ribbon {
                .ribbon-outer {
                    stroke: $brand-primary;
                }
                .ribbon-outer:active {
                    stroke: $brand-success;
                }
                .ribbon-inner {
                    stroke: $white;
                }
                .ribbon-inner:active {
                    stroke: $brand-success;
                }
                .ribbon-inner-valid {
                    stroke: $brand-success;
                }
                .ribbon-inner-invalid {
                    stroke: $brand-warning;
                }
                &.dashed {
                    stroke-dasharray: 5, 3;
                }
                &:hover .ribbon-outer {
                    stroke: $brand-success;
                }
            }
            .base-terminal {
                @extend .fa;
                @extend .fa-circle;
                @extend .mt-1;
                color: $brand-light;
                position: absolute;
                .icon {
                    @extend .fa;
                    @extend .fa-chevron-circle-right;
                    color: $brand-primary;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }
            }
            .input-terminal {
                @extend .base-terminal;
                left: -0.65rem;
            }
            .output-terminal {
                @extend .base-terminal;
                right: -0.65rem;
                &:hover > .icon {
                    color: $brand-success;
                }
            }
            .input-terminal.multiple {
                font-size: 1.2rem;
                left: -0.8rem;
                top: 3px;
            }
            .output-terminal.multiple {
                font-size: 1.2rem;
                right: -0.8rem;
                bottom: 6px;
            }
            .input-terminal-active.can-accept > .icon {
                color: $brand-success;
            }
            .input-terminal-active.cannot-accept > .icon {
                color: $brand-warning;
            }
            .drag-terminal {
                @extend .fa;
                @extend .fa-circle;
                color: $brand-success;
                position: absolute;
            }
            .mark-terminal {
                @extend .far;
                @extend .fa-square;
                color: $brand-primary;
                cursor: pointer;
                &.mark-terminal-active {
                    @extend .fa;
                    @extend .fa-check-square;
                }
                &.mark-terminal-visible {
                    @extend .fa;
                    @extend .fa-eye;
                }
                &.mark-terminal-hidden {
                    @extend .fa;
                    @extend .fa-eye-slash;
                }
            }
            .delete-terminal {
                @extend .btn;
                @extend .btn-sm;
                @extend .btn-danger;
                @extend .fa;
                @extend .fa-minus-circle;
                @extend .p-1;
                @extend .mt-1;
                cursor: pointer;
                position: absolute;
                z-index: 2500;
                top: 2px;
                left: -0.8rem;
            }
            .callout-terminal {
                @extend .float-left;
                @extend .mr-1;
            }
            .workflow-overview {
                --workflow-overview-size: 150px;
                --workflow-overview-min-size: 50px;
                --workflow-overview-max-size: 300px;
                --workflow-overview-padding: 7px;
                --workflow-overview-border: 1px;

                border-top-left-radius: 0.3rem;
                cursor: nwse-resize;
                position: absolute;
                width: var(--workflow-overview-size);
                height: var(--workflow-overview-size);
                right: 0px;
                bottom: 0px;
                border-top: solid $border-color var(--workflow-overview-border);
                border-left: solid $border-color var(--workflow-overview-border);
                background: $workflow-overview-bg no-repeat url("../../assets/images/resizable.png");
                z-index: 20000;
                overflow: hidden;
                padding: var(--workflow-overview-padding) 0 0 var(--workflow-overview-padding);

                // account for padding and border
                max-width: calc(
                    var(--workflow-overview-max-size) + var(--workflow-overview-padding) +
                        var(--workflow-overview-border)
                );
                max-height: calc(
                    var(--workflow-overview-max-size) + var(--workflow-overview-padding) +
                        var(--workflow-overview-border)
                );
                min-width: calc(
                    var(--workflow-overview-min-size) + var(--workflow-overview-padding) +
                        var(--workflow-overview-border)
                );
                min-height: calc(
                    var(--workflow-overview-min-size) + var(--workflow-overview-padding) +
                        var(--workflow-overview-border)
                );

                .workflow-overview-body {
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                }
            }
            #input-choices-menu {
                color: black;
            }
        }
        .workflow-report-body {
            display: flex;
        }
        #overview-container {
            position: absolute;
        }
        #overview-canvas {
            width: 100%;
            height: 100%;
        }
        #overview-viewport {
            @extend .rounded;
            position: absolute;
            width: 0px;
            height: 0px;
            border: solid $brand-info 3px;
            background: $white;
            opacity: 0.8;
            z-index: 10;
        }
        canvas {
            position: absolute;
            z-index: 10;
        }
        canvas.dragging {
            position: absolute;
            z-index: 1000;
        }
    }
}

.workflow-recommendations {
    display: block;
    .header-background {
        border-bottom: solid 1px $brand-primary;
        margin-bottom: 0.5rem;
    }
}
