-i https://wheels.galaxyproject.org/simple
--extra-index-url https://pypi.python.org/simple
adal==1.2.3
amqp==2.5.2
appdirs==1.4.3
attmap==0.12.11
attrs==19.3.0
azure-common==1.1.14
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.4
azure-mgmt-compute==4.0.1
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-network==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==2.0.0
azure-mgmt-storage==2.0.0
azure-nspkg==3.0.2
azure-storage-blob==1.3.1
azure-storage-common==1.4.2
azure-storage-nspkg==3.1.0
babel==2.8.0
bagit==1.7.0
bcrypt==3.1.7
bdbag==1.5.6
beaker==1.11.0
bioblend==0.13.0
bleach==3.1.5
boltons==20.1.0
boto3==1.9.114
boto==2.49.0
botocore==1.12.253
bx-python==0.8.8
bz2file==0.98 ; python_version < '3.3'
cachecontrol==0.11.7
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cheetah3==3.2.4
cliff==2.18.0
cloudauthz==0.6.0
cloudbridge==2.0.0
cmd2==0.8.9
coloredlogs==14.0
configparser==4.0.2 ; python_version < '3.2'
contextlib2==0.6.0.post1 ; python_version < '3.5'
cryptography==2.9.2
cwltool==1.0.20191225192155
debtcollector==1.22.0
decorator==4.4.2
deprecated==1.2.9
deprecation==2.1.0
dictobj==0.4
docopt==0.6.2
docutils==0.15.2
dogpile.cache==0.9.1
ecdsa==0.15
enum34==1.1.10 ; python_version < '3.4'
fabric3==1.14.post1
funcsigs==1.0.2 ; python_version < '3.3'
functools32==3.2.3.post2 ; python_version < '3.2'
future==0.18.2
futures==3.3.0 ; python_version == '2.6' or python_version == '2.7'
galaxy-sequence-utils==1.1.5
google-api-python-client==1.7.8
google-auth-httplib2==0.0.3
google-auth==1.14.1
gxformat2==0.11.3
h5py==2.10.0
httplib2==0.17.3
humanfriendly==8.2
idna==2.9
importlib-metadata==1.6.0 ; python_version < '3.8'
ipaddress==1.0.23 ; python_version < '3.3'
isa-rwval==0.10.7
iso8601==0.1.12
isodate==0.6.0
jmespath==0.9.5
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
keystoneauth1==4.0.0
kombu==4.6.11
lockfile==0.12.2
lxml==4.5.0
mako==1.1.2
markdown==3.1.1
markupsafe==1.1.1
mercurial==5.4
mistune==0.8.4
monotonic==1.5
msgpack==1.0.0
msrest==0.5.5
msrestazure==0.5.0
munch==2.5.0
mypy-extensions==0.4.3
netaddr==0.7.19
netifaces==0.10.9
networkx==1.11
nodeenv==1.3.5
nose==1.3.7
numpy==1.16.6
oauth2client==4.1.3
oauthlib==3.1.0
openstacksdk==0.17.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.0.0
oslo.config==7.0.0
oslo.context==2.23.0
oslo.i18n==3.25.1
oslo.log==3.45.2
oslo.serialization==2.29.2
oslo.utils==3.42.1
oyaml==0.9
packaging==20.3
paramiko==2.7.1
parsley==1.3
paste==3.4.0
pastedeploy==2.1.0
pastescript==3.2.0
pathlib2==2.3.5 ; python_version < '3.6'
pbr==5.4.5
prettytable==0.7.2
prov==1.5.1
psutil==5.7.0
pulsar-galaxy-lib==0.14.0.dev3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.9.7
pyeventsystem==0.1.0
pyinotify==0.9.6 ; sys_platform != 'win32' and sys_platform != 'darwin' and sys_platform != 'sunos5'
pyjwt==1.7.1
pykwalify==1.7.0
pynacl==1.3.0
pyopenssl==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pyrsistent==0.16.0
pysam==0.16.0.1
pysftp==0.2.9
python-cinderclient==4.0.0
python-dateutil==2.8.1
python-glanceclient==2.12.0
python-jose==3.1.0
python-keystoneclient==3.17.0
python-neutronclient==6.9.0
python-novaclient==11.0.0
python-openid==2.2.5 ; python_version < '3.0'
python-swiftclient==3.6.0
pytz==2020.1
pyuwsgi==2.0.18.post0
pyyaml==5.3.1
rdflib-jsonld==0.4.0
rdflib==4.2.2
refgenconf==0.7.0
repoze.lru==0.7
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.23.0
requestsexceptions==1.4.0
rfc3986==1.4.0
routes==2.4.1
rsa==4.0
ruamel.ordereddict==0.4.14 ; platform_python_implementation == 'CPython' and python_version <= '2.7'
ruamel.yaml.clib==0.2.0 ; platform_python_implementation == 'CPython' and python_version < '3.8'
ruamel.yaml==0.16.0
s3transfer==0.2.1
scandir==1.10.0 ; python_version < '3.5'
schema-salad==4.5.20191229160203
setuptools-scm==3.5.0
shellescape==3.4.1
simplejson==3.17.0
six==1.11.0
social-auth-core[openidconnect]==3.3.0
sortedcontainers==2.1.0
sqlalchemy-migrate==0.13.0
sqlalchemy-utils==0.36.5
sqlalchemy==1.3.16
sqlparse==0.3.1
stevedore==1.32.0
subprocess32==3.5.4 ; python_version < '3.0'
svgwrite==1.3.1
tempita==0.5.2
tenacity==4.12.0
tqdm==4.46.0
typing-extensions==3.7.4.2
typing==3.7.4.1 ; python_version < '3.5'
tzlocal==2.0.0
ubiquerg==0.5.1
unicodecsv==0.14.1 ; python_version < '3.0'
unidecode==1.1.1 ; python_version < '3.0'
uritemplate==3.0.1
urllib3==1.25.9
vine==1.3.0
warlock==1.3.3
wcwidth==0.1.9
webencodings==0.5.1
webob==1.8.6
whoosh==2.7.4
wrapt==1.12.1
yacman==0.6.7
zipp==1.2.0
