-i https://wheels.galaxyproject.org/simple
--extra-index-url https://pypi.python.org/simple
adal==1.2.2
amqp==2.5.1
appdirs==1.4.3
asn1crypto==0.24.0
attrs==19.1.0
avro==1.8.1 ; python_version < '3'
azure-common==1.1.14
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.4
azure-mgmt-compute==4.0.1
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-network==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==2.0.0
azure-mgmt-storage==2.0.0
azure-nspkg==3.0.2
azure-storage-blob==1.3.1
azure-storage-common==1.4.2
azure-storage-nspkg==3.1.0
babel==2.7.0
bagit==1.6.4
bcrypt==3.1.7
bdbag==1.4.1
beaker==1.10.1
bioblend==0.13.0
bleach==3.1.0
boltons==19.1.0
boto3==1.9.114
boto==2.49.0
botocore==1.12.212
bx-python==0.8.4
bz2file==0.98 ; python_version < '3.3'
cachecontrol==0.11.7
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cheetah3==3.2.3
cliff==2.15.0
cloudauthz==0.6.0
cloudbridge==2.0.0
cmd2==0.8.9
configparser==3.8.1 ; python_version < '3.2'
contextlib2==0.5.5 ; python_version < '3.5'
cryptography==2.7
cwltool==1.0.20180721142728
debtcollector==1.21.0
decorator==4.4.0
deprecated==1.2.6
deprecation==2.0.7
dictobj==0.4
docopt==0.6.2
docutils==0.15.2
dogpile.cache==0.7.1
ecdsa==0.13.2
enum34==1.1.6 ; python_version < '3.4'
fabric3==1.14.post1
funcsigs==1.0.2 ; python_version < '3.3'
functools32==3.2.3.post2 ; python_version < '3.2'
future==0.17.1
futures==3.3.0 ; python_version == '2.6' or python_version == '2.7'
galaxy-sequence-utils==1.1.3
google-api-python-client==1.7.8
google-auth-httplib2==0.0.3
google-auth==1.6.3
gxformat2==0.9.0
h5py==2.9.0
httplib2==0.13.1
idna==2.8
importlib-metadata==0.19
ipaddress==1.0.22 ; python_version < '3.3'
isa-rwval==0.10.7
iso8601==0.1.12
isodate==0.6.0
jmespath==0.9.4
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.0.2
keystoneauth1==3.17.0
kombu==4.6.4
lockfile==0.12.2
lxml==4.4.1
mako==1.1.0
markupsafe==1.1.1
mercurial==3.7.3 ; python_version < '3'
mistune==0.8.4
monotonic==1.5
msgpack==0.6.1
msrest==0.5.5
msrestazure==0.5.0
munch==2.3.2
mypy-extensions==0.4.1
netaddr==0.7.19
netifaces==0.10.9
networkx==1.11
nodeenv==1.3.3
nose==1.3.7
numpy==1.16.4
oauth2client==4.1.3
oauthlib==3.1.0
openstacksdk==0.17.0
os-client-config==1.32.0
os-service-types==1.7.0
osc-lib==1.13.0
oslo.config==6.11.0
oslo.context==2.22.1
oslo.i18n==3.23.1
oslo.log==3.44.0
oslo.serialization==2.29.1
oslo.utils==3.41.0
packaging==19.1
paramiko==2.6.0
parsley==1.3
paste==3.1.0
pastedeploy==2.0.1
pastescript==3.1.0
pathlib2==2.3.2 ; python_version < '3'
pbr==5.4.2
prettytable==0.7.2
prov==1.5.1
psutil==5.6.3
pulsar-galaxy-lib==0.13.0
pyasn1-modules==0.2.6
pyasn1==0.4.6
pycparser==2.19
pycryptodome==3.8.2
pyeventsystem==0.1.0
pyinotify==0.9.6 ; sys_platform != 'win32' and sys_platform != 'darwin' and sys_platform != 'sunos5'
pyjwt==1.7.1
pykwalify==1.7.0
pynacl==1.3.0
pyopenssl==19.0.0
pyparsing==2.4.2
pyperclip==1.7.0
pyrsistent==0.15.4
pysam==0.15.2
pysftp==0.2.9
python-cinderclient==4.0.0
python-dateutil==2.8.0
python-genomespaceclient==1.2.0
python-glanceclient==2.12.0
python-jose==3.0.1
python-keystoneclient==3.17.0
python-neutronclient==6.9.0
python-novaclient==11.0.0
python-openid==2.2.5 ; python_version < '3.0'
python-swiftclient==3.6.0
pytz==2019.2
pyuwsgi==2.0.18.post0
pyyaml==5.1.2
rdflib-jsonld==0.4.0
rdflib==4.2.2
repoze.lru==0.7
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
requests==2.22.0
requestsexceptions==1.4.0
rfc3986==1.3.2
routes==2.4.1
rsa==4.0
ruamel.ordereddict==0.4.14 ; platform_python_implementation == 'CPython' and python_version <= '2.7'
ruamel.yaml==0.15.100
s3transfer==0.2.1
scandir==1.10.0 ; python_version < '3.5'
schema-salad==2.7.20181126142424
shellescape==3.4.1
simplejson==3.16.0
six==1.11.0
social-auth-core[openidconnect]==3.1.0+gx0
sqlalchemy-migrate==0.12.0
sqlalchemy-utils==0.34.2
sqlalchemy==1.3.7
sqlparse==0.3.0
stevedore==1.30.1
subprocess32==3.5.4 ; python_version < '3.0'
svgwrite==1.3.1
tempita==0.5.2
tenacity==4.12.0
typing-extensions==3.7.4
typing==3.7.4 ; python_version < '3.5'
tzlocal==2.0.0
unicodecsv==0.14.1 ; python_version < '3.0'
uritemplate==3.0.0
urllib3==1.25.3 ; python_version == '2.7'
vine==1.3.0
warlock==1.3.3
wcwidth==0.1.7 ; sys_platform != 'win32'
webencodings==0.5.1
webob==1.8.5
whoosh==2.7.4
wrapt==1.11.2
zipp==0.5.2
