-i https://wheels.galaxyproject.org/simple
--extra-index-url https://pypi.python.org/simple
alabaster==0.7.12
attrs==19.3.0
babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
commonmark==0.9.1
coverage==5.1
deprecated==1.2.10
docutils==0.15.2
gunicorn==20.0.4
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.1 ; python_version < '3.8'
jinja2==2.11.2
lxml==4.6.2
markdown==3.2.2
markupsafe==1.1.1
mirakuru==2.0.2
mock==3.0.5
more-itertools==8.4.0
nose==1.3.7
nosehtml==0.4.6
packaging==20.4
pathlib2==2.3.5 ; python_version < '3.6'
pathtools==0.1.2
pluggy==0.13.1
port-for==0.4
prettytable==0.7.2
psutil==5.7.0
py==1.8.2
pygithub==1.51
pygments==2.6.1
pyjwt==1.7.1
pyparsing==2.4.7
pytest-cov==2.10.0
pytest-html==1.22.1
pytest-metadata==1.8.0
pytest-mock==3.1.1
pytest-postgresql==2.3.0
pytest-pythonpath==0.7.3
pytest==5.4.3
python-irodsclient==0.8.3
pytz==2020.1
recommonmark==0.6.0
requests==2.24.0
responses==0.10.15
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.0
sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testfixtures==6.14.1
twill==2.0
urllib3==1.25.9
watchdog==0.10.2
wcwidth==0.2.5
wrapt==1.12.1
xmlrunner==1.7.7
zipp==1.2.0 ; python_version < '3.8'
