-i https://wheels.galaxyproject.org/simple
--extra-index-url https://pypi.python.org/simple
adal==1.2.4
alabaster==0.7.12
amqp==2.6.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
appdirs==1.4.4
attmap==0.12.11
attrs==19.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
azure-common==1.1.14
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.4
azure-mgmt-compute==4.0.1
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-network==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==2.0.0
azure-mgmt-storage==2.0.0
azure-nspkg==3.0.2
azure-storage-blob==1.3.1
azure-storage-common==1.4.2
azure-storage-nspkg==3.1.0
babel==2.8.0
bagit==1.7.0
bcrypt==3.1.7; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
bdbag==1.5.6
beaker==1.11.0
bioblend==0.14.0
bleach==3.1.5
boltons==20.2.0
boto3==1.9.114
boto==2.49.0
botocore==1.12.253
bx-python==0.8.9
cachecontrol==0.11.7
cachetools==4.1.1; python_version ~= '3.5'
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cheetah3==3.2.5
cliff==3.1.0; python_version >= '3.5'
cloudauthz==0.6.0
cloudbridge==2.0.0
cmd2==0.8.9
coloredlogs==14.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
commonmark==0.9.1
coverage==5.2.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
cryptography==3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
cwltool==3.0.20200724003302
debtcollector==1.22.0
decorator==4.4.2
defusedxml==0.6.0; python_version >= '3.0'
deprecated==1.2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
deprecation==2.1.0
dictobj==0.4
docopt==0.6.2
docutils==0.15.2
dogpile.cache==0.9.2
ecdsa==0.15
fabric3==1.14.post1
future==0.18.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
futures==3.1.1
galaxy-sequence-utils==1.1.5
google-api-python-client==1.7.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-auth-httplib2==0.0.4
google-auth==1.20.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
gunicorn==20.0.4
gxformat2==0.13.1
h5py==2.10.0
httplib2==0.18.1
humanfriendly==8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
imagesize==1.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
importlib-metadata==1.7.0; python_version < '3.8'
importlib-resources==3.0.0; python_version < '3.7'
iniconfig==1.0.1
isa-rwval==0.10.9
iso8601==0.1.12
isodate==0.6.0
jinja2==2.11.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jmespath==0.10.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
jsonpatch==1.26; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jsonpointer==2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
jsonschema==3.2.0
keystoneauth1==4.1.0; python_version >= '3.5'
kombu==4.6.11
lockfile==0.12.2
lxml==4.5.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
mako==1.1.3
markdown==3.2.2
markupsafe==1.1.1
mercurial==5.5
mirakuru==2.0.2; python_version >= '3.5'
mistune==0.8.4
mock==3.0.5
more-itertools==8.4.0
msgpack==1.0.0
msrest==0.5.5
msrestazure==0.5.0
munch==2.5.0
mypy-extensions==0.4.3
netaddr==0.8.0
netifaces==0.10.9
networkx==1.11
nodeenv==1.4.0
nose==1.3.7
nosehtml==0.4.6
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
openstacksdk==0.17.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.0.0
oslo.config==7.0.0
oslo.context==2.23.1
oslo.i18n==3.25.1
oslo.log==3.45.2
oslo.serialization==2.29.2
oslo.utils==3.42.1
oyaml==0.9
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
paramiko==2.7.1
parsley==1.3
paste==3.4.3
pastedeploy==2.1.0
pastescript==3.2.0
pathlib2==2.3.5 ; python_version < '3.6'
pathtools==0.1.2
pbr==5.4.5
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
port-for==0.4
prettytable==0.7.2
prov==1.5.1
psutil==5.7.2
pulsar-galaxy-lib==0.14.0.dev4
py==1.9.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pycryptodome==3.9.8
pydot==1.4.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyeventsystem==0.1.0
pyfaidx==0.5.9.1
pygithub==1.52
pygments==2.6.1; python_version >= '3.5'
pyinotify==0.9.6 ; sys_platform != 'win32' and sys_platform != 'darwin' and sys_platform != 'sunos5'
pyjwt==1.7.1
pykwalify==1.7.0
pynacl==1.4.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyopenssl==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pyrsistent==0.16.0
pysam==0.16.0.1
pysftp==0.2.9
pytest-cov==2.10.0
pytest-html==1.22.1
pytest-metadata==1.8.0
pytest-mock==3.2.0
pytest-postgresql==2.3.0
pytest-pythonpath==0.7.3
pytest==6.0.1
python-cinderclient==4.0.0
python-dateutil==2.8.1
python-glanceclient==2.12.0
python-irodsclient==0.8.3
python-jose==3.2.0
python-keystoneclient==3.17.0
python-neutronclient==6.9.0
python-novaclient==11.0.0
python-swiftclient==3.6.0
python3-openid==3.2.0; python_version >= '3.0'
pytz==2020.1
pyuwsgi==2.0.19.1
pyyaml==5.3.1
rdflib-jsonld==0.5.0
rdflib==4.2.2
recommonmark==0.6.0
refgenconf==0.9.1
repoze.lru==0.7
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests==2.24.0
requestsexceptions==1.4.0
responses==0.10.15
rfc3986==1.4.0
routes==2.4.1
rsa==4.6; python_version >= '3.5'
ruamel.yaml.clib==0.2.0; python_version < '3.8' and platform_python_implementation == 'CPython'
ruamel.yaml==0.16.5
s3transfer==0.2.1
schema-salad==7.0.20200612160654; python_version >= '3.5'
selenium==3.141.0
setuptools-scm==4.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
shellescape==3.4.1
simplejson==3.17.2; python_version >= '2.5' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.15.0
snowballstemmer==2.0.0
social-auth-core[openidconnect]==3.3.0
sortedcontainers==2.2.2
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.0
sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2; python_version >= '3.5'
sphinxcontrib-devhelp==1.0.2; python_version >= '3.5'
sphinxcontrib-htmlhelp==1.0.3; python_version >= '3.5'
sphinxcontrib-jsmath==1.0.1; python_version >= '3.5'
sphinxcontrib-qthelp==1.0.3; python_version >= '3.5'
sphinxcontrib-serializinghtml==1.1.4; python_version >= '3.5'
sqlalchemy-migrate==0.13.0
sqlalchemy-utils==0.36.8
sqlalchemy==1.3.18
sqlparse==0.3.1
stevedore==1.32.0
svgwrite==1.3.1
tempita==0.5.2
tenacity==4.12.0
testfixtures==6.14.1
toml==0.10.1
tqdm==4.48.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
twill==2.0.1
typing-extensions==3.7.4.2
typing==3.7.4.3 ; python_version < '3.5'
tzlocal==2.1
ubiquerg==0.6.1
unidecode==1.1.1; python_version >= '3.0'
uritemplate==3.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
urllib3==1.25.10
vine==1.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
warlock==1.3.3
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
webob==1.8.6
whoosh==2.7.4
wrapt==1.12.1
xmlrunner==1.7.7
yacman==0.6.9
zipp==1.2.0; python_version < '3.8'
