[[source]]
url = "https://wheels.galaxyproject.org/simple"
verify_ssl = true
name = "galaxy"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
gunicorn = "*"
lxml = "!=4.2.2"
mock = "*"
NoseHTML = "*"
pygithub = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
pytest-postgresql = "*"
recommonmark = "*"
responses = "*"
selenium = "*"
Sphinx = "*"
sphinx_markdown_tables = "*"
sphinx_rtd_theme = "*"
testfixtures = "*"
twill = "*"
watchdog = "*"
python-irodsclient = "*"

[packages]
numpy = "*"
bx-python = "*"
MarkupSafe = "*"
Markdown = "*"
# Optional requirement for markdown export.
# Weasyprint = "==0.42"
PyYAML = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
Mercurial = "*"
nodeenv = "*"
pycryptodome = "*"
pyuwsgi = "*"
pysam = "*"
bdbag = "*"
bleach = "*"
cwltool = "==1.0.20191225192155"
isa-rwval = "*"
boltons = "*"
Paste = "*"
docutils = "*"
Routes = "*"
WebOb = "*"
Mako = "*"
Babel = "*"
Beaker = "*"
dictobj = "*"
nose = "*"
Parsley = "*"
six = "*"
sortedcontainers = "*"
Whoosh = "*"
galaxy_sequence_utils = "*"
"h5py" = "!=2.7.0, !=2.7.1"
pykwalify = "*"
"Cheetah3" = "*"
requests = "*"
bioblend = "*"
boto = "*"
kombu = "*"
psutil = "*"
pulsar-galaxy-lib = "==0.14.0.dev4"
sqlalchemy-migrate = "*"
sqlitedict = "*"
sqlparse = "*"
svgwrite = "*"
pyparsing = "*"
"Fabric3" = "*"
paramiko = "*"
cloudbridge = "*"
social-auth-core = {version = "==3.3.0", extras = ['openidconnect']}
cloudauthz = "==0.6.0"
gxformat2 = "*"
refgenconf = ">=0.7.0"

[requires]
python_version = "3.5"
