name: API tests
on:
  push:
    paths-ignore:
      - 'client/**'
      - 'doc/**'
      - 'lib/galaxy_test/selenium/**'
  pull_request:
    paths-ignore:
      - 'client/**'
      - 'doc/**'
      - 'lib/galaxy_test/selenium/**'
  schedule:
    # Run at midnight UTC every Tuesday
    - cron: '0 0 * * 2'
  workflow_dispatch:
    inputs:
      repository:
        description: 'Repository to fetch code from'
        default: "galaxyproject/galaxy"
        required: true
      ref:
        description: 'Branch, tag or SHA to checkout'
        default: ""
      env_vars:
        description: 'The environment variables to set'
        required: false
env:
  GALAXY_DEPENDENCIES_INSTALL_WEASYPRINT: '1'
  GALAXY_TEST_DBURI: 'postgresql://postgres:postgres@localhost:5432/galaxy?client_encoding=utf8'
  GALAXY_TEST_RAISE_EXCEPTION_ON_HISTORYLESS_HDA: '1'
  GALAXY_CONFIG_SQLALCHEMY_WARN_20: '1'
concurrency:
  group: api-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7']
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
    steps:
      - if: github.event_name == 'schedule'
        run: |
          echo "GALAXY_CONFIG_OVERRIDE_METADATA_STRATEGY=extended" >> $GITHUB_ENV
          echo "GALAXY_CONFIG_OVERRIDE_OUTPUTS_TO_WORKING_DIRECTORY=true" >> $GITHUB_ENV
      - if: github.event_name == 'workflow_dispatch'
        run:
          echo "${{ github.event.inputs.env_vars }}" | tr " " "\n" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        if: github.event_name != 'workflow_dispatch'
        with:
          path: 'galaxy root'
      - uses: actions/checkout@v2
        if: github.event_name == 'workflow_dispatch'
        with:
          repository: ${{ github.event.inputs.repository }}
          ref: ${{ github.event.inputs.ref }}
          path: 'galaxy root'
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Get full Python version
        id: full-python-version
        shell: bash
        run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")
      - name: Cache pip dir
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-cache-${{ matrix.python-version }}-${{ hashFiles('galaxy root/requirements.txt') }}
      - name: Cache galaxy venv
        uses: actions/cache@v2
        with:
          path: .venv
          key: gxy-venv-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('galaxy root/requirements.txt') }}-api
      - name: Run tests
        run: ./run_tests.sh --coverage --skip_flakey_fails -api
        working-directory: 'galaxy root'
      - uses: codecov/codecov-action@v2
        with:
          flags: api
          working-directory: 'galaxy root'
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: API test results (${{ matrix.python-version }})
          path: 'galaxy root/run_api_tests.html'
