name: Update dependencies
on:
  schedule:
    - cron: '0 3 * * 6'  # Run every saturday at 3 am.
jobs:
  update_dependencies:
    name: Update dependencies
    if: github.repository_owner == 'galaxyproject'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7']
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip dir
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-cache-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}
      - name: Update dependencies
        run: | 
          python -m venv .venv
          make update-dependencies
      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          author: galaxybot <galaxybot@users.noreply.github.com>
          token: ${{ secrets.GALAXYBOT_PAT }}
          commit-message: Update Python dependencies
          branch: dev_auto_update_dependencies
          delete-branch: true
          push-to-fork: galaxybot/galaxy
          title: Update Python dependencies
          body: Run `make update-dependencies`.
          labels: |
            area/dependencies
            kind/enhancement
